[2014-10-21 02:33] cpg opened #2 "compilation failure"
ideas?

[code]

[2014-10-28 10:42] #2 closed, assigned to nobody

[2017-03-01 16:09] DravitLochan opened #13 "could not set up"
could not build the project. it says
"Error:Failed to open zip file.
Gradle's dependency cache may be corrupt (this sometimes occurs after a network connection timeout.)
Re-download dependencies and sync project (requires network)
Re-download dependencies and sync project (requires network)"

any help?

[2017-03-01 17:47] megabitdragon commented on #13
I can't reproduce this. Make sure you have internet connection and retry.

[2017-03-01 17:47] #13 closed

[2017-03-01 18:10] DravitLochan commented on #13
well i am connected to internet.

[2017-03-02 06:30] jainadit27 opened #14 "Setting up project"
I have the code up and running. Where can I find URL, ID and SECRET to be updated in api.properties? I have registered on Amahi website.

[2017-03-02 07:19] mehtamanan0 commented on #14
Even i had the same problem while setting up cpg shared it
Here's the link:
http://alpha.amahi.org/tmp/api.properties

[2017-03-02 08:43] cpg commented on #14
@mehtamanan0 In the file, it makes it very clear that this file should not be shared with others. And you were told when the URL was given to you. These sort of API keys are meant to not be public.

[2017-03-02 08:43] #14 closed

[2017-03-02 08:50] mehtamanan0 commented on #14
@cpg im so sorry for this mistake this will not happen again.

[2017-03-02 08:53] jainadit27 commented on #14
@cpg Can you please share the file

[2017-03-04 11:13] cpg opened #17 "best ways to handle libvlc"
We have discussed this before, and as we move forward, we will want to handle `libvlc` as smoothly as possible.

From my point of view (not being an Android expert), I see two main issues:

1. ~~compilation process for this app to bundle it in. we talked about using gradle to get it in. I am not sure if this is settled or not, though I see people compiling apks that crash with [1] when trying to s

[2017-03-04 13:44] megabitdragon commented on #17
I agree we need to use Android media library to handle all the media it can support. And fall back to libvlc for unsupported formats.

The libvlc used by the app is outdated. I'll build the newest version against the latest sdk/ndk and make it available.

[2017-03-04 17:24] dynamitechetan commented on #17
libvlc does not even compile at first with gradle build.
Please fix it . I want to contribute to this project but I am having trouble building the source code.

[2017-03-05 05:49] csoni111 opened #18 "okHttpClient cache restricts fetching new data from server, showing outdated results"
A cache of size approx 10 MB has been [set ](https://github.com/amahi/android/blob/master/src/main/java/org/amahi/anywhere/server/ApiModule.java#L59) to the default singleton OkHttpClient. So as a http content is request, for the first time it fetches it from the server but from next time onwards it does not send an actual request and rather load the previous response from the cache itself.
This r

[2017-03-05 06:00] csoni111 commented on #18
Suggest if this change is feasible?

[2017-03-05 12:27] top-gun007 opened #19 "Enhancement: Password field visibility"
**Summary**:
There should be a button to view typed in password just like in all popular apps.

**Screenshot:**
![image](https://cloud.githubusercontent.com/assets/15179401/23587193/05648784-01cd-11e7-8186-5a2611d0ab12.png)

[2017-03-05 12:35] top-gun007 commented on #17
Can I work on it.

[2017-03-05 12:37] top-gun007 commented on #17
It is working @dynamitechetan can you please elaborate problems are you facing.

[2017-03-05 12:47] dynamitechetan commented on #17
[code]
this is the gradle error

[2017-03-05 14:15] octacode commented on #17
@dynamitechetan even I had this same problem. What I did was that I downloaded and extracted the tar file mentioned in the instructions to build Amahi android app and pasted it extracted .m2 folder in my /home directory.

[2017-03-05 14:27] dynamitechetan commented on #17
I am on Windows. Where can I paste the file?

[2017-03-05 16:01] asifali1234 commented on #19
Hi all,
I would like to contribute to the Amahi Android app. I will try fixing this issue.

[2017-03-05 21:05] mehtamanan0 opened #21 "Keyboard covering Up TextFields"
as @cpg mentioned there is a problem in some phones where the keyboard covers up the textfields , So what @cpg suggested was to move the logo down below like:

![screenshot 06-mar-2017 2_26_02 am](https://cloud.githubusercontent.com/assets/16348397/23591384/5803e484-01e7-11e7-8519-bbc320ceee2a.png)

What would you all suggest?

[2017-03-05 21:47] PiyushGupta007 commented on #21
Can I work on it ?

[2017-03-05 21:53] DoMINAToR98 commented on #19
Can i fix this?

[2017-03-06 00:03] sukhbir-singh opened #22 "Enhancement - Adding a better layout for landscape mode of login screen"
I want to update landscape layout for login screen.
The new layout that I am proposing is more optimized design and deals with balanced use of space.

Login Landscape layout (Present design)

<img height="280px" src="https://cloud.githubusercontent.com/assets/13816752/23592906/d506d022-022d-11e7-97db-832ffab763de.png">

Updated Login Landscape layout (Want to do)

<img height="280px" src="https://

[2017-03-06 00:04] sukhbir-singh commented on #22
I have completed the work, so should i send the PR.

[2017-03-06 00:11] megabitdragon commented on #17
I created a new vlc2 branch that uses libvlc 2.1.1. I just added the library dependency without any other changes to the code. The application **will not build** as is. Code needs to be updated to account for the new SDK. You can check [this commit](https://goo.gl/BbyKmz) to get started.

[2017-03-06 00:23] sukhbir-singh opened #23 "Use webview in settings's version"
On selecting Version option from settings of the app, currently it is opening default browser and opening the web page. "Good practice" is to show the web page in the app only using web view, instead of redirecting it outside the app.

[2017-03-06 00:24] sukhbir-singh commented on #23
@cpg should i send the pull request corresponding to this issue.

[2017-03-06 03:00] #22 closed

[2017-03-06 03:28] cpg opened #25 "make each folder remember the last sorting option"
this is a feature requested by users: make each folder remember the last sorting option used when the user was there.

from out bug tracker [bug 1544](https://bugs.amahi.org/issues/1544)

[2017-03-06 03:31] cpg opened #26 "port app to android 7"
update app to work well in android 7

[bug 2127](https://bugs.amahi.org/issues/2127)

[2017-03-06 04:00] mehtamanan0 commented on #26
@cpg i did put in a pull request for adding that.

[2017-03-06 04:01] top-gun007 commented on #19
I have assigned this to myself
Thank you

Get Outlook for Android<https://aka.ms/ghei36>

On Mon, Mar 6, 2017 at 3:24 AM +0530, "Kartik Sharma" <notifications@github.com<mailto:notifications@github.com>> wrote:

Can i fix this?

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub<https://github.com/amahi/android/issues/19#issuecomment-284266108

[2017-03-06 04:21] cpg commented on #26
it was done in #10. my bad.

[2017-03-06 04:44] mehtamanan0 commented on #21
@PiyushGupta007  yes sure go ahead

[2017-03-06 04:59] mehtamanan0 commented on #19
This Feature is addded in the PR  #20 . @top-gun007 @asifali1234 @DoMINAToR98 Feel free to add any more functionality into the login screen as you may like , try to come up with Innovative ways to make the login Screen more Creative.

[2017-03-06 05:08] megabitdragon commented on #26
This bug is too broad. Updating the sdk is not  a port to Android 7. There are a lot of things that are broken and others that need testing. Please leave the bug open. I'll add specifics as new issues and we'll close this when we have a fully functional app on sdk 25.

[2017-03-06 07:01] mehtamanan0 commented on #25
I will be happy to Solve this bug.

[2017-03-06 13:25] lakshyagupta21 commented on #21
Is it really necessary to change position of logo to just make textfield visible. Logo is always preferable at the top. The same thing can happen in some devices if you change orientation of your screen from portrait to landscape. To solve this issue what we can do move our layout  up whenver soft keyboard opens up. As our main priority is to write in textfield whenever softkeyboard opens up so ot

[2017-03-06 13:40] csoni111 commented on #21
I agree with @lakshyagupta21, moving the logo down is a bad idea!
As @mehtamanan0 suggested in [#20](https://github.com/amahi/android/pull/20#issuecomment-284251988), we can use `WindowSoftInputmode` in the manifest to move the layout up on opening the soft keyboard. That way the text fields will always be visible.

[2017-03-06 14:17] anand9522 commented on #26
Can I work on it? Please confirm.

[2017-03-06 14:46] megabitdragon commented on #26
@anand9522 Please read my comment above. Pick **specific** issues for the tracker or build the app and see what you can change/improve. We will add more specific issues in the next few days.

[2017-03-06 15:17] octacode opened #29 "Replacing the listView and GridView with RecyclerView."
RecyclerView is much better than ListView and GridView performance wise and this is the reason why google prefers RV over list and grid view. For List view I will use R.V with LinearLayoutManager and for grid view We have to use GridLayoutManager.
**I WOULD LIKE TO WORK ON IT**

[2017-03-06 17:00] lakshyagupta21 opened #30 "Replacing the png drawables by their vector counterparts"
Currently we have png drawables for everything like back button, menu and other icons. Replacing png drawables with their vector counterpart which will be a one XML file for five drawables will definitely going to reduce APK size. Vector drawables also scale very well. PNG is a compressed image trying to make it bigger or smaller will make image doesn't look right.

[2017-03-06 17:05] csoni111 commented on #30
I think that is a nice idea!

These two sites will help:
[Material icons](https://material.io/icons/)
[svg to vector drawables](http://inloop.github.io/svg2android/)

[2017-03-06 17:14] yashsharan commented on #30
Can i work on it?

[2017-03-06 18:23] PiyushGupta007 commented on #21
On it

[2017-03-06 21:58] cpg opened #32 "localization support"
this task is to enable the app to become fully localization available, including directions for translators on easily providing a new locale.

i can translate to spanish. some related strings that may be useful here are available [in the platform locale](https://github.com/amahi/platform/tree/master/config/locales) strings.

[2017-03-06 22:01] cpg commented on #21
It's not just the text that needs to be visible, but the Sign In button as well, to avoid having to close the keyboard to be able to click it.

[2017-03-06 22:03] cpg commented on #30
@yashsharan If you think this is something up your alley, sure. However, I am not sure if @lakshyagupta21 (or others) were planning to work on it.

[2017-03-07 02:50] cpg opened #33 "Integration with libvlc 2.1.1"
@megabitdragon created a [new vlc2 branch](https://github.com/amahi/android/tree/vlc2) in this tree that tries to use libvlc 2.1.1.

He **only** added the library dependency without any other changes to the code. The application **will not build** as is in that branch.

The task in this issue is to update the code as necessary to account for the new libvlc SDK and make it 1) compile properly and 2

[2017-03-07 02:53] cpg commented on #17
I created a separate issue, #33, for integration with libvlc 2.1.1 and we will keep this issue for dealing with policy changes as to when to invoke the vlc player.

[2017-03-07 03:03] #18 closed

[2017-03-07 03:31] lakshyagupta21 commented on #21
We can add event listener for enter key of soft keyboard which will move you to the "password" field if you are writing on "username" field and for "password" field enter key will directly call the login method. I don't think that we can afford to have two components (one EditText and Sign In Button) and also a soft keyboard at a time all together in devices with small screen size. Correct me if i

[2017-03-07 03:46] csoni111 commented on #33
I would like to work on this.

[2017-03-07 04:14] octacode commented on #21
@lakshyagupta21 android handles this on its own. We just have to set softInputMode attribute in the manifest file as true.

[2017-03-07 04:21] lakshyagupta21 commented on #17
@octacode I did the same thing that you suggested but still getting the same error in gradle while building the project in Studio.

[2017-03-07 04:24] octacode commented on #17
@lakshyagupta21 It worked for me pretty well. Try redownloading your forked repo, It might work.
Thanks

[2017-03-07 05:27] lakshyagupta21 commented on #17
@octacode somehow it worked after restarting the studio. After that i am facing issues with API url ,id,proxy problem now how should i solve this issue?

[2017-03-07 05:31] octacode commented on #17
Follow the set of commands given on the Readme.md and I will mail you the url, proxy, client.id....

[2017-03-07 06:54] octacode commented on #32
@cpg If it's fine I can help with hindi. Thanks

[2017-03-07 07:49] cpg commented on #32
clarification. this task is NOT about translation (though that is appreciated), but about supporting localization and outlining the process for others to easily produce localizations.

[2017-03-07 07:54] octacode commented on #32
Well android already provides localisation support. Instead of hardcoding the strings we put them in the strings.xml(which already has been done). What we need to do is create more strings.xml like /values-hi/strings.xml for hindi /values-ja/strings.xml for japanese and so on. We can have a look at the android docs. [https://developer.android.com/training/basics/supporting-devices/languages.html](

[2017-03-07 08:43] lakshyagupta21 commented on #17
@octacode Thanks for helping me out. Send details to lakshyagpt2009@gmail.com

[2017-03-07 08:53] #23 closed

[2017-03-07 09:33] lakshyagupta21 commented on #30
@yashsharan if you really want to work then please go ahead !!

[2017-03-07 13:18] vjs3 commented on #14
@cpg please provide the file so that I can run the application.

[2017-03-07 13:36] cpg commented on #13
Ask in the Amahi Android Google group. Or IRC to other interested parties.

[2017-03-07 16:05] octacode opened #35 "Adding search feature."
For the time being there's a sort feature in the ServerFilesFragment which obviously is awesome. I was thinking of adding search feature also. I will use a menu option which will be always shown clicking on which will actually open up the soft keyboard and text will be entered into the action bar. The actionbar edit text will have a textWatcher which will change the results according to per key cl

[2017-03-07 18:20] lakshyagupta21 commented on #17
The error shown in the issue is coming only in android versions > 21 below this API LEVEL it is working fine(Checked for API LEVEL 18 and 19).

[2017-03-07 18:51] octacode commented on #25
@mehtamanan0 Any progress on this issue?

[2017-03-07 19:24] mehtamanan0 commented on #25
@octacode yes halfway done.

[2017-03-07 19:25] pranavgupta1234 commented on #21
Any updates on this ? I would like to resolve it :)

[2017-03-07 19:28] mehtamanan0 commented on #25
@octacode yes im using sharedPreferences to store a boolean value that will determine the sorting option.

[2017-03-07 19:32] octacode commented on #25
@mehtamanan0 I too would have done the same. :+1:

[2017-03-07 19:52] csoni111 commented on #25
According to me this would not be a good idea. Let's suppose you have hundreds of folders inside folders, storing a boolean for all of them in SharedPreferences does not look good. A better way could be to have an internal database in the app preferably [Realm](https://realm.io/docs/java/latest/) or [sqlite](https://www.sqlite.org/). This will also be scalable so that one can store more data in th

[2017-03-07 19:56] mehtamanan0 commented on #25
@csoni111 good that you pointed this out , yes even i think in my opinion sqlite would be a better option for this, as these sharedpreferences might be wasted.I think ill port over to sqlite then.

[2017-03-07 20:08] csoni111 commented on #25
`Realm` is a much better option than `sqlite`, with that we can save the model objects as is in the db. No need to declare any tables/columns. Also writing queries is much easier as it's all in java and gives a cleaner code to maintain. If you have never used `Realm` before just read the docs once, it's quite easy to use.

[2017-03-07 20:11] mehtamanan0 commented on #25
@csoni111 cool , ill go over the docs once and will tell you i face any problem.

[2017-03-07 22:17] cpg commented on #21
I believe @PiyushGupta007 was working on this issue. Perhaps he can chime in with the status.

[2017-03-07 22:40] sukhbir-singh opened #38 "Fixing app flow after clicking signout button in settings page"
After clicking on sign out button in settings page, app gets redirected to login page. But then if user presses back button it reopens main activity, whereas as per expected behavior after login page appearance. Back button should close the app.

[2017-03-07 22:59] sukhbir-singh commented on #38
Refer PR#39

[2017-03-08 03:07] doomers commented on #17
@octacode i am also having the same problem.
 please also mail me the url, proxy, client.id. etc.
my email_id: rahul40800@gmail.com
Thanks in advance

[2017-03-08 04:55] asifali1234 commented on #21
@lakshyagupta21  I think sign in button is needed in the app. It would create unnecessary ambiguity if there is no sign in button
I think we could implement the idea as suggested by @csoni111

[2017-03-08 06:03] lakshyagupta21 commented on #21
@asifali1234 I think you misunderstood my comment , I didn't mean anything about removing signUp button i said that we can't afford to have 2-3 components and softKeyboard visibility on a screen altogether.
Yes it is also possible for the devices which have bigger screen sizes. And definitely it will create ambiguity if we remove signup button, which is not the case. There must be a signup button

[2017-03-08 06:05] lakshyagupta21 commented on #21
@asifali1234 And to implement above thing we have to definitely use the idea that @csoni111 suggested. Without that it would be difficult to implement above functionality.

[2017-03-08 09:18] hshrimali commented on #21
If no one is sending PR, then can I? I'm already done with this feature as per your requirements, just need to click that PR tab .

[2017-03-08 11:39] octacode opened #40 "Hooking up the search result with search API"
As discussed with @cpg. The search results will be fetched from the API and will be displayed in the Files Fragment.
I will be working on this issue

[2017-03-08 12:07] octacode commented on #40
I was thinking of displaying both the offline (PR #36 ) and the API search results at the same time. I have seen other apps doing it for example MusixMatch. We will have a single list. First all offline results will be displayed and after that the API results will be shown. Somewhat like this
![screenshot_20170308-171542](https://cloud.githubusercontent.com/assets/20819968/23702815/e9b2791c-0422-1

[2017-03-08 12:10] octacode commented on #40
Any suggestions??

[2017-03-08 14:17] pranavgupta1234 commented on #38
@sukhbir-singh  I think we can clear the activity stack and open login page after that.For that we can set flags on intent like i.setFlags(Intent.FLAG_ACTIVITY_NEW_TASK | Intent.FLAG_ACTIVITY_CLEAR_TASK) before starting the activity

[2017-03-08 14:45] pranavgupta1234 opened #41 "Adding android reactive extensions for better app interfacing"
I think adding reactive extensions in the app will make the code more concise. For example the task of disabling the sign in button until the user types the both name and password can be done using rx. This is just one simple example.It can be implemented in many tasks. I would like to work on this :)
@cpg any views on this idea ?

[2017-03-08 14:58] octacode opened #42 "Issues with HomeUp button"
When inside a directory Home up button directly takes the user to the list of shares instead of taking it in the upper folder.
For Example :- if we are in Demo/music and if home Up is pressed. We'll be redirected to the Shares fragment instead of Demo.
I am sending a PR for this.
Thanks

[2017-03-08 15:20] sukhbir-singh commented on #38
Yes I have done the exactly same thing in pull request #39

[2017-03-08 15:46] PiyushGupta007 commented on #21
@hshrimali  @cpg  sorry i was sick for day and a half , @hshrimali  go for it  .
 also need url.amahi , url.proxy  , client.id etc ( url illegal error ) .

[2017-03-08 15:58] vjs3 opened #44 "Information regarding API information is missing"
As the API information due to security reasons kept private but new contributors don't know how to get them that's why they have been asking at different places. Same happened with me as well
I have added basic info on the same in the updated readme without exposing any API related actual information.

[2017-03-08 17:31] vjs3 opened #46 "deprecated android.support.v4.app.ActionBarDrawerToggle still in use"
_android.support.v4.app.ActionBarDrawerToggle_ has been deprecated more than a year back and new android guidelines suggest us to use _android.support.v4.app.ActionBarDrawerToggle_. Above class and its few methods are still in use.

[2017-03-08 18:24] DoMINAToR98 opened #49 "Vim api.property settings"
url.amahi = URL
url.proxy = URL
client.id = ID
client.secret = SECRET
what is the value for URL SECRET and ID
I'm facing issues in Retrofit

[2017-03-08 18:31] octacode commented on #49
@DoMINAToR98 I have mailed you the API keys ..
P.S don't post these API keys on public groups. Cheers

[2017-03-08 18:41] hshrimali commented on #21
Okay, Thanks @PiyushGupta007

[2017-03-08 19:19] pranavgupta1234 commented on #49
@octacode can you please mail these to me too ?

[2017-03-08 20:10] DoMINAToR98 opened #51 "Enhancement: Songs to play in background"
I think it as an issue, when we play a song and as soon as I press the back button it stops. I feel it  should still play in background as a service or something.
Should i work on this ?
![whatsapp image 2017-03-09 at 1 38 43 am](https://cloud.githubusercontent.com/assets/22031769/23721850/3209ff6e-0469-11e7-801c-1c1e906f223f.jpeg)

[2017-03-08 20:11] DoMINAToR98 commented on #49
thanks @octacode

[2017-03-08 20:11] #49 closed

[2017-03-09 02:05] megabitdragon commented on #51
The music player is implemented as a service. With the updated SDK things got broken (e.g.lock screen controls are not working). IF you are interested give it a try.

[2017-03-09 03:21] megabitdragon opened #52 "Replace the actionbar with a toolbar"
This is self explanatory. Replace the actionbar with a toolbar using the support library.

[2017-03-09 03:56] octacode commented on #52
Can I work on this issue?
Thanks

[2017-03-09 08:46] DoMINAToR98 opened #55 "Connection Error after updating my fork"
I'm facing an error on the login page
![screenshot at mar 09 14-15-29](https://cloud.githubusercontent.com/assets/22031769/23742467/e58f3784-04d2-11e7-8da8-637d80f81b00.png)
  HTTP FAILED: java.net.ConnectException: Failed to connect to api.amahi.org/208.115.201.202:443 after updating my fork

[2017-03-09 13:12] sukhbir-singh opened #58 "Deprecated attributes singleLine=true need to be replaced in all layouts"
Fixed by PR #57

[2017-03-09 14:21] sukhbir-singh opened #59 "Launching activity needs to change, logically Authentication activity should first to appear"
When we open the app in signed out state. The first activity that is appearing on screen is Navigation activity. Then after checking authentication through service, app gets redirected to AuthenticationActivity for asking user credentials. This is the current app flow.

The point is that logically if the app is in signed out state, Authentication activity should be the first activity to appear in

[2017-03-09 14:26] sukhbir-singh commented on #59
I am thinking of implementing this with the help of SharedPreference. By adding a boolean key "auth" to false by default and setting it to true when user logged in successfully. By checking value of this key, we can check user authentication in Authentication activity.

[2017-03-09 15:02] csoni111 opened #60 "No `RETRY` button on hda selection screen"
![hda_selection_screen](https://cloud.githubusercontent.com/assets/15021142/23754895/9eac0626-0504-11e7-9e94-41cbf89ec3a6.png)

There is no retry button present in this side navigation bar. If the fetching of hda list from the server fails for some reason, there is only one option that is to close the app and reopen again.

This happens a lot with me and it is irritating. So I would like to implem

[2017-03-09 15:13] csoni111 opened #61 "Image Viewer feature request"
**According to me the following features are missing in the Image Viewer of app:**

- Zoom in / Zoom out feature
- Image Full Screen View (toggling fullscreen view onClick), just like in Video Viewer

Suggest if any more features can be added! Also I would like to work on this.

[2017-03-09 15:57] megabitdragon commented on #52
Give it a try.

[2017-03-09 16:11] hshrimali commented on #21
@cpg  I'm done with the solution of this issue. I have sent the PR. You can refer PR #50 .

[2017-03-09 16:21] vjs3 commented on #60
IMHO opinion SwipeRefreshLayout would better, in terms of UI/UX as well as latest guides.

[2017-03-09 16:43] sukhbir-singh commented on #60
I would recommend making try again text as a clickable link. On clicking of which will refresh the screen.

[2017-03-09 16:49] hshrimali commented on #60
@sukhbir-singh But the thing is that this "Connection Error" not only appears in the navigation drawer but also when we click on the Shares menu in navigation drawer and it doesn't open. So, I think, we can't add try again button eveywhere we get "Connection Error". So, I'll go with the idea of @vjs3 .

[2017-03-09 17:06] mehtamanan0 commented on #25
I have been to caught up with studies as i have ongoing exams so it's been very hard to work on things from my side, I would like any of you all to take over this Issue. Ill be back once my exams get over.

[2017-03-09 17:08] octacode commented on #25
Great! I'll work on it then.

[2017-03-09 17:09] mehtamanan0 commented on #25
@octacode Sure ! Go ahaed.

[2017-03-09 17:12] sukhbir-singh commented on #60
Yes, I agree with you @hshrimali. SwipeRefreshLayout must be implemented in main screen.
But also In case navigation itself donot load then also user should have need an option to load.

[2017-03-09 17:47] octacode opened #62 "Addition of screen transitions"
Right now we don't have any screen transitions between intents. I think it will be good to add a nice slide_in and slide_out transition effect during intent transitions. I would like to work on this issue.

[2017-03-09 18:16] hshrimali commented on #62
@octacode If you don't mind can I handle this issue? Working on issues parallely will solve the issues in less time and we get more time to find the new ones.

[2017-03-09 18:21] octacode commented on #62
@hshrimali Looks like I am already done with the code. However you can work on this issue #25. I'll be glad to help you out there.

[2017-03-09 18:25] sukhbir-singh opened #64 "Showing file size and last modified date along with file name in the list"
Working on this right now!!

[2017-03-09 18:39] octacode commented on #60
Ya.. having a SwipeRefreshLayout in the NavigationDrawer itself is quite cumbersome. I too would recommend having a button.

[2017-03-09 18:47] hshrimali opened #65 "Addition of header and material icons for menus in navigation bar."
Working on it currently. Any suggestions?

[2017-03-10 06:01] csoni111 commented on #60
I tried both ways and the swipeRefreshLayout looks more efficient and cooler than a button to me. I have implemented the same in #68.

Thanks for your suggestions! :)

[2017-03-10 06:33] lakshyagupta21 commented on #19
Is there any progress on this issue. If nobody is working on it then can i work on this ?

[2017-03-10 06:39] Ishmeetsingh97 commented on #19
Hi, is there any developments on this ? I would like to work on it.

[2017-03-10 07:22] cpg commented on #55
We are having some outages on the site. Unfortunately, and unlike in iterations before, we cannot tell very well what is happening (errors in the site, DoS attacks, etc.), and we're busy with some travel, so, for the time being, please try again.

Reopen if it persists.

[2017-03-10 07:22] #55 closed

[2017-03-10 07:23] cpg commented on #61
Zooming is probably one sorely needed for even casual users. Great ideas!

[2017-03-10 07:42] Ishmeetsingh97 opened #69 "Swipe to change song."
I want to implement a feature which changes the song on swiping the AudioActivity just like done in Google Play Music. Can i work on it ?

[2017-03-10 17:00] sukhbir-singh opened #72 "Need to change Actionbar title according to directory opened"
Fixed by PR #73

[2017-03-10 17:03] octacode commented on #72
@sukhbir-singh I have already implemented it in my PR #67 earlier.

[2017-03-10 17:15] sukhbir-singh commented on #72
@octacode I have reviewed every single line of your code in PR #67 . But you changes doesn't seems to be same as mine. In PR #73 I am changing the title bar as per folders like if user is in music folder title of action bar set to be music and so on, which is not incorporated in your PR.

Also you PR #67 has not made any change in ServerFilesFragment.java file which is needed to fix this issue.

[2017-03-11 01:59] doomers opened #74 "Vim api.properties error"
Api.properties Error
url.amahi = URL
url.proxy = URL
client.id = ID
client.secret = SECRET

@megabitdragon  @cpg where to get these keys from?

[2017-03-11 04:02] hshrimali commented on #74
@doomers You can ask this query on irc channel. You will get your answers there. These keys are kept private due to some security reasons. Okay.

[2017-03-11 05:24] sukhbir-singh opened #75 "Showing DialogFragment for selecting sorting type in folders"
I am working on this...

[2017-03-11 14:43] doomers commented on #74
okay @hshrimali i have dropped a message on irc .

[2017-03-11 16:58] #61 closed

[2017-03-11 18:41] megabitdragon commented on #74
Please use the google group for these requests.

[2017-03-11 18:41] #74 closed

[2017-03-11 18:45] doomers commented on #74
@megabitdragon i have posted these in google groups 2 days back, but no one replied me there.
if would be great if you can mail me .
my email id is rahul40800@gmail.com

[2017-03-11 22:51] csoni111 opened #76 "Adding more features to Video Player"
I would like to add some more features to the video player.

- *Subtitles View* along with dialog fragment to select the subtitles file
- ~~*Screen Gestures*:~~
    - ~~swipe up/down on left to increase/decrease screen brightness~~
    - ~~swipe up/down on right to increase/decrease volume~~
    - ~~swipe left/right to seek the video~~
- ~~Showing the progress bar while *buffering* the video from

[2017-03-12 12:31] doomers opened #78 "Getting "invalid stream header" error"
Error:Cause: invalid stream header: 2332EB25
Unable to build android app.

[2017-03-12 14:27] sukhbir-singh opened #79 "Adding media controls to notification bar for controlling music play"
I want to work on this issue.
If someone else is already completed his work on this issue please do notify me, I will work on something else.

[2017-03-12 18:10] lakshyagupta21 commented on #30
@yashsharan Any updates on this issue ? If you are not working then i would like to work on this issue.

[2017-03-14 09:54] Ishmeetsingh97 opened #82 "ContentDescription for buttons : Accessibility feature of Android"
ContentDescription for the buttons is for the Accessibility Features of Android. The contentDescription is what get's read back to the (assumingly blind or hard-of-sight user) so they have an idea of what the picture is since they aren't able to view it.
Can i send a PR for this ?

[2017-03-14 10:04] #29 closed

[2017-03-14 10:39] cpg commented on #42
I remember there was some discussion about this when we created the app and I think it was determined that navigation back was to be done with the proper "back" button, and the home button was to be to take the user to the top level of the app navigation.

I would like to seek the advice of people with expertise of what matters with the latest best practices on this. @megabitdragon may have a good

[2017-03-15 08:49] #44 closed

[2017-03-15 09:06] #72 closed

[2017-03-15 09:15] cpg commented on #60
In my view, a button (or some link) takes space. A PDTR action is generally as intuitive and it takes no space. Merged.

[2017-03-15 09:15] #60 closed

[2017-03-15 14:58] doomers commented on #30
@lakshyagupta21 @yashsharan @cpg
If no one is working on it? I would like to work on it

[2017-03-15 19:24] cpg commented on #21
In the current PR #50 I still do not see the sign in button, so it feels weird to have to remove the keyboard.

This is turning out quite a thing, when in reality is simple.

Could you guys look at mainstream apps and try something sensible?

Skype (they move the logo and the fields up top of the screen), Facebook Messenger (they slide the whole page up to the point the logo is not visible any mor

[2017-03-15 19:27] csoni111 opened #83 "Server Api returns size as 0 for folders containing some files"
While testing the app, I have found a bug in the api. It returns **0 file size** for folders/directories inside a share even when they contain files inside them. I am not sure if it is a bug or it was meant that way.

[2017-03-15 19:56] cpg commented on #30
@doomers : since @lakshyagupta21 is the original person suggesting this and he's willing to do it above, I think he should. If he does not respond in 24 hours, I would say you reply here and get started.

[2017-03-15 19:58] doomers commented on #30
@cpg okay.

[2017-03-15 20:14] doomers opened #84 "Create a Variable of Support Library Version Number."
As of now in App we are using many libraries of Support Library, so we can create a variable in Build.gradle to remove redundancy.

After that we don't need to change Support Library Version Number for every Library(or Dependency)
, We just need to change value of that variable.
![amahi supportlibrary](https://cloud.githubusercontent.com/assets/11586392/23968743/093c6dc0-09ea-11e7-88dc-56ca6c7f84e

[2017-03-15 20:14] doomers commented on #84
@cpg i would like to work on this issue.

[2017-03-15 20:55] #19 closed

[2017-03-15 20:58] #58 closed

[2017-03-15 21:17] hshrimali commented on #21
@cpg Taking your idea into consideration. Now, I have implemented it in such a way that whenever user wants to enter something in username or password the Amahi icon disappear and only the EditTexts and the Sign In button appears and after completing the information when user clicks the button, the Amahi icon reappears with all other information.

Below picture is during editing the text

![screen

[2017-03-16 02:15] cpg commented on #83
It was meant that way.

What should the size of a folder be?

Similar with symlinks.

Number of files does not really help much, generally speaking, so we opted for 0. With a good reason we could change that.

[2017-03-16 02:15] #83 closed

[2017-03-16 03:32] #75 closed

[2017-03-16 04:46] cpg commented on #69
This is a useful idea.

[2017-03-16 05:42] Ishmeetsingh97 commented on #69
Sure. I will send a PR soon.

[2017-03-16 10:16] cpg commented on #21
This is not a "look" thing but a "feel" and UI think, so without a PR to test it out, I feel I cannot comment much.

[2017-03-16 10:18] hshrimali commented on #21
Okay @cpg  I'm sending a new PR.

[2017-03-16 11:30] lakshyagupta21 commented on #30
@cpg Thanks for giving me this issue. I am on it.

[2017-03-16 17:36] doomers opened #87 "App is crashing on changing Orientation in login Screen"
App is crashing on changing the Orientation in Login Screen.

Screenshots :

![screenshot_20170316-225923](https://cloud.githubusercontent.com/assets/11586392/24010142/01cf7c2c-0a9d-11e7-9ecf-281f52aefd46.png)

![screenshot_20170316-225927](https://cloud.githubusercontent.com/assets/11586392/24010150/09935866-0a9d-11e7-8130-2bf284e19e54.png)

@cpg this is needed to be fix as soon as possible.
shal

[2017-03-16 19:03] cpg commented on #87
I think @csoni111 identified it in a [bad identifier here](https://github.com/amahi/android/commit/af02dd2583eff5e10344ab9fb94e820ec3606b2a#commitcomment-21351424), but sure.

[2017-03-16 19:13] hshrimali commented on #21
@cpg I have sent the PR you can check it. Thanks.

[2017-03-16 19:40] cpg commented on #87
Created a wiki page for [checklist for new releases](https://github.com/amahi/android/wiki/Checklist-for-releases) so that we remember to test everything and we do not miss things like this.

Feel free to contribute.

[2017-03-16 19:42] #84 closed

[2017-03-16 19:46] doomers commented on #87
Okay I am working on it, will create a PR tomorrow

[2017-03-16 19:46] csoni111 commented on #87
@cpg the one that I mentioned [here](https://github.com/amahi/android/commit/af02dd2583eff5e10344ab9fb94e820ec3606b2a#commitcomment-21351424) is another bug. In that opening the `apps` page crashes the app.

This one is happening because there are two layout for the login screen, one for the `portrait mode` and another for `landscape mode`. Now in pr #81 @Ishmeetsingh97 made the layout changes onl

[2017-03-16 19:58] sukhbir-singh commented on #87
Yes as explained by @csoni111, you need to make same changes to landscape mode as made in portrait mode by PR #81
The app is getting Null pointer exception because of unavailability of TextInputLayout.getEditText() in landscape mode.

[2017-03-16 20:02] csoni111 opened #88 "App crashes on clicking on the `Apps` tab in the side nav bar"
As commented [here](https://github.com/amahi/android/commit/af02dd2583eff5e10344ab9fb94e820ec3606b2a#commitcomment-21351424) the app crashes on opening `Apps` tab.
Should I send a new pr for correcting this or the old pr #34 (which made this change) should be reverted back and the commits to be edited? @cpg

[2017-03-16 20:03] doomers commented on #87
@sukhbir-singh Yes i know ,i have already figured it out,
And started working on it, i will send the PR tomorrow.

[2017-03-16 20:08] cpg commented on #88
I think someone is working on it in #87. Let's focus on that there.

[2017-03-16 20:10] csoni111 commented on #88
@cpg that one is a different bug then this one! This one happens on opening the `Apps` tab. That one happens on switching to `Landscape mode` (or rotating the device) in login screen.

The two are totally different bugs!

[2017-03-16 20:40] csoni111 commented on #87
@doomers while you are on this, pls make one more change! The [Username field](https://github.com/amahi/android/pull/81/files#diff-293e30bb0d968c8a108574a8a561b3deR41) is still `EditText` while the [Password field](https://github.com/amahi/android/pull/81/files#diff-293e30bb0d968c8a108574a8a561b3deR52) was changed to `TextInputLayout`.
So change the username field also to `TextInputLayout`. That w

[2017-03-16 21:00] #88 closed

[2017-03-16 21:38] #33 closed

[2017-03-16 21:39] cpg commented on #33
Great job guys! All media types I tried worked well!

[2017-03-16 22:57] csoni111 commented on #87
@doomers so sorry for solving the issue that you mentioned and asked to do. But @cpg asked me to complete it asap, as another issue was pending because of this.

[2017-03-16 23:09] cpg commented on #87
@doomers please review #90 when you can. I asked @csoni111 to work on this because it was blocking something else for me.

[2017-03-17 07:47] doomers commented on #87
@cpg @csoni111 no problem if this issue is needed to be solved asap, but I was unaware that you had also a PR when I made this PR, but now as I have done it in #91, it would be great if you can merge mine first
and work on issue after the merge and create a separate PR, as it would a transparency of what changes have been done in which PR, as your PR is not reflecting that you have fixed any Orien

[2017-03-17 08:28] doomers opened #92 "UI/UX Improvement: Tell a Friend option design can be improved"
As of now Tell a Friend Option looks a bit dull as in Screenshot

![screenshot_20170317-134941](https://cloud.githubusercontent.com/assets/11586392/24034971/83fdeea0-0b19-11e7-937b-de49e7398544.png)

But it can be improvised according to the latest guidelines, Moreover, you can share it with **recent people on Messenger and WhatsApp.**

![screenshot_20170317-134544](https://cloud.githubusercontent

[2017-03-17 09:12] #35 closed

[2017-03-17 09:55] csoni111 opened #95 "App crashes with the newly added search feature"
The search feature implemented in #36 by @octacode is a great addition but unfortunately it has some bugs.

- To reproduce the bug first type something in the search bar and then with the search query typed in, click on a `directory` to open its content. Now if you type anything more in the search bar, the app crashes.

- Also instead of adding 5 images for different sizes, a single vector drawabl

[2017-03-17 09:57] octacode commented on #95
@csoni111 thanks for reporting the bugs. Please go ahead.

[2017-03-17 10:49] csoni111 commented on #95
This helps! Also I have some other code changes in mind. Will make a pr for all those.

[2017-03-17 11:21] octacode opened #96 "Adding support for AppCompatActivity"
For the time being the activities don't support AppCompatActivity.

**Benefits of using AppCompatActivity**

It not only provide backwards compatibility to our app but also provides us the access to the Material Design Library too. After this we can easily add FloatingActionButtons, Snackbars, AlertDialogBoxes and other material design widgets easily which now we can't.

I'd be working on it.

[2017-03-17 12:25] doomers commented on #95
@csoni111  see #30 @lakshyagupta21 is already working on it, the Vector Drawable part

[2017-03-17 12:28] csoni111 commented on #95
Yes I know that, I will just update the search icon that has been added recently. He might not have pulled this change.

[2017-03-17 12:32] doomers commented on #95
Okay.

[2017-03-17 12:45] hshrimali opened #97 "Not showing complete picture after zoom."
After complete zoom of a picture, when we swipe left to see till the right most part of the image, it just changes the picture instead of showing the right part of the picture which I think should not happen.

[2017-03-17 12:48] hshrimali opened #98 "Complete web page not showing"
After clicking on the "amahi anywhere" link in Overview.html, it shows only the half part of the web page (vertically)  instead of complete web page.

[2017-03-17 12:59] csoni111 commented on #97
I don't think so this is the case. It works fine for me. Here is the [code](https://github.com/amahi/android/blob/master/src/main/java/org/amahi/anywhere/view/TouchImageView.java#L121) that disallows the view pager to change the image while there is some portion of the image still left to display. I have kept the difference between `Maximum translation possible in X` and `Current translation in X`

[2017-03-17 13:05] csoni111 commented on #97
Can you attach a screenshot of the zoomed in image while swiping left (and the ViewPager changing the image) and also the original image (with no zoom)? So that the issue can be clearly understood!

[2017-03-17 13:26] lakshyagupta21 commented on #30
@doomers If you want to work on it go ahead , i am not getting enough time these days so will not be able to do.

[2017-03-17 13:38] doomers commented on #30
Okay @lakshyagupta21 I am taking up this issue.

[2017-03-17 13:39] Ishmeetsingh97 opened #99 "Connection error when whenever i try to open shares folder"
I cant access the demo files and getting this error time and again. How to fix this ?
![screenshot_20170317-190400](https://cloud.githubusercontent.com/assets/16138298/24045467/3cdff4f6-0b45-11e7-8442-7a0dab20038c.png)

[2017-03-17 14:03] doomers commented on #99
I am getting the same issue from last 2-3 hours,
I think there is some issue with the servers or may be something else.

[2017-03-17 14:07] Ishmeetsingh97 commented on #79
Hi, are you still working on the same ? If not, i'd like to. Please ping me asap.

[2017-03-17 14:09] Ishmeetsingh97 commented on #99
Yes there mayb an issue with the server but i am getting this error since yesterday? Any other way to get started with debugging the app ?

[2017-03-17 14:13] octacode commented on #99
@doomers @Ishmeetsingh97 This happenes quite often. As @cpg once mentioned that there are people already at Amahi trying to fix the issue.

Try settings your own Amahi server.
[https://wiki.amahi.org/index.php/Main_Page](https://wiki.amahi.org/index.php/Main_Page)
can close this one.

Thanks

[2017-03-17 14:15] #99 closed

[2017-03-17 14:44] sukhbir-singh commented on #79
Yes I am still working on this issue, Right now I am facing the same problem as described on #99
I will try to set up my own amahi server then continue with this.

[2017-03-17 22:15] adithya321 opened #101 "App crashes in AuthenticationActivity on pre-lollipop devices"
[code]

This can be solved by using AppCompatActivity #96

[2017-03-17 22:34] adithya321 opened #102 "Add Contributing Guidelines"
The repository doesn't have any guidelines to follow like code style.
A CONTRIBUTING.md file can be created so that whenever someone opens a pull request or creates an issue, they will see a link to this file.

[Contributing Guidelines](https://github.com/blog/1184-contributing-guidelines)
[Setting guidelines for repository contributors](https://help.github.com/articles/setting-guidelines-for-repo

[2017-03-17 22:56] adithya321 opened #103 "Add Continuous Integration"
We can verify each commit with automated testing using [Travis CI](https://travis-ci.org/) or [CircleCI](https://circleci.com/).
This will allow us to detect problems like #101  earlier.

[2017-03-18 00:14] csoni111 commented on #95
@octacode I have made the pr. Please review it if possible!

[2017-03-18 04:00] #103 closed

[2017-03-18 06:27] Ishmeetsingh97 opened #106 "Email address should be used instead of the username to login."
Email address should be used instead of the username to login to implement features such as using facebook sdk ,google sdk to login without user inputting the email id and password.

[2017-03-18 07:28] #95 closed

[2017-03-18 07:37] cpg commented on #98
Where is this link?

[2017-03-18 09:38] hshrimali commented on #98
Actually, there is a page that comes after clicking on Overview.html. On that page, there is a text "amahi anywhere" in blue color. When we tap on that text, it directs us to the this link (https://www.amahi.org/apps/amahi-anywhere).
But only vertically half part of this page is displayed on the mobile screen that is the issue.

[2017-03-18 09:54] hshrimali commented on #97
@csoni111  app is still showing the Connection Error problem. So, I can't enter that image folder to show you the screenshot. As soon as the connection comes I will send you the screenshot

[2017-03-18 09:55] cpg commented on #106
I believe username or email is possible.

However, one needs to have an Amahi server to use the app, therefore one has to have an Amahi.org account. It does not make much sense to adopt other logins. If we did, we would just end up with tons of junk users that would inevitably be disappointed and possibly angry, leaving bad reviews.

[2017-03-18 09:55] #106 closed

[2017-03-18 09:58] cpg commented on #98
If you do not specify where that `Overview.html` file is, or how a user of the app clicks on it, we can't do much about it.

[2017-03-18 19:48] doomers opened #110 "Upgrade gradle to version 3.4"
Upgrade gradle from version v3.3 to v3.4
As it has some fixes from its older version

[2017-03-18 20:15] nikhilbalyan opened #112 "Check Whether Google play services are installed and latest version is running"
Problem description

Right now we are not checking whether Google play services are installed or not(or are they outdated). This  will eventually lead to a crash if the required Google play services are not found. In our case while rating the user google play store is launched for rating

Expected behavior

The case should be handled properly by showing a dialog box so that user can take steps acc

[2017-03-18 20:24] nikhilbalyan opened #113 "check whether the gmail application exist or not before launching"
Problem Description:
Right now before launching the intent for gmail service we are not checking whether there is a mail application which can handle this intent or not. Like here while taking feedback

Expected Behavior:
We should add a check before launching the implicit intent whether there  is an application which can handle  the intent or not. if there is no activity that can handle that inte

[2017-03-18 21:38] csoni111 commented on #87
@doomers, @cpg : The app built by the code in the current master branch, still crashes on logging in while in `landscape mode`. I shall try to fix this issue in my currently open pr #90.

Also there is another bug that I found, shall open a new issue for that!

[2017-03-18 21:48] cpg commented on #87
Oops, landscape is still still crashing.

[2017-03-19 05:29] #110 closed

[2017-03-19 06:12] doomers commented on #87
@cpg @csoni111  but it is now working fine in my device, Can you share the logcat or Screenshots here.

[2017-03-19 08:57] adithya321 commented on #96
Are you still working on this? If not, I would like to start working on it.

[2017-03-19 08:58] octacode commented on #96
Yes! I am working on the and soon will send a PR.

[2017-03-19 09:29] csoni111 commented on #87
Sorry to bother everyone, I think I might have tested the code from other branch. Just got confused with all the code changes.
It works fine now. This issue can be closed @cpg.

[2017-03-19 09:32] #87 closed

[2017-03-19 10:41] hshrimali commented on #98
Okay, so after logging into the app , follow the following path.
Shares  >>  Introduction  >>  1 - Overview.html . After opening of Overview.html tap on the link "Amahi Anywhere" in the section "Install Amahi Anywhere in your HDA"

[2017-03-19 11:23] csoni111 opened #116 "App closes on re-login after logging out of the app"
**Problem:** After logging out of the app, the user is redirected to login activity. Now if one tries to login again _(without closing the app)_ then on submitting valid id and password the authentication token is registered in the app but the **app gets closed**. This happens because of this change [here](https://github.com/amahi/android/pull/39/files#diff-215b51572e3fa3b8377310f3d528464bR171) wh

[2017-03-19 11:37] doomers opened #118 "Double BackPress to exit the App."
Almost all of the Apps are using Double BackPress to exit from the App.

[2017-03-19 11:48] hshrimali commented on #97
Okay @csoni111 Look at the screenshots.

The below one is while trying to see till the right most part of the picture but it changed.

![screenshot_20170319-171523](https://cloud.githubusercontent.com/assets/17125712/24080554/eca4fdae-0cc7-11e7-902f-20bcad7bbc70.jpg)

And this one is the complete first picture

![screenshot_20170319-171537](https://cloud.githubusercontent.com/assets/17125712/24080

[2017-03-19 12:11] csoni111 commented on #97
@hshrimali I cannot reproduce this! But if you are facing such an issue then there must be something that I might have overlooked in the code.

Can you please debug the code? You just have to log the values of `absTransX` _(this is the current absolute translation in X direction)_ and `transXMax` _(this is the maximum translation possible till the complete image is shown)_. You will find these two

[2017-03-20 19:07] nikhilbalyan commented on #112
Earlier i opened this issue on a misconception that play store application require the use of google play services api however after i researched i found that i was wrong here is a link to support that.
https://developers.google.com/android/

Now there is another problem if there is no google play store app then we are not handling that case and similarly for the google play search hence i am open

[2017-03-20 19:07] #112 closed

[2017-03-20 19:10] nikhilbalyan opened #124 "Check whether Play store is installed or not for google play and google play search"
Present Behavior:
right now we are implicitly launching the activity without knowing whether there is an activity which can listen to that or not for play store and searching on play store

Expected behavior:
Implementing check whether an application exist or not

[2017-03-20 20:04] nikhilbalyan opened #126 "Application crashing when the User login"
Problem Description:
When i signed out of the application and then signed in into the application it closed as soon as i clicked signin button after filling correct details(Not crashing when the details are correct).
Expected behavior:
It should not close but instead take user to the launching/main activity

I would love to discuss this issue more

[2017-03-20 20:11] csoni111 commented on #126
There's already an issue #116 and a fix pr #117 open for this. Please close this duplicate issue!

[2017-03-20 20:22] #92 closed

[2017-03-20 20:30] #30 closed

[2017-03-20 21:46] cpg commented on #118
I think this is fluff. It's also bad UI, IMHO, for putting that in front of the user.

I see gmail doing an exit on one single tap. The app does that currently and the world does not crumble.

I will assign it for review, but I am not too inclined to do this unless you can offer evidence in the form of at least two or three major mainstream apps where I can see they do this. Or perhaps recent guid

[2017-03-20 21:50] adithya321 commented on #30
There are five more PNG drawables which can be converted to SVG.
[code]
These are not standard Material icons. I can replace them with their Material equivalents.
@cpg Should I?

[2017-03-20 22:52] adithya321 opened #127 "Replace Icons with their Material equivalents"
The icons do not follow any particular design and look very bad IMO.
I'm working on this as mentioned in #30

[2017-03-20 23:01] cpg commented on #127
Well, we just made the switch to those in that PR related to #30!

[2017-03-20 23:08] #96 closed

[2017-03-20 23:16] #101 closed

[2017-03-20 23:23] #116 closed

[2017-03-20 23:26] octacode opened #128 "Disabling the viewPager slide action when zoomed in."
It really makes difficult to zoom into the corners and navigate inside the zoomed picture properly because most of the time if we try to reach the corner of the zoomed picture the picture slides to the next. Apps like Google Photos don't allow this, rather they disable the slide action when zoomed in.

I'd like to work on this.

[2017-03-20 23:34] octacode commented on #32
@cpg I think this issue can be closed.

[2017-03-20 23:55] cpg opened #130 "layout for movies is not right"
This is what I see on my phone -- a [single column of movie posters](https://www.dropbox.com/s/06ong0misn95n1z/Screen%20Shot%202017-03-20%20at%204.50.43%20PM.png?dl=0) when it could well be 2 columns.

Maybe reduce the size a bit?

In vertical it looks ok with 3 columns.

My phone's resolution is 1280x720.

[2017-03-21 00:04] octacode commented on #130
What I feel is displaying 2 icons will be better and I think I can work on this issue.
Thanks

[2017-03-21 00:17] cpg opened #131 "special characters test fails with "Connection Error""
we put a `special-characters` folder in the demo server. it appears to show a "connection error" in the app. it could be the origin server or the app.

needs to be investigated. in a common file browser, it looks more or less [like this](https://www.dropbox.com/s/xjo4kj4ds7ana61/Screen%20Shot%202017-03-20%20at%205.13.07%20PM.png?dl=0).

[2017-03-21 00:32] #113 closed

[2017-03-21 00:33] #124 closed

[2017-03-21 00:35] #127 closed

[2017-03-21 03:04] #130 closed

[2017-03-21 03:30] octacode opened #134 "Issues with the search UI"
After the update to the AppCompat Activity. There has been a new issue with the search UI. Though the functionality isn't affected but the UI has.
After the search is clicked we get this.
![screenshot_20170321-085740](https://cloud.githubusercontent.com/assets/20819968/24131415/9c44b522-0e14-11e7-8d79-11a30b9d3e19.png)
**Now we have to click on this search again inorder to open the search AutoComp

[2017-03-21 04:15] adithya321 commented on #131
There is a file named 'test ".png' in that folder. The double quote in the file name breaks the JSON structure.
[code]

<img width="835" alt="jsonexception" src="https://cloud.githubusercontent.com/assets/3854934/24132300/882a8c96-0e1a-11e7-8d00-2bacbe97ce69.png">

I guess it will work if that file is removed.

[2017-03-21 04:18] csoni111 commented on #131
Or that double quotes must be escaped on the server while creating the json! That would solve the problem.
Like this : `"test \".png"`

[2017-03-21 06:18] #126 closed

[2017-03-21 07:11] nikhilbalyan opened #136 "Application crashed on clicking the next song icon"
Problem description:
app crash when the user play the next song.

Steps to reproduce:
step:-1 login to application
step:-2 click share menu item from the navigation bar
step:-3 click the demo
step:-4 click the music
step:-5 click the 02 Meghan Trainor song
step:-6 click play the next song icon

And the application crash as soon as user click the next song icon or the previous song icon
I would lov

[2017-03-21 08:02] cpg commented on #131
Thanks for the debugging. The name of the file was not escaped.

This has been fixed in the server. All files seem to display ok, except the one starting with &. Not sure yet what is going on with that one.

Will release widely to the Amahi user base in the next release. The welcome server is updated now.

[2017-03-21 08:02] #131 closed

[2017-03-21 08:35] nikhilbalyan opened #137 "Play next and previous song control missing"
Steps to reproduce:
Step:-1 login into Amahi
Step:-2 click on the share menu from navigation bar
Step:-4 click on videos from the list of options
Step:-5 click on any of video we will not see a control for playing the next and previous video in the  media        player.

Expected behavior:
play  next and previous button must be there like in music subcategory inside demo

[2017-03-21 17:36] adithya321 commented on #42
We can have a Home icon to take the user to the top level like [Amaze File Manager](https://play.google.com/store/apps/details?id=com.amaze.filemanager).

<img width="515" alt="amaze" src="https://cloud.githubusercontent.com/assets/3854934/24161480/87809ea0-0e8a-11e7-8cfb-38a54edba0f8.png">

[2017-03-21 21:14] cpg commented on #128
In so far as I can tell, this is not a problem currently. I can zoom and slide without sliding to the next.

[2017-03-21 21:43] cpg commented on #98
Ok, I see that the web view is constraining the view port of the web page. I'm not sure if this is something that is fixable in the webview we use in the app or it's a result of the non-mobile friendly HTML/CSS in the amahi.org site. Pinch to reduce size does not seem to work.

If you can propose something to fix this, please suggest.

[2017-03-21 22:01] cpg commented on #97
I cannot reproduce it either.

[2017-03-21 22:01] #97 closed

[2017-03-21 22:01] cpg commented on #82
Sure, go ahead.

[2017-03-21 22:13] cpg commented on #136
I can reproduce this.

[2017-03-21 22:15] csoni111 commented on #98
This can be done by adding a few settings to the web view. We need to enable Overview Mode and zoom controls on it. Can I send a pr for this fix?

Also on a separate note the amahi website must be made mobile-friendly!

[2017-03-22 03:17] octacode commented on #128
@cpg The best example is Google photos. If we zoom in a picture they disable the sliding action and I think it's better because it provides better navigation inside the zoomed in picture.

[2017-03-22 03:19] octacode commented on #42
@cpg you views on this??

[2017-03-22 06:42] Jagruti1010 commented on #59
should i send PR ? I can help out in this.

[2017-03-22 06:43] octacode commented on #128
I think we can postpone this issue. Closing this for now.

[2017-03-22 06:43] #128 closed

[2017-03-22 13:16] adithya321 commented on #25
@octacode Are you working on this issue?

[2017-03-22 17:00] doomers commented on #69
@cpg can i work on this issue?

[2017-03-22 19:47] cpg commented on #98
If you think it's a simple solution, we should fix it.

However, the apps area has to be tested as well if this settings affects other usage of the webview.

[2017-03-22 20:49] doomers opened #140 "In-App permissions for Android version 6.0 or higher"
After Android 6.0, we have to include In-App permissions in app.
That's why we are unable to use Share feature in android 6.0 or higher.

Gif:
![ezgif-2-1f1509f10f](https://cloud.githubusercontent.com/assets/11586392/24220092/0cf7b0c0-0f6f-11e7-878b-ebfb52c3fb9b.gif)

[2017-03-22 20:58] hshrimali commented on #98
@cpg I'm done fixing this issue, if csoni111 is not working on it. Can I send the PR ??

[2017-03-22 21:11] cpg commented on #98
Let's see your PR @hshrimali.

[2017-03-22 21:26] doomers commented on #140
@cpg should i send a PR for this?

[2017-03-22 23:54] cpg opened #142 "steps to reach Material Design-ness"
My understanding is that we still have some ways to go to reach Material Design heaven.

What steps are those?

- converting toasts into sandwiches? (or whatever they are called)
- login page button?
- ??

what are those steps?

If you would like to work on one such step, please let's work on it in a separate issue you create.

[2017-03-23 00:33] #98 closed

[2017-03-23 02:16] csoni111 commented on #140
@doomers I don't see any problem in using the share feature. I have android 6.
Also the permission check was added in pr #16.

[2017-03-23 05:39] doomers commented on #140
He is doing it in a bad approach(it should be done exactly where permissions is needed,i.e. when user clicks Share Button), you are not getting an error because you have already given the necessary permissions
Steps to Reproduce:
Go to settings->Apps->Amahi->Permissions->Revoke all the permissions.
Now Run the App and select share option, now you can't share stuffs(Audio,Images,Vdeos,etc).

[2017-03-23 08:50] csoni111 commented on #140
Ok I get it.
The permission have been asked at the right place ie. when the user clicks the Share Button but he has not given anything in the `shouldShowRequestPermissionRationale()` [check](https://github.com/amahi/android/pull/16/files#diff-45bdb02b0d8e1dcc601724eba411b4cdR208). That's why if the user explicitly revokes the permission or denies it in the first time. Then the user will not be sho

[2017-03-23 11:38] nikhilbalyan opened #146 "Cardview Material design enhancement"
Current scenario:
We are using the textview to display the items such as video, demo and music

Proposed scenario
Placing the demo, video and introduction option textview inside the cardview to enhance the UI and provide elevation to  them and following the similar pattern inside the sub activities inside of them.

I would love to work on this issue

[2017-03-23 14:12] adithya321 opened #147 "Replace ListViews with RecyclerViews"
Per suggestion from #142

The RecyclerView widget is a more advanced and flexible version of ListView. This widget is a container for displaying large data sets that can be scrolled very efficiently by maintaining a limited number of views. We must use the RecyclerView when we have data collections whose elements change at runtime based on user action or network events.

Advantages of RecyclerView

[2017-03-23 14:28] octacode opened #148 "Replace Toasts with Snackbars."
#142

I will replace the given Toasts with Snackbars.

[2017-03-23 16:36] waadalkatheri commented on #147
i can i replacing the listView with RecyclerView ?

[2017-03-23 16:40] adithya321 commented on #147
@waadalkatheri I'm working on it and will send a PR soon.

[2017-03-23 16:49] waadalkatheri commented on #147
@adithya321 oh ok , but I want ask, how can I fix the issues If the BuildConfig file is Automatically generated file ?

can you help me

[2017-03-23 16:58] adithya321 commented on #147
@waadalkatheri I can't understand your question. Please open a separate issue if it is not related to this issue.

[2017-03-23 17:15] waadalkatheri opened #150 "Automatically generated file. DO NOT MODIFY"
I want fix some issues but I can't edit the file BuildConfig because is  Automatically generated file
how can fix issues  if the file is Automatically generated file ?

[2017-03-23 17:32] nikhilbalyan commented on #148
@octacode please explain the specific places where you want to replace Toasts with Snackbars because both of them have their own use cases you can't just randomly go and replace all Toasts with snackbars

[2017-03-23 18:36] nikhilbalyan commented on #150
It is irony but @waadalkatheri you don't need to modify buildconfig file

[2017-03-23 18:37] adithya321 commented on #150
You cannot edit `BuilConfig.java`. Set API information by creating a `api.properties` file as given in README.

[2017-03-23 20:03] nikhilbalyan opened #153 "Test Cases For AndroidManifest permissions"
Problem Description:
Right now we do not have the test cases for Permissions in AndroidManifest.xml and if someone delete them then that could be problematic.

Expected Behavior:
Adding the Unit Test to the amahi for android manifest permissions.

[2017-03-23 20:41] doomers commented on #118
Okay @cpg have a look at these Popular Apps:
1.)Paytm

![paytm](https://cloud.githubusercontent.com/assets/11586392/24269300/c379b02e-1036-11e7-8019-442ffff1be38.gif)

2.)Freecharge

![freecharge](https://cloud.githubusercontent.com/assets/11586392/24269321/d4637e7e-1036-11e7-9bfc-497e4da56f8c.gif)

3.)Flipkart

![flipkart](https://cloud.githubusercontent.com/assets/11586392/24269362/f3454aca-1036

[2017-03-23 20:57] cpg commented on #146
I am not sure I follow, because video, etc. are full-screen things (except for when the controls are up). Maybe show what it would look like?

[2017-03-23 21:00] cpg commented on #147
Can you relate this to the changes in #34 ?

[2017-03-23 21:39] #150 closed

[2017-03-24 01:41] adithya321 commented on #147
@cpg Yeah. This is similar to that PR but you will be able to tell the difference as I am making some visual changes too.

[2017-03-24 04:29] waadalkatheri opened #154 "the video is not working"
The problem : when I apply the Video is not working  .

I will fix the issues :)

[2017-03-24 05:41] nikhilbalyan commented on #146
@cpg you are right they are the full-screen things. I was just thinking from a different perspective as shown in following images right now in most of them we are showing options just with textview which can be wrapped around a cardview to give better look and feel.
![screenshot_2017-03-24-11-07-46](https://cloud.githubusercontent.com/assets/12967091/24281945/8762df60-1082-11e7-86f6-a17e0406115b.p

[2017-03-24 15:33] ak2711 commented on #148
can i work on this issue?

[2017-03-24 20:07] #140 closed

[2017-03-24 21:11] cpg commented on #148
@ak2711 please let @octacode confirm he's working on it.

[2017-03-24 21:16] cpg commented on #146
I literally cannot see much of a difference with what is there today. Other than some small font difference (barely noticeable) and the timestamp and size being cut off in half in your third image above (which is unacceptable for the users). So I don't know.

[2017-03-24 21:19] ak2711 commented on #148
Are there any issues that are not assigned

On 25-Mar-2017 2:41 am, "Carlos Puchol" <notifications@github.com> wrote:

[2017-03-24 21:30] cpg commented on #118
Ok, you proved some apps do it.

However, my design intuition says this is extra fluff that the user.

Fine, go ahead, unless @megabitdragon objects.

[2017-03-24 21:31] cpg commented on #78
No steps to reproduce. Hence we must close this.

[2017-03-24 21:31] #78 closed

[2017-03-24 21:35] cpg commented on #148
You can go through the issues and see if someone said they will work on it. You could also simply add new features you would like to see in the app after using it. Or make fixes/improvements that are sensible to you.

[2017-03-24 21:38] cpg commented on #65
I think this has been largely done in other PRs. It does not appear you were really working on this. If you are still working on this, please reopen.

[2017-03-24 21:38] #65 closed

[2017-03-24 22:00] csoni111 opened #155 "Replacing deprecated RemoteControlClient with MediaSession's Media Controls"
In the [AudioService.java](https://github.com/amahi/android/blob/master/src/main/java/org/amahi/anywhere/service/AudioService.java#L89) we are using the old and deprecated `RemoteControlClient` _( deprecated since api 21 or android 5.0)_ to play the music in background service.
This needs to be replaced by `MediaSessionCompat`.
You may check the changes here on [developer.android.com](https://deve

[2017-03-24 22:27] ak2711 commented on #76
video player currently works in portrait orientation.features to change orientation can be added.Features like automatic screen change on tilting screen can also be included.

[2017-03-24 22:38] csoni111 commented on #76
Yes, I actually thought that! Thanks for the suggestion anyway. Will add that also!

[2017-03-25 03:11] cpg commented on #52
can this be closed?

[2017-03-25 03:12] octacode commented on #52
@cpg I am working on it and will be sending a PR very soon.

[2017-03-25 05:44] nikhilbalyan commented on #146
actually these are the screenshot of the existing application and not of the textview inside the cardview which i was talking about. I will soon send the screenshot of what i intend to implement:D

[2017-03-25 09:01] ak2711 opened #156 "showing images in grid layout"
grid layout can be used to display images like this one

![12121](https://cloud.githubusercontent.com/assets/11472886/24320990/844fb9f2-1167-11e7-8139-f3240ce92981.PNG)

[2017-03-25 16:02] cskc97 commented on #147
I'd like to work on this issue!

[2017-03-25 16:02] cskc97 commented on #156
This can be done using a recycler view with a grid layout manager with a span of 4

[2017-03-25 16:14] adithya321 commented on #147
@cskc97 You can work on it. I got caught up in college work.

[2017-03-25 16:25] cskc97 commented on #147
@adithya321 Awesome! I'll clone it and work on it. This is a really cool project. I'm gonna be applying through GSoC as well!

[2017-03-25 20:25] cpg commented on #156
It's a nice idea. How to represent folders of images may also need some thought.

@ak2711 Please specify if you will be working on that or not.

[2017-03-25 20:44] ak2711 commented on #156
i would definitely like to work on it. folders can also be implemented  like the following
![screenshot_2017-03-26-02-12-39](https://cloud.githubusercontent.com/assets/11472886/24325952/da1fd9f4-11c9-11e7-9f90-963d50ec24fb.png)

[2017-03-25 23:35] waadalkatheri commented on #154
@cpg What do you opinion of video issue ?

[2017-03-26 03:42] joydeepsaha05 commented on #32
@cpg You could use a localisation platform so that people with no coding experience can easily translate the strings to their native language. These are a few I've used: Transifex (https://www.transifex.com) and Lokalise (https://lokalise.co).

Both offer a free plan for open source projects.

[2017-03-27 18:32] octacode commented on #148
Sorry I got up in submissions will update you all with the PR status very soon.

[2017-03-28 00:08] adithya321 opened #158 "Reformat Code"
I am used to reformatting code (Cmd+Alt+L in mac) and I have to undo that everytime as it changes a lot in every file. For example, PR #108 and #157.

I use the Default code style scheme in Android Studio but we can use any code style by committing `.idea/codeStyleSettings.xml`. By doing this everyone can reformat code to match the style before committing.

@cpg How do you think we can reformat th

[2017-03-28 01:55] adithya321 opened #161 "Theming with primary and accent colors"
Per suggestion from #142

We can set colorPrimary, colorPrimaryDark and colorAccent attributes in `themes.xml` to tint all the widgets. @cpg Which color palette shall I choose from [Material Design Color Palette Generator](https://www.materialpalette.com/) ?

We can also set other attributes as shown in the image.

![themecolors](https://cloud.githubusercontent.com/assets/3854934/24385133/f49217b2

[2017-03-28 02:20] anujgupta61 commented on #155
If no-one is working on this issue , can I work on it ?

[2017-03-28 08:04] csoni111 commented on #155
@anujgupta61 I am working on the issue.

[2017-03-28 08:16] anujgupta61 commented on #155
Okay .

[2017-03-28 09:22] guenodz commented on #158
Personally I use the official Google code style for Android projects [here](https://github.com/android/platform_development/blob/master/ide/intellij/codestyles/AndroidStyle.xml). We can use it or use another common style, or we can use the default code style in IntellijIdea. What do you think ?

[2017-03-28 09:26] harshvardhanpro commented on #147
@cskc97 Are you working on this issue ?

[2017-03-28 09:33] harshvardhanpro commented on #137
@nikhilbalyan are you working on this issue or should ? if not, i would like to..

[2017-03-28 13:55] cskc97 commented on #147
@harshvardhanpro yes, I am. I will let you know in the next 36 hours if I get caught up with something else. Is that okay?
Also, thank you for confirming with me!

[2017-03-28 16:37] nikhilbalyan opened #164 "Missing Rules and Runner dependency from Build.gradle"
Current Scenario:
Runner and Rules dependencies are missing from build.gradle and i was unable to build the project without error and warning in AuthenticationActivityTest.

Proposed solution:
Need to add rules and runner dependency in build.gradle

[2017-03-28 16:38] nikhilbalyan commented on #164
other please confirm if you are facing similar problem so that i can send a PR

[2017-03-28 16:40] nikhilbalyan commented on #164
sorry there was some issue in android studio now it is working fine

[2017-03-28 16:40] #164 closed

[2017-03-28 17:59] harshvardhanpro opened #165 "Use ExoPlayer in place of MediaPlayer(MediaController)"
About Exoplayer :
The Android framework provides MediaPlayer as a quick solution for playing media with minimal code, and the MediaCodec and MediaExtractor classes are provided for building custom media players. ExoPlayer is an open source project that provides a solution falling somewhere between these two options. It is a player that you can modify and extend.
 Also it includes tunneled video pl

[2017-03-28 18:21] harshvardhanpro commented on #165
I think its implementation will take a lot of time. So, I think I will add it in secondary idea in my proposal.
Can someone suggest, what i am thinking is right or wrong?

[2017-03-28 18:25] harshvardhanpro commented on #147
Ya !! go for it. 👍

[2017-03-28 19:36] nikhilbalyan commented on #146
@cpg although cardview is part of material design and is a really good feature often used with recyclerview to display list items but they somehow doesn't looks well in our case. here is a screenshot of me implementing the cardview
![screenshot 29 mar 2017 1-02-44 am](https://cloud.githubusercontent.com/assets/12967091/24423753/c374cd1e-141b-11e7-9d57-a4cfb6fe2d64.png)

[2017-03-28 19:39] nikhilbalyan commented on #137
@harshvardhanpro sorry to inform you that i have already started working on this feature you may look at other unassigned features or maybe open another issue.

[2017-03-28 20:20] harshvardhanpro commented on #136
@nikhilbalyan are you working on this issue ?

[2017-03-28 20:31] harshvardhanpro opened #167 "App force closes when song gets complete."
When we play a song. After completion of the song it force closes.

[2017-03-29 07:43] cpg commented on #165
It took us a long time to get to where we are, so I am not too inclined to just switch, given that what we have is not bad and it works for basically most/all media I have been throwing at it.

[2017-03-29 19:03] cpg commented on #161
I think Blue (which is what I think we have) is fine. The accent color can be deep orange (or orange).

**However**, the background and general theme should be dark like we have now. Most media play apps offer dark browsing, because many people like to browse in evenings/night (usually dark environments). It also has another benefit: the media previews pops more.

[2017-03-29 22:35] harshvardhanpro commented on #165
@cpg I know its working fine now, but in near future when you will add more fetures to it, it will become more difficult to understand the code and more and more issues will rise.
i may not be the expert, you can consult with @megabitdragon or @bigfoot65 on the issue...

[2017-03-30 00:47] #62 closed

[2017-03-30 01:00] megabitdragon commented on #118
This is not needed.

[2017-03-30 01:01] #118 closed

[2017-03-30 01:06] harshvardhanpro opened #171 "Add option to open html file in chrome"

[2017-03-30 01:24] cpg commented on #42
Based on [the guidelines](https://material.io/guidelines/patterns/navigation.html#navigation-usage), it seems like

- the up button (at the top, inside the app header), should be hierarchical. In other words, take the user one level "up" in the hierarchy within the app. We are not doing this at the moment.
- the back button (at the bottom, possibly a hardware button) should be chronological. I hav

[2017-03-30 02:20] octacode commented on #42
When the user navigates from Share to a folder that's when a new screen is presented. However, When the user navigates from folder to another folder(nested) then the screen remains same but the content is updated.
I too feel we should consider each folder and share as a new screen.
If we consider each folder and share as a new screen then #43 matches the guidelines.

[2017-03-30 05:03] cpg commented on #158
We discussed about this and agreed to adopt this. The only remaining thing is to add a section (before the `Generating the documentation` section) in the README titled `Code Style Convention` with details for other developers to follow when thy contribute in the future.

After you do that (separate PR) we can close this. Thanks!

[2017-03-30 05:08] adithya321 commented on #158
I am working on it and I will send a PR soon.

[2017-03-30 07:37] #42 closed

[2017-03-30 07:50] #158 closed

[2017-03-30 07:51] #102 closed

[2017-03-31 09:48] #21 closed

[2017-03-31 10:03] #161 closed

[2017-03-31 11:31] cpg opened #177 "advice from the Android developers blog related to aspect ratios"
The Google Play console advises that Amahi for Android [may need to be updated to handle newer aspect ratios](https://android-developers.googleblog.com/2017/03/update-your-app-to-take-advantage-of.html).

Seems like a simple change from a cursory reading. Not sure this is something we need yet or if it has potential negatives.

[2017-03-31 11:38] octacode commented on #177
@cpg....It's not a big issue. I'll fix it.

[2017-03-31 12:40] cpg commented on #42
I see the back button does not seem to be chronological at the moment.

Does the app control it?

If so, can we just not do anything and get it working chronologically as it's meant to be?

[2017-03-31 13:01] octacode commented on #42
No. It's controlled by android by default. However.... We can control it by overriding the OnBackPressed() method in the Activities. Can you please explain where the Back button violates the chronological order?

[2017-03-31 13:27] octacode commented on #148
**Settings Fragment**:-
While Signing out - Toast is fine as there's an activity change and we want to display the message over the change which isn't possible with Snackbars because Snackbar's instance dies with the activity which isn't the case with Toast.
In setUpApplicationFeedback() and setUpApplicationRating() :- Snackbar will look awesome. :)
**ServerFilesFragment**:- Here replacing Toasts

[2017-03-31 13:38] doomers opened #179 "accent colour not following material design guidelines"
after #175 ,with the addition of primary and accent color, app is looking nicer than before
but if we go by material design guidelines accent color should be a light colour of 200
https://material.io/guidelines/style/color.html#color-color-palette

but we are using orange of value 500, which looks quite  odd,
and also as our app has a dark theme, we can use orange colour of value 300 also and it i

[2017-03-31 15:17] octacode opened #182 "Change the action mode background color"
Right now when the Item is selected. The background of actionMode looks like this:
![screenshot_20170331-193555](https://cloud.githubusercontent.com/assets/20819968/24556782/276cac86-1653-11e7-9a2b-5cdec26059a0.png)

We can change it to look like this:
![screenshot_20170331-204227](https://cloud.githubusercontent.com/assets/20819968/24556808/3c12ee3e-1653-11e7-9479-20f40d0a0c38.png)

[2017-03-31 17:16] #167 closed

[2017-04-01 20:41] rdeveloperIITR opened #184 "Adding toast message showing press back again to exit"
**Summary:**

Adding Toast message to click back again to exit

**Steps to reproduce:**

Click the physical back button(it directly closes the application)

**Expected behavior:**

Toast message saying that "press back again to exit"  is shown and if within a certain time interval back
is pressed again then close the application.

**Observed behavior:**

Application is closed directly

**Screensho

[2017-04-01 20:43] rdeveloperIITR commented on #184
I would like to work on this :)

[2017-04-01 20:44] octacode commented on #184
@rdeveloperIITR ...this issue has already been raised and considered unnecessary. Please refer #118.
Can close this one.

[2017-04-01 20:46] #184 closed

[2017-04-02 07:12] #177 closed

[2017-04-02 11:21] octacode commented on #182
Thanks for the merge. :)

[2017-04-02 11:21] #182 closed

[2017-04-02 15:25] joydeepsaha05 commented on #146
@nikhilbalyan I guess we could close this? CardView looks better when there are multiple elements for each item, rather than just a single TextView.

[2017-04-02 19:49] #153 closed

[2017-04-02 19:50] nikhilbalyan commented on #146
and moreover when we have a light theme than a card looks nice.

[2017-04-02 19:50] #146 closed

[2017-04-03 04:46] RanchoDbest commented on #156
@ak2711  Are u working on this issue??

[2017-04-03 07:24] #134 closed

[2017-04-03 14:33] joydeepsaha05 commented on #52
@octacode Could I take this? I've done most of the changes to convert the ActionBar.

[2017-04-03 15:32] joydeepsaha05 opened #186 "Option to resend request if failed"
Whenever there is a network error, add an option to tap the error to retry. This would be better from the UX perspective.

[2017-04-03 15:32] joydeepsaha05 commented on #186
I am working on this.

[2017-04-03 16:22] #148 closed

[2017-04-03 16:25] octacode commented on #52
@joydeepsaha05 . I have already sent a PR #67 but it had a lot of merge conflicts. So I closed it. I too am already done with the code and will be sending the PR very soon.
Thanks

[2017-04-03 16:30] octacode commented on #52
@cpg @joydeepsaha05 While I was working on it noticed that we don't actually need custom Toolbars in our case because we're able to deliver the same experience with the support Action bar which really is awesome. Moving onto custom Toolbars will just complicate the code.
So I guess we can close this one.

[2017-04-03 16:44] joydeepsaha05 commented on #52
@octacode @cpg The only thing I don't like about the current implementation is the logo. It looks a bit wierd and takes up a lot of space.

[2017-04-03 17:02] octacode commented on #52
@joydeepsaha05 so I guess we can simply replace the info  from ic_launcher in the action bar to another 32 bit PNG alpha image.

[2017-04-04 19:24] cpg commented on #154
No indication of what this is about. Video has been working well for all of us.

[2017-04-04 19:24] #154 closed

[2017-04-05 18:35] #155 closed

[2017-04-05 20:48] cpg commented on #137
Abandoned

[2017-04-05 20:48] #137 closed

[2017-04-07 12:58] octacode commented on #64
Can close this one.

[2017-04-07 13:00] octacode commented on #147
@cskc97 Please let us know about the status of this issue.

[2017-04-07 14:55] megabitdragon opened #188 "Prepare the app for android O"
[Here](https://developer.android.com/preview/index.html) is the guide for reference.

[2017-04-08 04:11] cskc97 commented on #147
@octacode  please go ahead and solve the issue! :)

[2017-04-08 23:31] cpg opened #189 "some photos cannot be opened by the app!"
I noticed this in some browsing through early on but I attributed to some weirdness of my setup.

Looks like a bug. Others are also [having trouble opening some images](http://rickwright.co.nz/amahi/amahi.htm)!

[2017-04-08 23:54] Rickwright12 commented on #189
let me know if you want more detail on it.

[2017-04-09 03:32] joydeepsaha05 commented on #52
@cpg I've replaced the back arrow with the launcher icon. In my opinion, it does look better but I think it doesn't follow the material design guidelines. Opinions?

![device-2017-04-09-084905](https://cloud.githubusercontent.com/assets/12814192/24834412/b6115fa4-1d01-11e7-8ce5-316e36eff25e.png)

[2017-04-09 08:29] csoni111 commented on #189
Looks like that's a bug in the Picasso library itself. I have opened an [issue](https://github.com/square/picasso/issues/1613) on the picasso's github repository.
Let's see if someone responds there.

In the meantime, I have tried loading the same image using other image loading libraries (like [UniversalImageLoader](https://github.com/nostra13/Android-Universal-Image-Loader) and [Glide](https://g

[2017-04-09 21:18] cpg commented on #189
Now, is this a light change (like a few lines) that is mostly all compatible? Or is it a change that requires adjusting a bunch of code and has behavioral changes?

One thing is that picasso seems slow in responding to issues and fixing things.

The other thing is that it's surprising that many people did not notice this issue in that library. Is it not widely used?

[2017-04-10 08:51] Rickwright12 commented on #189
just trawling thru the picasso errors...  found similar one.  https://github.com/square/picasso/issues/1514
I have tried the two photos referenced in their error,  first one will not load, the second one does.  downloaded android studio to see if I could muck around and learn anything.  more confused than anything. check above error, re resize() which is what I was trying to look at.

[2017-04-10 13:54] megabitdragon opened #191 "Music player controls are not visible"
The music player controls are not visible on the lock screen or from the notification bar. The device is running Android 7.1.1
![screenshot_20170410-085012](https://cloud.githubusercontent.com/assets/2903227/24864902/3b8509a0-1dcb-11e7-8c3d-dcfa9e5228d5.png)
![screenshot_20170410-084955](https://cloud.githubusercontent.com/assets/2903227/24864906/3ee6492e-1dcb-11e7-8ed1-0043b242f3b2.png)

[2017-04-10 14:07] csoni111 commented on #191
My bad! I did not test it on android 7. Will resolve it soon.

[2017-04-10 23:29] #189 closed

[2017-04-10 23:43] cpg commented on #189
Great job! Tested it, merged it and released it as version 2.2. Look for it in the play store!

[2017-04-11 08:10] octacode commented on #188
I tested our App by flashing the Android O disc image on a Nexus 5 and Pixel emulator and it worked great! and in the docs it's mentioned that we don't need to update the libraries for compiling so there's nothing which should be done here. For testing I used Android Studio's canary version.

[2017-04-11 10:36] brumle80 opened #192 "bug: webapps tab fails if the app has htpasswd access set"
you get automatic failure instead of asking for username/password when having htpasswd enabled on a webapp.

[2017-04-11 10:57] octacode commented on #192
Switching to custom chrome tabs can be the solution to this. Even Google app uses it.

[2017-04-11 20:19] cpg commented on #192
@brumle80 could you check [this APK](http://alpha.amahi.org/tmp/android-bug-192-debug.apk) and see how it works for you? I do not have an easy way to htpasswd-enable apps at the moment.

[2017-04-11 20:28] cpg commented on #192
@octacode Did you actually test this with an htpasswd-enabled web app?

[2017-04-12 02:12] octacode commented on #192
Yes! I did.

[2017-04-12 08:13] octacode commented on #192
I tested it! It's working now. Let's wait for @brumle80's review

[2017-04-12 18:10] octacode opened #196 "Improvements in the caching mechanism in the newly added Glide library"
One of the major difference b/w Picasso and Glide is that Picasso does this caching implicitly while in Glide we have  to mention explicitly the disk caching strategy.

[Here's a blog from future studio.](https://www.google.co.in/url?sa=t&rct=j&q=&esrc=s&source=web&cd=1&cad=rja&uact=8&ved=0ahUKEwio2KX9wJ_TAhWHRo8KHUyODl4QFggeMAA&url=https%3A%2F%2Ffuturestud.io%2Fblog%2Fglide-caching-basics&usg=AFQ

[2017-04-12 19:20] #196 closed

[2017-04-12 21:35] #186 closed

[2017-04-13 02:17] cpg opened #198 "lots of crashes being reported by users playing music"
W're getting lots of crashes in ServerFile.getMime calls. To reproduce, click on a music file to play! Play starts, but it crashes quickly and system asks the user to report a crash report. Music continues playing, however.

This appears to occur only on local share files. It appears to work from the `Welcome to Amahi` demo cloud server.

we're getting lots of crash reports that look like this. An

[2017-04-13 02:48] cpg commented on #198
We're getting a lot of these failures.

On user indicated the following:

[code]

[2017-04-13 02:52] cpg commented on #198
More details:

device model: LG VS986

[2017-04-13 03:06] cpg commented on #198
Update, update, it's got to do with the format of the song. I uploaded one called `Williams - Star Wars` to the demo server (under Demo > music) where this crash is reproducible for me.

[2017-04-13 06:58] #64 closed

[2017-04-13 07:04] cpg commented on #59
No action on this. If the first activity appearing is not the login page, I cannot see it well. Maybe it's too fast.

[2017-04-13 07:04] #59 closed

[2017-04-13 07:15] cpg commented on #52
Hmm. It does not look good to me. What we have is a little suboptimal, but this is too tight between the indicator and the logo. Is there anything else besides that space and the different symbol for the indicator?

[2017-04-13 07:16] cpg commented on #46
merged already

[2017-04-13 07:16] #46 closed

[2017-04-13 07:18] cpg commented on #41
I am not sure what these can do, but the example that you cite is a neat improvement.

Apologies for the belated reply.

[2017-04-13 07:18] #41 closed

[2017-04-13 07:20] #38 closed

[2017-04-13 07:21] cpg commented on #79
No action.

[2017-04-13 07:21] #79 closed

[2017-04-13 08:07] joydeepsaha05 commented on #198
I could reproduce the crash from the demo server. Seems to be an issue with the status bar's notification text being assigned a null value.

[2017-04-13 08:12] joydeepsaha05 commented on #52
I could increase the space between the back indicator and the logo. But, do we really need the logo to be present in the action bar?

[2017-04-13 08:13] octacode commented on #52
That's what I was thinking about. It would be better if we don't have the Amahi logo in the action bar.

[2017-04-13 14:02] octacode commented on #198
@cpg Yes! even I was able to replicate the same! Every time I make a call I get the message saying that
`Amahi has stopped`. Looking into the reason for the crash.

[2017-04-13 21:33] #191 closed

[2017-04-13 21:33] #198 closed

[2017-04-14 06:13] cpg opened #202 "glide library crash"
we received a couple of glide crashes ..

[code]

[2017-04-14 06:15] octacode commented on #202
Sending a fix ASAP

[2017-04-14 06:29] octacode commented on #202
There seems to be an issue with the glide library itself. [The issue is having a won't fix tag.](https://github.com/bumptech/glide/issues/803) However there's a temporary fix to it until it's permanently resolved.

[2017-04-14 07:01] csoni111 commented on #202
@octacode We may add a simple check for, if the activity is destroyed or running (or something like that) in the code.
 **OR**
A better solution would be to add a interface/callback mechanism in the `ServerFilesMetadataAdapter` to interact with `FileMetadataRetrievingTask`, instead of what currently has been implemented _(using static [methods](https://github.com/amahi/android/blob/master/src/main

[2017-04-14 08:39] csoni111 commented on #202
@octacode I have implemented the same in this [commit](https://github.com/csoni111/amahi-android/commit/9f8ff103f5a1afaec3677e5f83198f0b4c3c1946), are you working on something else for fixing this or should I open a pr?

[2017-04-14 08:39] octacode commented on #202
No issues! Go ahead

[2017-04-14 20:59] #202 closed

[2017-04-14 21:00] cpg opened #204 "crash on browsing lots of movies and backing out"
using the same technique to try and reproduce the crash in #202 with the PR #203 code, i got this crash:
[code]

[2017-04-14 22:37] cpg commented on #204
@csoni111 said in #203:

This particular movie-share folder does have > 128  movies. And also, I scrolled quite fast, in an effort to see if the issue in #202 was still present in the PR #203 code.

[2017-04-15 21:49] csoni111 commented on #204
I was just thinking, why do we even need Async Task for fetching Metadata info?
Currently we are using an AsyncTask inside which we are calling retrofit Call's `execute` method. So why not simply use retrofit call's `enqueue` method and remove the async tasks from between. This would solve all the problem but I am not sure if it is the right way!

[2017-04-16 02:19] cpg commented on #204
This area is rich in crashes ... same thing ... browse, back, back ... tap, crash ..

[code]

[2017-04-16 02:32] cpg commented on #204
@megabitdragon, this tells me that the browsing may need to have some re-architecting.

[2017-04-16 02:42] joydeepsaha05 commented on #204
@csoni111 Even Retrofit's enqueue method has a maximum limit to the number of calls in the queue. The limit is 100, so this won't work.

[2017-04-16 07:05] csoni111 commented on #204
@joydeepsaha05 Where did you find this limit?
Also, there has to be a limit, you cannot put infinite requests in parallel at the same time. Otherwise this will just hang your device. We only needed a way to control the new requests being made, which retrofit does very smoothly. It handles all of it in the background. So I don't think, there's any issue with that!

[2017-04-16 07:09] joydeepsaha05 commented on #204
@csoni111 I've noticed the limit when I used Retrofit in one of my other projects. The app would crash on the first run, when all the requests are made for the first time and this would continue for that user, since none of the requests are allowed to complete.

[2017-04-16 07:32] csoni111 commented on #204
@joydeepsaha05 well I think you might have used an older version of retrofit / okhttp or some other cofiguration, as with the current code it doesn't seem to crash! Also I digged deeper into the code of OkHttp (retrofit uses this to make http calls) and found this in [Dispatcher.java#64](https://github.com/square/okhttp/blob/master/okhttp/src/main/java/okhttp3/Dispatcher.java#L64).

```executorSer

[2017-04-16 08:35] joydeepsaha05 commented on #204
@csoni111 Hmm, that might be possible.

But, wouldn't a better solution be to create a single AsyncTask to fetch the metadata one by one (synchronously using Retrofit) and use the onProgressUpdate() to update the UI?

[2017-04-16 09:11] csoni111 commented on #204
@joydeepsaha05 Say I have 500 movies in a folder _(which is actually the case here)_, if request for loading metadata for each file takes 1 sec. Then it would take 500+ seconds to load the complete data, if you make the requests one by one. This will be really slow. On the other hand if simultaneous requests are fired in separate threads, you can imagine how fast it would be!
Even then you may giv

[2017-04-16 12:20] joydeepsaha05 commented on #204
@csoni111 The earliest I can test things out would be Saturday (Apr 22) since I've got exams this week.

The crash log posted by @cpg is due to the Glide bug which should have been fixed in #202
Maybe you missed a few files which used the same code?

[2017-04-16 12:46] #204 closed

[2017-04-17 19:24] brumle80 commented on #192
tested it, still getting unathorized or blank screens
it's not that it crashes, just not getting password dialog...

[2017-04-17 19:31] brumle80 commented on #192
screenshot of ez server monitor with the debug version, also made sure to clean out any data in the original app.

![screenshot_20170417-212608](https://cloud.githubusercontent.com/assets/1945652/25101462/b722e192-23b4-11e7-9985-d5ec00ffd3cb.png)

[2017-04-17 19:57] octacode commented on #192
@brumle80 this screenshot doesn't seems to be of the debug app. Instead it looks that of the original app present at the master branch.
Thanks

[2017-04-17 20:01] octacode commented on #192
If the problem still persists. We can then replace the given custom tabs with an implicit intent to the default browser of the Android device (Chrome in my case). @cpg your views?

[2017-04-17 20:11] brumle80 commented on #192
hmm, my issue might be that all my all apps use ssl with letsencrypt by default, that might be why it doesn't work for me?

[2017-04-17 20:16] brumle80 commented on #192
and it's the debug app, it changes colors when I try to use the webapp.

[2017-04-17 22:07] cpg commented on #192
I don't see why let's encrypt would make it fail. We will have to debug further, though I am tempted to go ahead with this change anyway because it's probably a net win (though chrome is always suspect of siphoning data to the big G).

However, I would like to know how you tested it @octacode, since it works for you!

[2017-04-17 22:18] octacode commented on #192
Well! I am not sure whether I've got the whole idea right? However I added a new webpage link to the facebook login page in my HDA "Facebook.html" and tried logging into Facebook from there which was not happening in the master branch app. With custom tabs I was able to successfully log in and infact was able to browse my facebook content too.

[2017-04-17 22:23] brumle80 commented on #192
you set access on "hdasettings / apps/ webapps /" and enable access on one of the apps, then go to "hdasettings / apps/ webapps / access" and set the password on the user there.
now reload httpd and test that app on the mobile app

[2017-04-20 06:35] cpg opened #207 "crash in client.ServerClient.getFileUri()"
this is our top crash at the moment:

[code]

[2017-04-20 17:59] octacode commented on #207
I'd like to take up the issue.

[2017-04-20 20:28] octacode opened #208 "Updating and displaying the percentage of buffering while opening a video"
This'll make Amahi more transparent and user friendly.

[2017-04-20 21:07] cpg opened #209 "crash in getPreviousAudioFile()"
the app's next top crash is this:
[code]

[2017-04-21 04:25] csoni111 commented on #208
This feature has already been listed out in an issue (#76) and I had implemented this a month ago _(check this [commit](https://github.com/csoni111/amahi-android/commit/23376fa1a1da4ffa83d812c7d29df1d0464aaebf))_, but I thought it would be better to make all the updates as mentioned in that issue and then open a single pr.

[2017-04-21 04:50] octacode commented on #208
Okay! If you need any help then please feel free to ask as I've worked on a Video Playing app before. :)

[2017-04-21 04:50] #208 closed

[2017-04-21 08:39] cpg commented on #209
BTW, we have a similar number of crashes with getNextAudioFile(). Maybe it's the same bug or a symmetrical one.

[2017-04-22 06:51] #171 closed

[2017-04-25 07:22] cpg commented on #207
We don't know. It has to be solved by logical deduction.

[2017-04-30 14:41] joydeepsaha05 commented on #136
@cpg This can be closed.

[2017-04-30 20:31] #136 closed

[2017-05-04 19:43] octacode opened #213 "How to handle Amahi for Android TV code, app, etc."
The question is do we need a separate app for Android TV or is it fine to create a new module for it in the present app itself.

[2017-05-04 19:45] batbrain7 commented on #213
I suggest that if we will have a new app then we should make a separate repository for it

[2017-05-04 19:47] octacode commented on #213
@batbrain7 separate repository is not an issue. It's just whether the changes will complicate the code.

[2017-05-04 19:49] octacode commented on #213
Personally I don't think it will complicate the code. For the time being we can actually create a new branch and make the changes there and later on merge it with the main branch. Moreover a separate repository will mean 2 different apps on playstore which we obviously don't want.

[2017-05-04 20:01] cpg commented on #213
I will agree that two separate apps is not something we want, if we can avoid it, but it's not catastrophic if we have to.

For me, the question is managing the code changes for Android TV and how they can interfere with the main app.

Will we need a method IsAndroidTV()?

Will we need to use it often and sprinkle the code everywhere with it?

Will layout files and events be handled significantly

[2017-05-04 20:06] octacode commented on #213
No the code changes will not interfere with the main app. TV layouts, it's Java code and it's libraries will be handled separately. So these issues aren't really significant. We should keep things in one app.

[2017-05-04 20:16] cpg commented on #213
Ok, I hope we can keep it all in one app and one code base, under the assumption it does not create a significant hindrance for the main app.

We have created a branch for it called `android-tv`. Let's issue PRs against it in the future then one day test with a merge.

[2017-05-04 20:16] #213 closed

[2017-05-08 05:26] csoni111 commented on #69
As discussed in pr #212 following features need to be implemented:

- Pre fetching metadata for songs
- Implementing proper caching mechanism for song metadata (along with album art bitmap)
- Replacing Album art ImageView with ViewPager
- Thumbnail album art previews in place of icons for audio files

[2017-05-26 10:52] cpg opened #214 "update libvlc to cover the subtitles vulnerability"
I think it has [been fixed](http://git.videolan.org/?p=vlc.git;a=commitdiff;h=775de716add17322f24b476439f903a829446eb6) and we should eventually update past this version.

[2017-06-06 05:05] octacode opened #218 "Duplication of code between ATV and the "master" app"
Basically we need to find a work around to keep some things between the two modules(ATV & "master") like the API requests. So that if somethings are changed in the future we don't have to change them at two places.

[2017-06-10 06:43] octacode commented on #218
This has been resolved.

[2017-06-10 11:49] octacode commented on #218
Earlier I was creating a new module for android-tv where the previous code was just copied and integrated with the TV layouts which I've created already.

Now I have used a function isATV(); which tells whether the app is run in android TV or not. If the device is an android TV then the shares, apps and servers are fetched first with the progress bar being displayed. Once the networking call are m

[2017-06-16 11:48] cpg opened #224 "finish up a UI for subtitles"
subtitles are working, but hardwired (no way to disable them by the user). this code is disabled because most people do not use them, so defaulting them may bother people.

eventually we will need a simple and sensible UI to enable/disable them.

[2017-06-28 23:18] megabitdragon opened #234 "Selected controls not visible on audio and video player for Android tv"
When playing a song the selected control is not highlighted so there is no way to tell what will happen when pressing the select button.

[2017-06-28 23:20] megabitdragon opened #235 "Select button will stop the audio player on Android TV"
When playing a song and the controls are not visible, pressing the select button will close the player. The expected behavior is to display the controls.

[2017-06-28 23:24] megabitdragon commented on #234
Same issue for the video player.

[2017-07-01 10:32] cpg opened #236 "the movie files inside the movie share should display the metadata artwork in ATV"
the movie files inside the movie share should display the metadata artwork in ATV, just like in the phone side (so please check the code on that side to see how metadata is used).

[2017-07-09 08:26] cpg commented on #236
So, I think some of this was not done as in the phone side:
- folders are looked up for metadata (they shouldn't), resulting in weird movies sometimes (e.g. if I have alphabetical folders)
- files inside of folders (or inside folders of folders) are not looked up for metadata

I'm pretty sure the phone code does both of the above properly.

[2017-07-10 08:00] octacode commented on #236
PR #238 ffixes this.

[2017-07-10 08:00] #236 closed

[2017-07-10 09:59] cpg opened #239 "[ATV] when selecting server, clicking on "go back" makes the app spin"
one can leave the server select area with the back button, however, selecting the "go back" option (which should also take one back, like the back button), yields a spinner.

the app is not hung, however. can we just remove this option if the back button works?

[2017-07-10 10:04] cpg opened #240 "uploading a file to a folder feature"
this feature shares the (+) floating button (let's call it the PFB?) and it will be the first one using it.

when in a share, if the user taps on the PFB, an drawer shows up from below and an option to upload a file takes place with the upload icon on it.

the file is uploaded to the current folder in the current share using the upload API.

(we will add a separate feature for other things using t

[2017-07-10 13:30] octacode commented on #239
#241 fixes this issue.

[2017-07-11 10:47] #239 closed

[2017-07-12 03:17] megabitdragon opened #243 "Auto Upload photos"
A option to auto-upload pictures from camera should be added. This should be enabled by a switch in the settings menu. Once enabled, two more field should show up specifically, path to the upload folder and a switch that will indicate if  pictures should be uploaded on cellular data or not. The images need to be added to a queue and uploaded only on WiFi if the cellular data is disabled. Otherwise

[2017-07-12 06:48] csoni111 commented on #243
When will the auto upload trigger? Does this mean that as soon as the user takes a new photo from any of the camera application available on his device, the upload shall trigger or the photo will have to taken from inside amahi app?

[2017-07-13 19:48] megabitdragon commented on #243
Is should work for every camera app or at least for the default one. I think it should trigger as soon as a photo is taken. We might put a delay on place just in case the person decides to delete the picture immediately after is taken. Maybe add the image to a queue, and after a determined delay, if picture is still in the folder upload it.

[2017-07-14 23:47] csoni111 commented on #243
I see two options for achieving this:

1) We can use [FileObserver](https://developer.android.com/reference/android/os/FileObserver.html) to observe a particular directory for any new file addition (recursively inside the directory listing). Then on callback, we start a background service which uploads the file to the server.

2) Another option is to register a `ACTION_MEDIA_SCANNER_SCAN_FILE` Bro

[2017-07-15 04:13] megabitdragon commented on #243
@csoni111 Shouldn't we use the [camera2](https://developer.android.com/reference/android/hardware/camera2/package-summary.html) api?

[2017-07-15 11:10] csoni111 commented on #243
We do not want to capture image from inside our app _(or do we?)_. What we want is to get notified whenever any new image is taken on the device using any app.

To capture an image from inside our app, there are two possibilities:

- Using a custom made camera inside our app and `camera2` apis (instead of deprecated `camera` apis)
- Or calling the default camera app using an Intent with action typ

[2017-07-15 13:38] megabitdragon commented on #243
@csoni111  Taking photos from within the app is a story for a different day but very good suggestions. I think we should use the Broadcast Receiver and the ACTION_NEW_PICTURE. We have to keep in mind that for android N, ACTION_NEW_PICTURE was removed so we need to use [this](JobInfo.Builder.addTriggerContentUri(JobInfo.TriggerContentUri) instead. Can we just use the JobScheduler as described and f

[2017-07-15 22:25] csoni111 commented on #243
Unfortunately we cannot just rely on the `JobScheduler` only as it was added in api 21 (android 5.0) and is not backwards compatible through a support library.
So maybe we can take a look at this library [Firebase JobDispatcher](https://github.com/firebase/firebase-jobdispatcher-android). This was developed by firebase to backport the JobScheduler till api 9.

Or we can have two separate things, t

[2017-07-23 03:27] cpg opened #248 "ATV usability: on-screen controls are very hard to use"
1) the screen should not grey-out when a movie is playing and the controls come up. this is quite annoying, because it hinders watching the movie while it plays.

2) i would even suggest moving the controls lower to the bottom of the screen as they are very intrusive.

3) the next and previous buttons are not really necessary when playing movies. they may be while playing audio, however. can we ju

[2017-07-23 03:29] cpg opened #249 "ATV usability: too easy to exit the app"
i notice i have to use too much thinking to use the app or i easily exit it, then i have to find it again to use it, navigate to my folders, etc.

other apps require clicking on a "power" button (with a power icon) with an exit confirmation, to exit the app. clicking on exit takes you back to the UI and exit again back to reproduction of the movie. can we do something similar?

[2017-07-23 03:32] cpg opened #250 "ATV: shares that are not marked as visible should not be listed"
like in the phone case.

this is until we have non-admin user implemented.

[2017-07-23 03:48] cpg opened #251 "ATV usability: no metadata under cover art for movies"
see [this image](https://www.dropbox.com/s/3sifcgzaocamj27/Screen%20Shot%202017-07-22%20at%208.46.19%20PM.png?dl=0) for an example.

all of the movies just show a blank space under the cover.

[2017-07-23 03:50] cpg commented on #248
example from the [kodi ui](https://www.dropbox.com/s/4nnntnlzpqsmfwo/Screen%20Shot%202017-07-22%20at%208.49.14%20PM.png?dl=0)

[2017-07-23 05:49] octacode commented on #251
We don't display the metadata in phone under cover art for movies in Android phone also. So I thought of doing the same here. But I agree it looks kinda weird. Will fix this. :+1:

[2017-07-23 05:51] octacode commented on #249
Thanks for pointing out. We should do it the way the other apps do. :+1:

[2017-07-23 06:18] octacode commented on #248
1. We can remove the screen greying out. :+1:
2. We're using the `playbackOverlay` fragment. And the controller is by default. YouTube also uses the same.
![youtube](https://user-images.githubusercontent.com/20819968/28497070-996965a4-6f9a-11e7-90b6-648cb8b0e394.png)
3. We can remove the `skipNext` and `skipPrevvious` buttons for movies and if It's a movie do we even need to show the other movies

[2017-07-23 08:22] cpg commented on #251
In the phone there is nothing under the artwork, I think.

BTW, the resolution of this artwork is bad bad bad. We may have to do something about it. Is it selected on the client or the server?

If the client, maybe we can up the level. Otherwise I can look up about improving the server side.

[2017-07-23 08:32] octacode commented on #251
It's from the [server](https://github.com/amahi/android/blob/master/src/main/java/org/amahi/anywhere/server/api/ServerApi.java#L49-#L53)

[2017-07-25 21:09] cpg opened #254 "will need android tv banner"
Starting in 30 days, users browsing Android TV apps in the Play Store will see your TV banner instead of the hi-res icon. While the banner is currently optional, the TV banner will soon be required for all Android TV apps.

Make sure the TV banner is uploaded to the graphic assets section of your app’s Store listing page, as this will be the main promotional graphic shown to Android TV users.

Her

[2017-08-03 12:08] octacode opened #255 "Upload stops when the device is rotated"
Here's video which describes the case:
https://drive.google.com/open?id=0B3goqm-HUlJvejRZRnV1bVJ2ZmM

[2017-08-03 12:57] octacode opened #256 "Issue with the landscape mode."
On clicking on the upload button when the device is under landscape mode it look like this:
![1](https://user-images.githubusercontent.com/20819968/28922734-f95218bc-7878-11e7-9f96-ca4d39281547.png)
**Then user has to drag the sheet up to see for the options**

Instead it should look like this from the very start.
![2](https://user-images.githubusercontent.com/20819968/28922830-4b418e1e-7879-11e7-

[2017-08-05 04:37] megabitdragon opened #258 "Android TV navigation issue."
Under the movies share I have a folder structure as follows:
Movie folder
   artwork folder
   fanart folder
   movie file
Once I hit OK on the movie folder I see the two folders and the movie but I can't navigate at all or I can only navigate between folders but not the movie.
If I select one folder and return at the movie folder everything works as expected.

[2017-08-05 08:22] octacode commented on #258
I wasn't able to replicate the issue both in my `7.1.1` and `8.0.0` emulator. Also I can't see as to why this is happening. Maybe uninstalling and installing the app again may solve the issue

[2017-08-19 04:18] #256 closed

[2017-08-19 04:26] cpg opened #261 "ned to provide separate UA for ATV"
it can be used in situations like in #251.

[2017-08-19 04:28] csoni111 commented on #261
This can be changed [here](https://github.com/amahi/android/blob/master/src/main/java/org/amahi/anywhere/util/Identifier.java#L45).

[2017-08-19 04:28] cpg commented on #249
resolved and merged!

[2017-08-19 04:28] #249 closed

[2017-08-19 04:28] cpg commented on #248
resolved and merged onto `beta` branch

[2017-08-19 04:28] #248 closed

[2017-08-19 04:29] #240 closed

[2017-08-19 04:30] cpg commented on #235
not an issue any more.

[2017-08-19 04:30] #235 closed

[2017-08-19 04:31] cpg commented on #234
resolved

[2017-08-19 04:31] #234 closed

[2017-08-19 04:31] cpg commented on #218
this has been merged into a single codebase without much duplication

[2017-08-19 04:31] #218 closed

[2017-08-19 04:33] #209 closed

[2017-08-19 04:34] #207 closed

[2017-08-19 04:35] cpg commented on #26
things work on android 7. thanks @octacode

[2017-08-19 04:35] #26 closed

[2017-08-19 04:45] cpg commented on #52
too old, we did something else.

[2017-08-19 04:45] #52 closed

[2017-08-19 04:47] cpg commented on #188
all working. yay!

[2017-08-19 04:47] #188 closed

[2017-08-19 04:48] cpg commented on #51
this was implemented and it's working

[2017-08-19 04:48] #51 closed

[2017-08-19 04:50] cpg commented on #179
done

[2017-08-19 04:50] #179 closed

[2017-08-19 14:18] megabitdragon opened #262 "Audio starts when stopping and alarm or a video in chrome."
Steps to reproduce:

1. Start a song in the Amahi app and pause it.
2. Open a browser and watch a movie (e.g.: facebook)
3. Once the movie ends, the song in amahi starts playing

[2017-08-19 16:07] #262 closed

[2017-08-19 16:42] octacode opened #264 "App crashes while playing music and pressing the home button"
#### Steps to reproduce:-
Start a music with album art and then press the home button. Happens with local HDA the remote server music files works fine.

#### Log for the crash
[code]

[2017-08-19 19:25] octacode commented on #254
Here's the link to the generated screenshots
[https://drive.google.com/open?id=0B3goqm-HUlJvZk9OT0praW9ERWs](https://drive.google.com/open?id=0B3goqm-HUlJvZk9OT0praW9ERWs)

[2017-08-19 20:14] cpg commented on #254
I will work on the banner soon. Thanks for the screenshots.

[2017-08-23 18:54] octacode commented on #264
Fixed by #265

[2017-08-23 18:54] #264 closed

[2017-08-27 08:11] cpg opened #270 "preview support for video play"
some new library/api (Oreo based) provides seemingly easy to use support for previewing images of a video as the user scrolls around, sort of like youtube. details to follow.

[2017-08-27 14:20] csoni111 opened #271 "Support for Metadata extraction from audio/video files on server"
**Problem**

As the cast feature is to be added now so while casting media content, It's better if we show the currently playing video's cover image (or preview) or audio's album art image. This gets displayed at several places in android (like notification icon, extended controls screen background, mini controller's side icon, on the cast device selection dialog, lock screen background). Currentl

[2017-08-28 17:36] csoni111 commented on #76
Closing it as the UI for subtitles has been covered in #224 and rest has been implemented.

[2017-08-28 17:36] #76 closed

[2017-10-14 11:04] octacode opened #276 "Overwrite a file if it already exists in the storage"
One of the Amahi users reported the following:
1. > Hello, I would really like an option to overwrite files or to append (-1, -2... Etc). Anytime I go for an updated version of my file, it's just going to save a while new copy. Then I'm going to have to do house keeping or else my phone storage will get full in a month.
2. > That's pretty cool! I, however, may have been unclear in my request: when

[2017-10-14 20:08] rizal-rovins commented on #276
Can you point out the activity where this is to be implemented?

[2017-10-15 00:33] csoni111 commented on #276
@rizal-rovins you can look into the code here in [util/Downloader.java](https://github.com/amahi/android/blob/8b8764d4863ba3b0e750b5d6abe2397be2735be5/src/main/java/org/amahi/anywhere/util/Downloader.java#L58)

[2017-10-23 10:52] sd1998 commented on #276
@octacode  I would like to work on this issue

[2017-10-23 11:03] csoni111 commented on #276
#277 resolves this

[2017-10-23 11:03] #276 closed

[2017-10-23 14:01] sd1998 commented on #255
@csoni111  are you still working on the issue?

[2017-10-23 14:06] csoni111 commented on #255
@sd1998 you may work on it if you would like!

[2017-10-23 14:08] sd1998 commented on #255
@csoni111  could you please point out the file where this error is occurring?

[2017-10-23 14:18] csoni111 commented on #255
The problem is here in [ServerFilesActivity.java:447](https://github.com/amahi/android/blob/7577b17482552689e4c75dc348db8e2faf67985b/src/main/java/org/amahi/anywhere/activity/ServerFilesActivity.java#L447). Here we are showing a progress dialog but on screen rotation the activity is recreated and so the dialog is dismissed. Changing it to a DialogFragment would solve the problem. Check this [answe

[2017-10-23 15:42] sd1998 commented on #255
@csoni111 Thanks for the help :)

[2017-10-23 16:37] sd1998 commented on #255
I will send a pull request by tomorrow

[2017-10-24 11:39] sd1998 commented on #156
I would like to work on this issue

[2017-10-24 11:45] cpg commented on #156
@sd1998 Please don't. Focus on the other issue you said you would be working on first #255

[2017-10-24 12:52] cpg commented on #255
@sd1998 please write support at amahi dot org asking for the developer API. In IRC people come and go.

[2017-10-24 16:34] akashagra commented on #147
Can i work on it?

[2017-10-24 18:31] octacode commented on #147
Yeah! Sure. 👍

[2017-10-25 05:39] akashagra commented on #147
I am not able to login with my username and password , can anyone help me regarding that?

[2017-10-25 05:41] akashagra opened #283 "No signup option in the app"
It would be great if we work on creating a sign up option for the new users.
I can help in creating the UI and the server side work can be done by someone else

[2017-10-25 08:24] cpg commented on #283
Amahi is a home server. Without a server, there is no use for the mobile apps, however. We would get a lot of frustrated new users that would not have a server and would be frustrated. Until we have some sort of public sharing, this is not too useful. Thanks for the idea. Maybe we will need this one day, but not yet.

[2017-10-25 08:24] #283 closed

[2017-11-09 12:37] cpg opened #284 "app crashes when playing and wifi is lost"
have experienced this a few times while testing this app:

 * play some music
 * go out of range of wifi or turn it off
 * music will play for a bit longer until it needs more data
 * at this point i was in the lock screen. when coming back to the app the numbers in the slider were ridiculous, like 527:52:06 (left, current time) and 527:52:06 (right)
 * attempt to see what's up yield crashes

[2017-12-05 23:47] cpg commented on #284
It does not crash any more and the behavior is OK, though not great. There is a spinner displaying for a while and eventually the next song title is displayed, with this number `527:52:06` on both sides.

The user is left guessing. It would be better to display something indicating there is no network. The timeout for the spinner is a little long as well (several minutes, at least 5?).

Neverthele

[2017-12-05 23:47] #284 closed

[2017-12-19 08:51] cpg opened #286 "Chromecast app taken down on UX guidelines"
We got a notice from the folks at Google. Any ideas on what's the violation of the guidelines?

Surely the screenshots are not it?

[code]

[2017-12-20 02:30] rbmattis opened #287 "Casting video to Chromecast fails to play audio"
Most video files successfully stream to Chromecast from HDA via Amahi App; however, 1080p matroska h264 video, DTS 7-channel audio outputs no sound. File plays successfully on all other players

[2017-12-21 03:03] rbmattis commented on #287
I just confirmed that the audio doesn't work in the Amahi App itself, either. Same file: 1080p matroska h264 video, DTS 7-channel audio

[2017-12-21 07:19] cpg commented on #287
Ok, that helps.

I think it may be a non-supported audio stream for the built-in audio/video stack.

We don't have a setting to "play using alternative player" at the moment (maybe we should?). THe alternative player is based on the same library that VLC uses, which may work, however, it may not cast to Chromecast.

[2017-12-21 19:32] csoni111 commented on #286
I checked the [Design Checklist](https://developers.google.com/cast/docs/design_checklist/) and [UX Guidelines](https://developers.google.com/cast/docs/ux_guidelines.html). I think screenshots are the only thing missing. Rest all is covered.

One thing I noticed, they have written this in the ux guidelines:
`When describing an app (not a hardware product) as being Cast-enabled, use the phrase "Chr

[2017-12-21 19:33] csoni111 commented on #287
@rbmattis It would be helpful if you could upload a sample video in that format so that it can be tested _(somewhere in the cloud like on Google Drive)_.

[2017-12-21 20:09] rbmattis commented on #287
How can I trim a 14 gig file to a five meg clip, easily?

On Dec 21, 2017 2:33 PM, "Chirag Maheshwari" <notifications@github.com>
wrote:

[2017-12-22 02:27] rbmattis commented on #287
https://drive.google.com/open?id=1Bh00aP6i96-1bWmy_1Ujbh56Mtps1eYw

[2017-12-24 21:01] rbmattis commented on #287
was that helpful?

[2017-12-26 09:38] csoni111 commented on #287
Yes it was helpful indeed! I tried to play the file, it does not play audio in the android's default media player but it plays fine in libvlc player _(we can have an option to play the file using alternate player as @cpg suggested)_.
As for the chromecast support, the [officials docs](https://developers.google.com/cast/docs/media) says that it supports only following audio codecs:

**Audio codecs*

[2018-01-26 12:35] #287 closed

[2018-02-17 12:16] cpg opened #290 "trouble opening PDF files"
user reporting in ..

[2018-02-17 12:29] cpg commented on #290
Verified with three PDF apps that the file appears to be downloaded in the client (there is a message saying so) as well as in the server (there is one call and the number of bytes sent are the exact size of the PDF file).

The Amahi app asks what app to use to open the file and then it fails. Including a Google an and Adobe PDF reader, as well as one with very high rating called "2018 PDF Reader"

[2018-02-25 17:04] santosh62 commented on #290
did you used any `PDF reader` library??

[2018-02-25 18:39] octacode commented on #290
The same happens with other file formats like `.docx` `.pptx` `xls` `.txt` etc. One thing to notice is that the share feature is not broken, it downloads the file and then shares the downloaded file

[2018-02-26 08:37] pprathameshmore opened #291 "How to bypass Log In page of Amahi App"
I am student. I want to contribute for this project as GSoC.
I new to open source. I already cloned repo of Amahi Android app.
I want bypass log in page to test app.
Please help me

[2018-02-26 08:41] octacode commented on #291
Hi! You'll be requiring the credentials which are required to build the app successfully. However these credentials are not to be meant to be shared publicly. Ask for the credentials in the IRC. Closing this for now.

[2018-02-26 08:41] #291 closed

[2018-02-26 09:13] csoni111 commented on #291
You do not need to bypass the login page, you can login with credentials same as for amahi.org
If you do not have an account, you may register [here](https://www.amahi.org/signup).

[2018-02-26 11:23] cpg commented on #291
Both comments above are correct. You need a an api properties file (email support at amahi and we'll send you the details). You also need to be logged in with amahi.org credentials.

[2018-02-27 19:16] Yasha08 commented on #69
Hi, what is this app about? I'm a UX/UI designer and is looking to contribute. Is this a music player app?

[2018-02-27 23:51] cpg commented on #69
[Read all about it](https://www.amahi.org/android), not surprisingly, with a quick search.

[2018-02-28 21:39] adi23arora opened #292 "Getting Introduction Activity on pressing back button"
Introduction Activity is not being shown on the first launch when the user is not logged in. It gets added to Back Stack and is replaced by Authentication Activity.

Can anyone confirm that this is a bug or done intentionally?

[2018-02-28 21:42] octacode commented on #292
I did it intentionally thinking this flow to be right

[2018-02-28 21:45] adi23arora commented on #292
Getting Introduction Activity on pressing Back button is also intentional?

[2018-02-28 21:49] octacode commented on #292
Okay! I did a quick check and yes I think getting the Introduction Activity by pressing the back button definitely is a bug. Thanks for pointing it out. Will you work on this?

[2018-02-28 21:51] adi23arora commented on #292
Yes, I want to work on this.

[2018-02-28 23:01] adi23arora commented on #292
@octacode Please review the PR.

[2018-03-01 06:08] mohitsvnit opened #294 "No way to see introduction screen again"
Introductory screens are shown only when user opens app for the first time.
It may happen that user will skip them and would like to see them afterwards.
But there is no way in app to see them again.

[2018-03-01 06:15] mohitsvnit commented on #294
I would like to work on it.
Where should I place a button for it?

[2018-03-01 06:27] cpg commented on #294
Settings area?

[2018-03-01 06:48] mohitsvnit commented on #294
ok. will do that.

[2018-03-01 07:03] cpg commented on #294
Suggested text: "Intro"

[2018-03-01 08:07] mohitsvnit commented on #294
Inside about section right?

[2018-03-01 13:58] mohitsvnit opened #296 "Items on share screen doesn't show any pressing effect"
Items on below screen like "Demo" doesn't show any pressing effect on pressing.

![screenshot_2018-03-01-19-23-12](https://user-images.githubusercontent.com/12980721/36848225-a4c825b2-1d86-11e8-834a-fa40294fe993.png)

[2018-03-01 14:05] csoni111 commented on #296
I tried, it seems to show the ripple effect on press.
![demo screen](https://i.imgur.com/IPDKK6t.jpg)

[2018-03-01 14:10] mohitsvnit commented on #296
I am building beta branch app.
My OS: Android 5.1

![screenshot_2018-03-01-19-37-34](https://user-images.githubusercontent.com/12980721/36848824-64f80c20-1d88-11e8-968f-a07741ddea4c.png)

[2018-03-01 14:11] adi23arora commented on #296
@mohitsvnit, I too can see the ripple effect. I guess this ripple effect works only on API 21 onwards.

[2018-03-01 14:13] mohitsvnit commented on #296
My os version is 5.1 so its api level is 22

[2018-03-01 14:24] mohitsvnit opened #297 "Beta branch app crashes when user click on item on share screen"
App crashes with logs below

[code]

![ezgif com-video-to-gif](https://user-images.githubusercontent.com/12980721/36849515-4514a31c-1d8a-11e8-919d-0157444cdd4c.gif)

[2018-03-01 14:35] csoni111 commented on #297
It seems you have cast enabled, and since you do not have a chromecast app id in api.properties file, the app is crashing.
@cpg we must supply the `chromecast.app.id` too in `api.properties` file.

[2018-03-01 15:08] mohitsvnit commented on #297
yes. After adding `chromecast.app.id` in `api.properties`, it's not crashing now.

[2018-03-01 16:27] mohitsvnit commented on #296
I solved the this issue. Should I commit change?

![screenshot_2018-03-01-21-55-00](https://user-images.githubusercontent.com/12980721/36856215-7605166c-1d9b-11e8-85cc-3518bd2f7e0e.png)

[2018-03-01 16:57] octacode opened #298 "Issues with the Android-tv and Chromecast Ids"
There have been some unresolved last moment issues with the android-tv ID and chromecast ID which occured during publishing the Android app on play store.

[2018-03-02 07:28] mohitsvnit opened #299 "No link for faq of amahi in app"
To see the faq for amahi user needs to open website.
There is no direct link to faq inside app.

[2018-03-02 07:29] mohitsvnit commented on #299
I would like to work on it.

[2018-03-02 07:33] adi23arora commented on #299
How you are planning to implement this?

[2018-03-02 07:34] mohitsvnit commented on #299
By adding link to faq present on amahi website.

[2018-03-02 07:36] octacode commented on #299
Maybe we can add a listItem reading "FAQs" which redirects to the Amahi FAQ website. However do we really need to do this? I guess it's a matter of personal preference. @cpg your views on this?

[2018-03-02 07:40] mohitsvnit commented on #299
@octacode I was thinking same. There is not faq in about section of app.

[2018-03-02 08:13] cpg commented on #299
No please. This is fluff and unnecessary for users of the app.

[2018-03-02 08:13] #299 closed

[2018-03-02 08:29] #294 closed

[2018-03-02 08:34] #297 closed

[2018-03-02 09:10] octacode opened #300 "Replacing the spinner in the navigation bar with a better material design approach"
### Present Scenario
The spinner in the navigation bar where the name of the server appears and from where we can switch between our local HDAs or to the `Welcome to Amahi Server` looks a bit wierd
![screenshot_20180302-143703](https://user-images.githubusercontent.com/20819968/36891377-6d7abf88-1e27-11e8-9427-806799512ec6.png)

We can replace it with just a text clicking on which shows up the Ale

[2018-03-02 09:14] mohitsvnit commented on #300
I would like to work on it

[2018-03-02 09:17] octacode commented on #300
Thanks for volunteering, Can you propose a solution for this before you start working on it?

[2018-03-02 09:19] mohitsvnit commented on #300
What is purpose of that spinner? In my mobile I can see only one item in it i.e. "Welcome to Amahi"

[2018-03-02 09:26] mohitsvnit commented on #300
Ok. I got it. It's a way to switch between server. Why I am not able to see my server?
How about making it like gmail? We can use material design drawer design

[2018-03-02 10:05] #292 closed

[2018-03-02 10:37] adi23arora commented on #300
@octacode This can be implemented as an expandable layout with list view. It won't overlap then and expand within the navigation drawer. What do you say?

[2018-03-02 10:48] adi23arora opened #302 "Navigation Activity started twice on some instances"
As suggested by @csoni111 in #293, Navigation Activity is unnecessarily started twice when Introduction Activity is shown on first launch.
Moreover, when Introduction Activity is launched from Settings, it should just be finished on pressing Done on last fragment instead of starting Navigation Activity again.

[2018-03-02 10:50] octacode commented on #300
Sounds like a plan to me, but won't the animation of expanding and contracting be a bit troublesome and add unneccesary overhead. My suggestion is that we do it the way we do it in the Gmail App:

1. We can add a header on the navigation bar with the name of the server like this
![header](https://user-images.githubusercontent.com/20819968/36895323-8726561a-1e34-11e8-84db-64200aea751a.png)
also bel

[2018-03-02 11:20] cpg commented on #300
I don't really understand what's being propose, but it looks weird to have that large logo.

also the "Signed in as:" is a little superfluous.

[2018-03-02 11:28] octacode commented on #300
We can change the text to "HDA:" and about the sign we can decrease the height of header so that it doesn't look weird.

[2018-03-02 11:58] csoni111 commented on #300
1) The ActionBar on the top already has the amahi logo on the left of the title. If we remove that from top, what about other screens?
2) The API currently does not provide the logged in user's name.
3) The number count on the left of hda name looks odd. Something like an icon of HDA would look better (or the first letter of the name in a bubble like in gmail app).

[2018-03-02 12:06] octacode commented on #300
1. We can make a new theme for the navigation Activity which won't have the action bar icon. While all the other screens will follow the present theme with logo.

2. I did it by mistake, we can show the HDAs active in the list. We do have the API to show the name of the HDAs

3. Good, this sounds better

[2018-03-02 12:24] cpg commented on #298
I screwed this one up and I need to re-generate the cast app details. I think it was a **Styled Media Receiver**?

Could someone guide me please:

[code]

[2018-03-02 12:28] csoni111 commented on #298
yes we have **Styled Media Receiver** with support files listed [here](https://github.com/amahi/android/tree/master/cast).

[2018-03-02 13:57] #298 closed

[2018-03-02 23:47] #302 closed

[2018-03-03 11:48] adi23arora opened #304 "Replacing deprecated dependency configuration methods"
The methods used in build.gradle to handle various dependencies like `compile`
are now deprecated and its replacement `implementation` has various optimizations like
less exposing classpaths and faster compilations.

Here's a link to the gradle docs with detailed explanation : [Gradle Docs](https://docs.gradle.org/current/userguide/java_library_plugin.html#sec:java_library_separation)

[2018-03-03 22:41] adi23arora opened #306 "Interceptor can expose API info in endpoints"
In recent commits, interceptors were added. But these should be restricted in production builds because these may leak the API info like access tokens and session ids in GET urls and response headers.

There was a workaround for `chuck` interceptor to deal with release builds using the `library-no-op` but there's no check on the `HttpLoggingInterceptor` which is used at `Level.HEADERS`, at this le

[2018-03-03 23:12] cpg commented on #306
See [this question an explanation](https://github.com/amahi/android/pull/288#issuecomment-370144935)

[2018-03-03 23:15] adi23arora commented on #306
@cpg I already saw that and that's what I have mentioned that `chuck` interceptor is already dealt with using that `library-no-op` but the other there should be a check on `HttpLoggingInterceptor` too.

[2018-03-03 23:27] adi23arora commented on #306
1. No, it's not a part of 'chuck'. Using `HttpLoggingInterceptor` we can see logs on Android Monitor or Logcat, while `chuck` enables us to see on the Android device itself.
2. Yes, its needed to monitor or debug api using Android Studio itself.
3. General users won't be able to see but any advance user can try to peek into the logs our app is creating and in this way, some api related info can be

[2018-03-04 05:09] csoni111 commented on #306
@cpg: Yes, @adi23arora is correct. `HttpLoggingInterceptor` is not the part of chuck. It has been in the app since start. Although normal users won't see the logs but an advanced user can.

@adi23arora you may add a if condition [here ](https://github.com/amahi/android/blob/2c1a1a55aee94d1a78bd474368f314fe9bcd4045/src/main/java/org/amahi/anywhere/server/ApiModule.java#L86) to check if its DEBUG bu

[2018-03-04 07:56] mohitsvnit opened #307 "app throws error while accessing shares of own server on android phone"
When I access shares of "Welcome to amahi" server it works fine.
But when I access shares of my own server, It shows connection error.

[2018-03-04 08:03] adi23arora commented on #306
@csoni111 Yes, I'll add that condition.

[2018-03-04 09:03] mohitsvnit commented on #156
In "Welcome to amahi" server `shares/demo/photos` only contains images. Can it also contains folders?

[2018-03-04 09:04] cpg commented on #156
potentially, yes

[2018-03-04 09:14] cpg commented on #156
potentially, yes.

maybe do it in two parts. 1) start by assuming it does not. 2) later you can add that functionality if it makes sense.

[2018-03-04 09:17] mohitsvnit commented on #156
OK. Because if folder exist then I have to create one separate fragment for that. First I will work on it assuming that folder does't exist.
Can you tell which image format we are supporting?

[2018-03-04 10:02] adi23arora commented on #306
@csoni111 Should I change the level of DEBUG one to BODY

[2018-03-04 12:37] #306 closed

[2018-03-04 13:15] mohitsvnit opened #309 "Recyclerview is not used in ServerFileFragment"
In [ServerFileFragment.java](https://github.com/amahi/android/blob/beta/src/main/java/org/amahi/anywhere/fragment/ServerFilesFragment.java) `AbsListview` is used instead of `RecyclerView` which is advance version of `Listview` with losts of improvement in memory handling, recycling views etc.

[2018-03-04 13:16] mohitsvnit commented on #309
Right now I am working on issue [showing images in grid layout. Issue 156](https://github.com/amahi/android/issues/156). So I was thinking to solve this along with it as I have to modify ServerFileFragment for solving issue #156.

[2018-03-04 13:34] adi23arora commented on #309
@mohitsvnit This issue seems to be a duplicate of https://github.com/amahi/android/issues/147

[2018-03-04 13:39] mohitsvnit commented on #309
Actually this issue is sub-problem of issue #147. If I am not wrong issue #147 is for entire app. But in this issue I am going to touch only ServerFileFragment for now. Let's see what @cpg says. Else I will close this issue.

[2018-03-04 18:07] csoni111 commented on #296
Closed via #305

[2018-03-04 18:07] #296 closed

[2018-03-04 20:15] adi23arora commented on #304
@csoni111 Should I proceed with a PR on the same?

[2018-03-04 20:40] cpg commented on #304
If it's not a lot of work (as I would suspect), let's see it.

[2018-03-04 21:03] adi23arora commented on #304
@cpg It just involves replacing the keywords in `build.gradle` file.

[2018-03-05 04:58] adi23arora commented on #25
I don't understand why we need to store the sort type for each folder, because we can just use a universal sort type which will be used in every folder and will be remembered whenever changed.
@csoni111 Can you help me with this?

[2018-03-05 06:31] mohitsvnit commented on #156
@cpg and @csoni111  Should I create different fragment say `ServerFileImageFragment` for images having grid structure or should modify `ServerFileFragment` so that if images comes then it uses grid structure else use linear structure?  Please provide your valuable suggestion

[2018-03-05 09:13] #304 closed

[2018-03-05 13:16] csoni111 commented on #25
@adi23arora Well it was a feature request from amahi users.

@cpg Do we really need this feature? If yes, can the folder sorting preferences be stored on the server side because it would make much more sense if we were to store it with the other data for each folder on the server side rather than in the app as here we will have to string match the names of the folder one by one and then there's pr

[2018-03-05 13:38] csoni111 commented on #156
I think it would be better to modify `ServerFileFragment`. Duplicating the whole code for a single line change does not make sense.

[2018-03-05 16:41] mohitsvnit commented on #156
@csoni111 I am thinking to change `Listview` into `RecyclerView`. What do you say?

[2018-03-05 19:45] csoni111 commented on #156
Yes do that but make sure you don't break any previous functionality.

[2018-03-05 21:25] cpg commented on #25
Presentation is really not the server's job, much less user-preferences for presentation, so I don't agree that storing this (on a per user basis!) on the server makes more sense.

This is just a small convenience. We don't have to implement it. Seems like too much trouble/work for a small convenience.

[2018-03-06 09:55] octacode commented on #309
Duplicate of #147. That issue is specifically for ServerFileFragment.java

[2018-03-06 09:55] #309 closed

[2018-03-06 11:22] octacode commented on #307
Can you put the logs of the error here?

[2018-03-06 11:24] adi23arora commented on #25
@cpg As discussed, storing sorting preferences for each separate folder is a bit complex to implement and less feasible.

But what I suggest is using a universal sort type on each folder and remembering it whenever it is changed. This approach is used by most of the file explorer apps. This could provide some convenience to app users.

For example, if a user wants to find a recent file stored seve

[2018-03-06 11:36] octacode opened #311 "Displaying last opened time of each file"
We'd like to display the last time the file was opened of the file to the user. The most feasible approach for this is to show the last opened time in the ListView.

Also for this I'd recommend using SQLite with three entries:
1. Path (Stores the path of the file).
2. Time.
3. Date.

[2018-03-06 13:58] adi23arora commented on #311
@octacode So, how are we planning to implement this, using Android's SQLite APIs or Room Persistence Library?
I would prefer the latter because it involves less boilerplate code and is less time-consuming.

[2018-03-06 14:01] octacode commented on #311
Room Persistence Library is good option, however the present code uses Android's SQLite APIs and also including Room will increase the apk size, and we don't really want it cause we already are at 80.1 MB :open_mouth:

[2018-03-06 14:23] adi23arora commented on #311
Yes, the apk size might be a concern here.
So, where exactly can the last open date-time is be placed in ListView?

[2018-03-06 14:33] octacode commented on #311
In the list we are already displaying the last modified time which is fetched from the server, Honestly I want to keep that. What we can do here is that `onLongPress` we can show an info icon in the activated action bar. Clicking on which will open an alert dialog box with title as Info and it will contain the following details:
1. Name of the file
2. Mime Type
3. Size of the file
4. Last opened
5

[2018-03-06 14:55] adi23arora commented on #311
@octacode Yes, please assign me, I want to work on this.

[2018-03-06 16:11] octacode commented on #311
Assigned to @adi23arora .

Somehow I wasn't able to see his name in the Assignees, So for the time being this will do.

@cpg can you please look into the reason for this^.

[2018-03-06 16:34] csoni111 commented on #311
How about instead of storing the path of the file, we store a unique key for each file/folder. This key can be generated using some fields from its metadata like name, last_modified etc. [This](https://github.com/amahi/android/blob/a963e50d78ba3ce5f99fd00ae6fb4bc0923f75d6/src/main/java/org/amahi/anywhere/server/model/ServerFile.java#L114:L129) can be reused if it serves the purpose.

Also instead

[2018-03-06 17:33] mohitsvnit commented on #307
java.net.ProtocolException: Too many follow-up request: 21

[2018-03-06 18:13] octacode commented on #307
Was not able to replicate the issue. Closing this for now

[2018-03-06 18:17] octacode commented on #311
1. Yes we can store the timestamp instead of date and time separately :+1:
2. Why complicate it for us? Instead of having some keys which definitely are not going to be readable since they are comp generated we can have the path in the db entries (will make debugging a bit easier for us). Also there'll be overload of creating keys while we have direct access to the path of the file.

This way we'l

[2018-03-06 18:51] mohitsvnit commented on #307
I can upload video of it if you like.

[2018-03-07 09:26] anandwana001 commented on #311
Just a suggestion We should use RecyclerView instead of ListView. Here are some [benefits](https://stackoverflow.com/questions/26570325/what-are-recyclerview-advantages-compared-to-listview) why to use RecyclerView instead of ListView

[2018-03-07 09:49] mohitsvnit commented on #156
@csoni111 functionality of ServerFileAdapter class is depends on multiple classes. Entire architecture seems really complex. I will try to complete it asap.

[2018-03-07 09:55] adi23arora commented on #311
@anandwana001 Thanks for suggestion. But, in this issue we are only concerned about developing the last opened feature.
We understand the advantages of RecyclerView over ListView and will be replacing them very soon.

[2018-03-07 09:57] anandwana001 commented on #311
If I could do that part by the time other are setting database!!

[2018-03-07 10:17] cpg commented on #311
This is my fault. I did not specify this feature properly.

I think the technical things are going to be largely the same or very similar.

Displaying a date is not what I meant. I don't think that is what people want. I meant some visual cue like bold name when _not played_, or, alternatively, slightly greyed out when _played_.

The definition of `played` is up for grabs: some have it so that whe

[2018-03-07 19:12] octacode commented on #311
1. For the visual part we can use slightly greyed out after it has been played. :+1:
2. Also should we implement this for just audio and video files after they have been played or for all Mime types.

I think then the db will only store the path of the video and audio files and duration of play also for the non media files we'll set the duration as negative.

While implementing there will be two c

[2018-03-07 19:13] octacode commented on #300
Any takers for this?

[2018-03-08 03:29] mohitsvnit commented on #300
What is finally decided? What needs to change in navigation drawer?

[2018-03-08 11:19] adi23arora commented on #311
1. As discussed, I guess now we're up for something different than asked for. Should I continue with last opened feature?
2. About the `Played` and  `NotPlayed` thing, should it be implemented locally because it won't persist when app is uninstalled or app's data is cleared. I think that it should be stored on server and then it can be synced across all clients on different devices and platforms l

[2018-03-08 12:09] cpg commented on #311
1 - The feature is not different in essence, just what is shown.
2 - No, I don't think server-side is wise, though it's something that can be discussed
3 - Yes. I think we should list  this feature as a separate issue

[2018-03-08 15:23] ArihantJain456 commented on #255
I would like to work on this issue...

[2018-03-08 15:30] csoni111 commented on #255
@ArihantJain456 sure, you may work on this. Also you may take reference from the previous pr submitted #282 .

[2018-03-08 21:48] #255 closed

[2018-03-09 12:02] cpg commented on #286
I added `This app is Chromecast-enabled` to the description in the play store, however, since it was republished with a new ID, it may happen again, but so far it's the same. Closing for now. Thanks for the pointers!

[2018-03-10 01:18] cpg commented on #286
Need a couple of screenshots.

[2018-03-10 02:30] shivanshsoni commented on #147
Can I work on this issue??

[2018-03-10 17:10] ArihantJain456 commented on #300
I would like to work on this ....

[2018-03-10 20:20] ArihantJain456 opened #314 "Replace PNG files with vector ones"
## Description

Currently, there are a lot of png files which contribute to increase in apk size. Replacing possible ones with xml files would be better approach towards saving space and backward compatibility.

### Would like to work on this issue?
Yes.

@csoni111, @cpg   please share your suggestions.

[2018-03-10 21:28] ArihantJain456 commented on #290
I'm working on this issue.

[2018-03-10 22:33] cpg commented on #147
Only the brave will survive issue #147. Pursue your quest to fix #147 with honor, @shivanshsoni.

[2018-03-10 22:44] cpg opened #315 "implement an internal database to improve the user experience"
We have talked about a mini database for keeping track of various features, like last media play states, maybe some caching of API returns, etc.

Any time we introduce state we have to be careful about managing it. Here are some DB interface requirements:

  * **resilient to corruption**: it _must not_ (repeat _must not_) ever be corrupted. hardware errors or even bugs could cause this, but it def

[2018-03-11 04:45] sanjitchak opened #316 "Force Close when clicked on 'Videos', 'Demo' or 'Introduction' in 'Shares' option"
This following line of code in **activity_server_files.xml** is causing the problem. It can't **inflate** this below fragment:

`<fragment
    android:id="@+id/castMiniController"
    class="com.google.android.gms.cast.framework.media.widget.MiniControllerFragment"
    android:layout_width="match_parent"
    android:layout_height="wrap_content"
    android:layout_alignParentBottom="true"
    andro

[2018-03-11 05:05] csoni111 commented on #316
Same as issue #297.
Add `chromecast.app.id` in your `api.properties` file. You can find the id in `api.properties.sample`.

[2018-03-11 05:05] #316 closed

[2018-03-11 05:08] csoni111 commented on #307
@mohitsvnit you must be missing the installation of Amahi Anywhere app on your hda. Got to apps tab on hda dashboard and install `Amahi Anywhere` from the list to resolve this error.

[2018-03-11 05:55] sanjitchak commented on #316
Thanks for the info! Fixed it!

[2018-03-11 10:01] cpg commented on #314
* how many is "a lot" of png files?
 * what is the difference between the apk size if you change TWO of them to what you propose?
 * why xml? what format? svg?

[2018-03-11 10:34] cpg commented on #307
We should handle this error better in the app, so as the user is not left confused.

While it may not be common that the AA server is not running, it can happen. The app should do the best of it, I think.

It should be easy to test by stopping the server for a bit and handle it with a nice, clear, message in the app.

[2018-03-11 10:52] ArihantJain456 commented on #314
- For mobile, there are about 4-5 png images that can replaced easily through converters
- For Android TV, there are more than 10, but converters may not be able to convert them properly.
- They may not decrease apk size much but they have the advantage of scaling.
- Android studio had good support for XML drawables(Vector Drawables).

[2018-03-11 12:35] ArihantJain456 commented on #290
@cpg I'm facing problem in setting DNS for my amahi server.
I have followed this article [https://viky.co.in/2017/05/20/install-amahi-server-for-development/](https://viky.co.in/2017/05/20/install-amahi-server-for-development/)
My server is running but I'm not able to access `hda/`

[2018-03-11 13:18] mohitsvnit commented on #307
@csoni111 My amahi server was running. But you are right I didn't installed any app in it yet.
@cpg Is there any way to check if `Amahi Anywhere app` is running or not?

[2018-03-11 17:42] ArihantJain456 commented on #290
I am solving some other issue now. I will come to this issue after successful development of my server.

[2018-03-11 20:06] ArihantJain456 opened #317 "Wrong Item Select Behavior in Navigation Drawer"
## Description
Only one item should be highlighted at a time but it seems on selecting new item all previous item is highlighted too.

![bug](https://user-images.githubusercontent.com/23583851/37257897-3c118c4a-2595-11e8-910a-1538b80dce7e.jpg)

### It should work like this -
![should work](https://user-images.githubusercontent.com/23583851/37257898-3c3c42b4-2595-11e8-9bfa-853bc4eccd0c.jpg)

### Wo

[2018-03-12 05:39] mohitsvnit commented on #307
@csoni111 You were right. It's an problem of not running `Amahi anywhere`.
Also I found out that in `ServerShareFragment` there is not action if  `serverClient` is not connected while getting shares. That is what happening if `Amahi anywhere app` is not running. So progress dialog keep rotating for infinite time.
@cpg Should I add error msg in errorLinearLayout or show that in `SnackBar`?

[2018-03-12 06:04] sanjitchak commented on #317
In my case, the **Apps** comes for a brief moment and then disappears.

How are you getting your own name **arihant** in the drawer? In my case, it's showing **Welcome to Amahi**, after signing in.

[2018-03-12 06:49] mohitsvnit commented on #307
`serverClient` was not connecting because `ServerRouteResponse` is failing. There is no action when that is happening.
I am thinking to add toast with message `Your Amahi server may not be running Amahi Anywhere. Please ensure the Amahi Anywhere app is installed and running.` when `ServerRouteResponse` is failed.
@cpg @csoni111  what do you think?

[2018-03-12 07:43] ArihantJain456 commented on #317
It's my amahi server.

[2018-03-12 11:55] ArihantJain456 commented on #317
@octacode give your reviews for the PR #318 .

[2018-03-12 12:05] ArihantJain456 commented on #147
@shivanshsoni, are you working on this, if not @cpg can I work on this?

[2018-03-12 12:08] shivanshsoni commented on #147
@ArihantJain456 Go ahead

[2018-03-12 12:16] ArihantJain456 commented on #69
I would like to work on this.

[2018-03-13 04:14] #317 closed

[2018-03-13 04:40] #290 closed

[2018-03-13 04:54] cpg opened #321 "Auto upload stuck disabled"
I am not sure how I got into this situation in the app, but I tried enabling it, which worked, then I think I maybe had WiFi disabled and the app was having trouble accessing my server list. I had to close the app, the enabled WiFi and ran the app again.

Servers were there, browsed about and tested a bugfix. Went to Settings > AutoUpload and cannot enable it any more. Restarting the app does not

[2018-03-13 05:32] cpg opened #322 "Remove Chuck"
We decided that Chuck is a little too intrusive and that the `logcat` is enough to debug.

This issue is to remove it from the stack.

[2018-03-13 06:12] cpg opened #323 "Add shuffle to player"
A useful feature for the (already excellent) audio player would be to add random shuffle to play files in a given folder in random order over time.

This would allow users to have folders for specific music that they like (e.g. workout music) but not having it in the same order.

I am not sure what is the best UI. Maybe pressing long on the play button offers two options? 1) option `Play in Order`

[2018-03-13 06:15] cpg opened #324 "Liking music files"
One possible feature we could use the DB for is to "Like" songs and play them X times more often than others in shuffle mode (for example) (for X=3 or 4 or 5), or have a mode were the app plays only liked songs.

Files, can of course disappear from the server, so it this data has to be managed carefully so it does not explode over time.

[2018-03-13 06:16] csoni111 commented on #323
I think we should switch to [ExoPlayer](https://github.com/google/ExoPlayer) for playing music as per #165. It offers inbuilt support for playlist, shuffle, and many others.

[2018-03-13 06:21] csoni111 commented on #323
We can also add a feature to allow browsing the rest of the app while the music is playing. This can be made possible by building a mini controller of sort which can remain visible at the bottom of the screen as in Google Play Music app. This will be easier to build if we have ExoPlayer in effect.

[2018-03-13 06:37] adi23arora commented on #322
Can I work on this?

[2018-03-13 06:40] cpg commented on #314
Without doing the math, this does not seem like a big win. Especially since the video library is so large. I think we should postpone this. In the interest of cleaning the issues board, I will close this for now and we can reopen it later.

[2018-03-13 06:40] #314 closed

[2018-03-13 06:41] cpg commented on #314
Without doing the math, this does not seem like a big win. Especially since the video library is so large. I think we should postpone this. In the interest of cleaning the issues board, I will close this for now and we can reopen it later. Thanks for the suggestion.

[2018-03-13 06:58] cpg commented on #322
There was a thought by @csoni111 that we should just comment it out so that it does not get compiled but add directions in the README for developers on how to add it/use it.

I'm fine either way.

[2018-03-13 07:15] adi23arora commented on #322
Chuck not even displays the current requests and responses but also stores them in a DB so that these can be accessed later too. It can prove to be useful in some cases.

So, I guess I should just comment it out currently and add directions to re-enable it in Readme.

[2018-03-13 08:38] csoni111 commented on #17
@cpg Closing this as resolved.

We now have the following setup:
- All videos are played using libvlc player.
- The native android video player code is there in the app, but it is never called for playing videos.
- Chromecast support is there with libvlc player itself. #289

[2018-03-13 08:38] #17 closed

[2018-03-13 17:13] ArihantJain456 commented on #323
ExoPlayer is good for videos too, so by adding ExoPlayer we may not need videolan lib.

[2018-03-13 17:24] ArihantJain456 opened #326 "Java8 features"
## Description
We should make use of new Android Studio supported Java8 features like lambda Expressions.
for example:
`button.setOnClickListener((View view) ->
// do something`

They are easier to use and also helpful in writing cleaner code.

[2018-03-13 19:57] ArihantJain456 commented on #321
Can I work on this issue? @cpg

[2018-03-13 20:39] sanjitchak commented on #315
With an internal database, we may add an Option of checking **recently watched videos**.
We may add an option to add the location of favorite videos and pics to **favorite** section, in internal db.

[2018-03-14 00:25] #322 closed

[2018-03-14 00:48] cpg commented on #315
@sanjitchak No, not yet, please. There is another effort for this around a specific feature in #313 that needs to be reviewed first.

[2018-03-14 01:02] cpg commented on #326
Can you guys make an assessment of how large of a transition task this is?

It's probably a nice-to-have, though not a high priority if it's a complex task.

[2018-03-14 03:11] sanjitchak commented on #315
@cpg  oh! yes. Sorry, I missed it. Thanks, for informing. I will try that out.

[2018-03-14 06:03] adi23arora commented on #300
Can I work on this issue?

[2018-03-14 06:06] octacode commented on #300
Please propose a UI flow for this before.

[2018-03-14 06:20] #307 closed

[2018-03-14 13:28] mohitsvnit commented on #69
@ArihantJain456 are you working on this?

[2018-03-14 16:08] ArihantJain456 commented on #69
ye

[2018-03-14 16:15] mohitsvnit commented on #69
Because I already completed half of it.

[2018-03-14 16:20] ArihantJain456 commented on #69
I have also completed most of it, only linking metadata with viewpager is left.
you should ask first before working on it.

[2018-03-14 16:45] mohitsvnit commented on #69
OK no problem. Actually I started working on it 3 days ago and that time nobody was working on it.

[2018-03-14 16:57] adi23arora commented on #300
@octacode I am planning to implement it as a Material Navigation Drawer covering the action bar.
* As discussed earlier, like the Gmall App, we will have the HDAs list and the default menu items, on pressing the down arrow, menu items list will be replaced by the list of HDAs.
* As suggested by @csoni111, instead of those numbers, an icon with the first letter of each HDA name will be shown in the

[2018-03-14 16:58] ArihantJain456 commented on #69
Then why you haven't comment?

[2018-03-14 17:23] mohitsvnit commented on #69
Actually I thought no body is working on it. I didn't got notification that you commented. Sorry.

[2018-03-14 19:57] adi23arora commented on #324
A similar thing can be implemented for the "Most frequently played" songs.

[2018-03-14 22:06] cpg commented on #69
It's our fault for not confirming @ArihantJain456 as assigned to it. Too many things going on and it fll through the cracks. Please try and be cooperative. It's not a competition.

[2018-03-14 22:20] sanjitchak commented on #300
![ui flow](https://user-images.githubusercontent.com/20724062/37433937-e3078d72-2803-11e8-90f2-af7c1a44e051.jpg)

My proposed UI flow. @octacode
Pardon me for my handwriting. Didn't know any other way to propose it.

[2018-03-14 22:52] adi23arora opened #329 "Action bar title is not updated with audio change"
In `ServerFileAudioActivity` the file name in action bar title is not updated on switching to next or previous audio file.

![ss_amahi](https://user-images.githubusercontent.com/17095968/37434962-6dee4cfc-2807-11e8-879c-f29f1eafff71.jpg)

[2018-03-14 22:54] adi23arora commented on #329
I have fixed this, will send a PR soon.

[2018-03-15 04:20] mohitsvnit opened #332 "Swipe to refresh on Share Screen"
Recently I added new share folder to my hda. But it wasn't displayed unless I click on my share button in navigation drawer.
We can add swipe to refresh share in that screen.

[2018-03-15 04:20] mohitsvnit commented on #332
I would like to work on it.

[2018-03-15 04:39] cpg commented on #332
The standard is pull-down-to-refresh ... and I thought it was there for shares.

[2018-03-15 04:47] mohitsvnit commented on #332
Yup pull-down to refresh. Can I work on it?

[2018-03-16 00:39] ArihantJain456 commented on #243
@csoni111 can you tell me what exactly the use of pathPreference in uploadSettingsFragment?

[2018-03-17 17:16] sanjitchak commented on #300
![amahi_app_server](https://user-images.githubusercontent.com/20724062/37557294-5b41a540-2a28-11e8-8a2b-68160ec00f8a.gif)

How is this looking? @octacode   @cpg

[2018-03-18 02:10] cpg commented on #300
Personally, I don't like it. It looks like a button, not some selector. I don't know if it complies with material design, but it would feel to me that it does not.

[2018-03-18 08:49] adi23arora commented on #300
@sanjitchak I have been working on this, just waiting for any feedback or confirmation on the user interface I have proposed, which complies with Material Design too.

Waiting for any feedback from @cpg or @octacode.

[2018-03-18 08:57] sanjitchak commented on #300
@cpg  Thanks! for your opinion.
And yep, it was very stupid of me to use a button there. I will change it to something of a selector and compile it with Material Design

[2018-03-18 09:14] sanjitchak commented on #300
@adi23arora  It's ok. You can work on your idea and I can work on my own and show it directly.

Rest, leave the decision to mentors to select the better design and enjoy coding.

[2018-03-18 09:45] adi23arora commented on #300
@sanjitchak I don't think its wise to do that. It's not a competition and there are many more issues to be solved and problems to be addressed.

The best approach is to first propose a solution to the problem you are addressing, in this case you can propose a UI and then seek feedback from maintainers. And if they liked your proposed solution, you can go implement it.

That was just my personal su

[2018-03-18 10:12] sanjitchak commented on #300
@adi23arora I am sorry for making it look like a competition.

I thought that showing it directly after proposing my UI Flow before, may save some time of Mentors to think, as they are already very busy.

So, I made it and just showed.

[2018-03-18 13:19] cpg commented on #300
Let's all collaborate. Maybe @octacode can chime in when he comes back.

I mentioned in private that the small video/animation is very useful and the earlier description was a little too abstract, so it was a little confusing.

I would like to know what @adi23arora has implemented, because @sanjitchak has working code at this time, however the circumstances may have been.

So, I would say @adi23ar

[2018-03-18 14:20] octacode commented on #300
Great job there @sanjitchak, looks like you already have most of the coding part done. However this is not we agreed on.

[Comment - 7](https://github.com/amahi/android/issues/300#issuecomment-369889371) to [Comment - 11](https://github.com/amahi/android/issues/300#issuecomment-369904229) clearly states what we agreed upon.

To summarize
1. Just like the Gmail app, on pressing the down arrow butto

[2018-03-18 15:24] sanjitchak commented on #300
Thanks! @cpg for clearing the misunderstanding.
I agree with @cpg for @adi23arora and @octacode to provide guidance.
@adi23arora, you are quite experienced than me. So, would you mind guiding me? I would highly appreciate it.
Let's collaborate.

And thank you for those encouraging words @octacode, I really appreciate it.
I will certainly try to implement it like that Gmail app list.

[2018-03-18 22:15] ArihantJain456 commented on #326
This includes:
1. Changing all listeners. (Easy)
2. Understanding code properly for applying [Method References](https://docs.oracle.com/javase/tutorial/java/javaOO/methodreferences.html). (May take 2-3 hrs)
3. Finding methods wherever [lambda expressions](https://docs.oracle.com/javase/tutorial/java/javaOO/lambdaexpressions.html) can be applied. (may take 2 -3 hrs )
4. Testing all features of app

[2018-03-19 00:22] sanjitchak commented on #300
![amahi](https://user-images.githubusercontent.com/20724062/37572971-d99504c6-2b38-11e8-9e14-676d317d9eef.gif)

How is this looking? @cpg  @octacode  @adi23arora

[2018-03-19 05:26] ArihantJain456 commented on #300
@sanjitchak, I think you need to change font size for hda name to 14sp with medium weight. You should follow these [material design guidelines](https://material.io/guidelines/patterns/navigation-drawer.html)

[2018-03-19 07:45] sanjitchak commented on #300
@ArihantJain456  Ok sure

[2018-03-19 15:19] ArihantJain456 commented on #326
@octacode what do you say ? should I implement this?

[2018-03-19 15:51] mohitsvnit commented on #300
@sanjitchak  2 amahi logo in same screen doesn't look good. Maybe @cpg or @octacode can suggest something.
@octacode suggested to change theme for navigation drawer in this [comment](https://github.com/amahi/android/issues/300#issuecomment-369904229).

[2018-03-19 16:27] ArihantJain456 opened #334 "SplashScreen does not fitting screen size"
## Description
SplashScreen image is too large for phones having low resolution
![splash issue 1](https://user-images.githubusercontent.com/23583851/37608242-0c32184c-2bc0-11e8-9dae-dcde08d7df07.png)

### Would you like to work on this ?
Yes

[2018-03-19 17:59] sanjitchak commented on #300
![ezgif-4-5234093786](https://user-images.githubusercontent.com/20724062/37613169-5c8c5642-2bcd-11e8-80e4-82633aa07691.gif)

@mohitsvnit  Yep, removed it when the drawer is opened.

[2018-03-19 18:42] ArihantJain456 commented on #300
@sanjitchak, I don't think that octacode suggested to hide amahi icon on opening of Navigation drawer. Instead, he suggested that the icon will not be there in navigation activity's action bar at all .
Please read all comments carefully from the starting of discussion.

[2018-03-19 19:32] sanjitchak commented on #300
@ArihantJain456  yep, you are right. And I removed it completely before.
But then I thought of adding an icon at least when the drawer is closed as it was looking a bit empty.

Never mind, I will remove it completely then.

[2018-03-19 20:42] adi23arora commented on #334
@ArihantJain456 Even in my device the image was touching the screen edges. I thought it was just placed that way.
I guess this problem is due to the `layer-list` drawable applied as the background to the splash window, which doesn't have any constraints or scaling on the bitmap.

How are you planning to solve this?

[2018-03-19 21:09] sanjitchak commented on #334
@ArihantJain456 On my phone also it's touching edges but it's coming fully.
Maybe it's because of the picture's width of 721 pixels, kept in 'drawable-nodpi' folder, which is quite high for a low-resolution phone.
I guess you will compress it to put in other drawable folders also.

[2018-03-19 21:47] sanjitchak commented on #300
![ezgif-4-ef83599cea](https://user-images.githubusercontent.com/20724062/37624108-04fe0266-2bed-11e8-9127-caf5921558e7.gif)
@ArihantJain456 Thanks! for those guidelines. How is this looking?

[2018-03-19 22:26] adi23arora commented on #300
@sanjitchak This interface is a bit close to what asked for. But there's still scope for some improvements in the UI part.
Here's something I have worked on.

![navigation_drawer_ui](https://user-images.githubusercontent.com/17095968/37625255-33a8d9a2-2bf1-11e8-963b-f347d9b7317a.gif)

It's not complete yet. But you can use it as a reference if it helps in any way.

[2018-03-19 22:57] adi23arora commented on #326
I think this would be a great transition. But after that, we need to have strict contributing guidelines to follow this style throughout the project to maintain uniformity.

[2018-03-20 03:48] ArihantJain456 commented on #334
@adi23arora, I think different resembles should be there for different screen sizes.
Scaling the image will not be good solution

[2018-03-20 04:27] sanjitchak commented on #300
@adi23arora yep, I agree. I still need to make improvements in the UI.

Thanks! for the reference.

[2018-03-20 05:04] cpg commented on #334
This is a little "fluffy", so let's get it over ASAP @ArihantJain456.

Here are the [logo originals](http://www.amahi.org/press-kit).

[2018-03-20 08:31] advir29 opened #335 "Rights of a secondary user logged into hda?"
What would be the rights granted to the secondary user while adding a support for secondary user login? Will it be restricted to viewing rights only of the shared content specified by admin. Or will it have support for admin to select which contents would be made available to a specific secondary user and also its access rights to "read only" or "modify" individually on each secondary user?

[2018-03-20 10:45] cpg commented on #335
The rights are managed by the back-end server. The app only displays what the server provides.

We need to work on specifying this ASAP.

[2018-03-20 11:52] advir29 commented on #335
We could start by specifying a hierarchy of rules regarding grant permission
These need to be specified by the admin on dashboard regarding every individual specified as secondary user.
This can be a sample hierarchy.
[rules.txt](https://github.com/amahi/android/files/1829131/rules.txt)

What's your opinion regarding this?

[2018-03-20 12:18] advir29 opened #337 "app crashes when any of the options among "Demo","Share" or "Introduction" selected."
app crashes when any of the options among "Demo","Share" or "Introduction" selected from shares option from drawer under welcome to amahi selection.

[2018-03-20 12:33] ArihantJain456 commented on #326
This new style will make the code more simple and cleaner and using this java8 is not too difficult. In all projects, uniformity in code is necessary for easier understanding of code. In Amahi too, coders have followed some uniform pattern and we all are following it. @adi23arora

[2018-03-20 12:35] adi23arora commented on #337
@advir29 You should be careful while sharing logs. Refrain from sharing complete logs because it may expose the API endpoints and can also leak some other sensitive info like your username and password in the requests, as you can see in this case.
So, remove this log file ASAP.

[2018-03-20 12:48] ArihantJain456 commented on #337
@advir29 It seems you haven't put chromecast app id in api.properties  from [here](https://github.com/amahi/android/blob/beta/api.properties.sample)

[2018-03-20 12:52] csoni111 commented on #337
@advir29 Check issue #316

[2018-03-20 12:52] #337 closed

[2018-03-20 12:54] advir29 commented on #337
Thanks @ArihantJain456  for advice regarding log file attachment

[2018-03-20 15:09] mohitsvnit opened #338 "Sharing of folders or shares with other servers"
Few questions related to above objective are

- What type of other servers? Like Some particular servers or with any server?

- This task also requires changes in api at back-end. What are the features related to sharing needs to be develop in application?

[2018-03-20 19:22] ArihantJain456 commented on #326
@octacode current compileSDKVersion is 25, can I update it to 26 to use some of its features?

[2018-03-21 06:40] octacode commented on #338
1. Let's say I want to provide a friend of mine access to some or one of my shares in my server, that's what we mean by server sharing.
2. Yes there will be a lot of back-end workload here, but at the android level we'll have APIs, I would recommend planning the UI/UX flow of the whole process first.

[2018-03-21 06:42] #334 closed

[2018-03-21 13:30] advir29 commented on #335
Should we regard non-admin users of HDA as secondary users.

In that case for providing remote access we could add a checkbox on login page to select "login as secondary user"
when enabled it would also ask for "secondary username" along with "registered username of HDA" and would now ask for "secondary username's password". If authenticated the secondary user is logged in with the usage rights as

[2018-03-21 13:42] advir29 opened #340 "To create an QR code based guest login system to HDA with viewing rights for a specified time limit."
We can provide an option for admin to generate a QR code and let any of its guests login to his HDA from their Android or iOS device just by scanning it in his amahi app. The admin can specify a time limit for newly added guest or else a default value say "3 hrs" are allocated to new guest user.
The guest could view the shared which are configured to be "available to guest" beforehand; like "movie

[2018-03-21 16:56] sanjitchak commented on #300
![ezgif-4-c25ca4d15a](https://user-images.githubusercontent.com/20724062/37724405-acede5c6-2d56-11e8-8915-bc5924fd567a.gif)
@adi23arora  This looks close enough. What do you say?
Kept font small due to material UI guidelines

[2018-03-21 20:12] sanjitchak commented on #323
Is anyone working on adding exoplayer?

[2018-03-21 20:42] adi23arora commented on #300
@sanjitchak It still needs some work on the UI/UX part. Please pay some attention to user experience, like how a user will feel interacting with this UI.

Here are some changes I can suggest:
1. Change the background color of navigation header. This separates it from the navigation menu.
2. Add transparency to the Amahi Logo in the background (refer https://github.com/amahi/android/issues/300#issu

[2018-03-21 22:08] adi23arora opened #341 "Files & folders highlighted on click"
### Current Scenario:
In the `ServerFilesFragment`, files and folders are highlighted on click and it remains in the activated state even on resume. (As shown below)

![issue-highlight1](https://user-images.githubusercontent.com/17095968/37739660-dfc82acc-2d80-11e8-849a-4b51f6ff44e0.png)

This might confuse the users with the items being checked on a long press for the Action Menu. (As shown below

[2018-03-22 06:27] mohitsvnit opened #342 "Option to see file metadata"
There is no option to see file metadata.

We can add one icon on app bar to show file meta information when long press on file.

[2018-03-22 06:27] mohitsvnit commented on #342
Can I work on this?

[2018-03-22 06:51] ArihantJain456 commented on #341
If we replace listview with recyclerview then the problem is automatically solved as done in #325.

[2018-03-22 06:57] advir29 commented on #340
Can I work on implementing this?

[2018-03-22 08:44] adi23arora commented on #342
@mohitsvnit All the file related info we are getting from the server is already shown in the file item in the list view itself. So what exactly do you want to display here?
Moreover, it would be useful if we have some file related info to show to the user like "last opened" or "last played". And there's already a discussion going for this on issues #311 and #315.

[2018-03-22 09:05] mohitsvnit commented on #342
So you are also working on displaying them on long press or just working on collecting data and storing them?

[2018-03-22 09:20] octacode commented on #340
This involves a lot of back-end code and newer APIs not only this there will some security issues with this one. We need to plan this properly before.

Also with this approach If I want to provide access to a device which I don't have physical access to then what?

Will reopen this one later. :)

[2018-03-22 09:20] #340 closed

[2018-03-22 09:20] octacode commented on #254
@cpg should we close this one?

[2018-03-22 09:22] octacode commented on #342
This definitely is not self-explanatory. Please try to explain what you're proposing properly. So that it is understandable.

[2018-03-22 09:30] #69 closed

[2018-03-22 09:30] #329 closed

[2018-03-22 09:33] octacode commented on #300
@sanjitchak please use this as a reference https://github.com/amahi/android/issues/300#issuecomment-374404369

[2018-03-22 09:37] #147 closed

[2018-03-22 11:42] mohitsvnit opened #343 "Gsoc proposal"
We need to propose solution for all the objective mentioned on [idea page](https://wiki.amahi.org/index.php/Google_Summer_of_Code_Ideas#Android_App_Improvements) or we can select few objective and propose solution for them?

[2018-03-22 14:12] sanjitchak commented on #300
![ezgif-4-866378394c](https://user-images.githubusercontent.com/20724062/37775008-bdf19dca-2e07-11e8-8556-8aa96570f4e0.gif)
@octacode  yep was already working on it.

@adi23arora   Thanks for your feedback. Made changes as told.
`Shares` was centered to meet material UI guidelines. But, then each item in a material UI has an icon, so, added amahi logo.
Please, feel free to say anything about feeli

[2018-03-22 18:09] sanjitchak commented on #343
I am still a learner here but after spending few weeks & reading all issues and comments, this is what I understood so far:-

1) **Add support for secondary user login support in the Android app over both Local and Remote connection.**
Implementation :-
#335 , @cpg  suggested that app will only display what the server provides.
So, we can use [Android's AccountManager](https://developer.android.co

[2018-03-22 18:10] sanjitchak commented on #343
[](url)

[2018-03-22 19:44] mohitsvnit opened #344 "Title on audioactivity always set to the title of 1st audio file in share"
when audio file is played by click on serverfilefragment, title on audioactivty always set to title of 1st audio file.

![ezgif com-video-to-gif](https://user-images.githubusercontent.com/12980721/37794414-624acff2-2e37-11e8-9ebc-dd1e620280c0.gif)

It's an minor issue with initialisation of `ServerFileAudioActivity`

[2018-03-22 19:45] mohitsvnit commented on #344
I already solved it and request PR.

[2018-03-23 00:18] adi23arora commented on #341
@ArihantJain456 I have re-tested this after PR #325 was merged. I was still able to replicate this issue.

![issue-highlight2](https://user-images.githubusercontent.com/17095968/37804921-e11502e2-2e5c-11e8-9c17-b5d8e242a672.png)

 This problem can't be solved automatically just by replacing ListView with RecyclerView. Although it seemed to be, as the folders are refreshed every time on resume.

I

[2018-03-23 01:31] adi23arora opened #347 "No dividers between RecyclerView list items"
In some of the recent commits from #325, ListView in `ServerFilesFragment` was changed to RecyclerView. But the dividers which were present by default in ListView are missing in RecyclerView.

![no-divider](https://user-images.githubusercontent.com/17095968/37806548-a42d1c7a-2e66-11e8-8c5a-6592b228a140.png)

These dividers are often used to separate different list items and specify the boundaries

[2018-03-23 04:32] mohitsvnit opened #348 "Unable to remove audio service from notification bar even when music is stopped"
When user play any audio then audio service or foreground activity start in notification bar.
Before few commits user was able to remove that notification and stop audio service when music was paused even if application was active.

But now I am unable to do that. Now to remove or kill audio service I have to forcefully kill application from application stack

![ezgif com-video-to-gif 1](https://u

[2018-03-23 04:39] mohitsvnit commented on #342
@octacode When user longpress on file, currently we are getting 2 options on appbar i.e. `Share` and `Delete`. Like that we can add 1 more option(with icon) for `Information`. Which will diplay all the metadata of file. Metadata of file will increase with time.

[2018-03-23 05:44] octacode commented on #347
[code]

This might be able to do the task

[2018-03-23 06:22] octacode commented on #300
The **big** amahi dice doesn't looks good in the background. We should reduce the height of the header also you should add a black overlay on the header, might look better.

[2018-03-23 06:25] octacode commented on #342
This is similar to what I proposed in this comment https://github.com/amahi/android/issues/311#issuecomment-370800178, I think adding this will do us no harm. However this isn't something which is very necessary or required.

[2018-03-23 06:34] adi23arora commented on #300
@octacode Instead of an overlay, we can just add some transparency to the Amahi dice as done in https://github.com/amahi/android/issues/300#issuecomment-374404369.

[2018-03-23 08:12] ArihantJain456 commented on #348
@mohitsvnit are you sure we were able to remove notification few commits before because this issue was also present in older Audio Service.
But now since you point it out, we can solve it.

[2018-03-23 08:14] mohitsvnit commented on #348
I don't remember exactly. So can't be sure.

[2018-03-23 08:14] mohitsvnit commented on #348
I am waiting for mentors to give their view on it. If they want it as it is or as I suggested.

[2018-03-23 08:21] adi23arora commented on #348
It's not a bug, I guess this is the general flow for an audio service. If we were able to do it previously then maybe it's resolved now.
And the thing you suggested that we should be able to stop it on pause, can be a good enhancement.

[2018-03-23 10:28] ArihantJain456 opened #350 "Can't share music and video files"
## Description
Error occurs on sharing video and audio files.

### Steps to reproduce
1. long press any video/audio file
2. select share option
3. Wait for the file to download
4. Select any sharing app.
5. See the  error

### Updates
After further testing, I found that the problem is with **Welcome to Amahi** server's video/audio files only.
Sharing feature is working fine with my remote and Loca

[2018-03-23 12:40] ArihantJain456 opened #351 "Wrong modification time"
## Description
<img src="https://user-images.githubusercontent.com/23583851/37829231-4a011770-2ec4-11e8-878f-923d65b3031e.jpg" width="200px">
you can see  that the first photo's modificaton time is 24th march.
But in India, it is 23rd March.

[2018-03-23 18:30] sanjitchak commented on #300
![patterns-navdrawer-metrics3](https://user-images.githubusercontent.com/20724062/37847180-f3abbb6e-2ef5-11e8-83e4-e7df34bf885e.png)
![screenshot_2018-03-24-00-02-46-547_org amahi anywhere](https://user-images.githubusercontent.com/20724062/37847182-f4e29020-2ef5-11e8-8bfa-eefed547851c.png)
@octacode  @adi23arora
Well, i guess, in the end, I made adhere to material guidelines.
Please suggest chang

[2018-03-23 18:38] mohitsvnit commented on #351
Maybe it's not considering local time zone.

[2018-03-24 03:21] #344 closed

[2018-03-24 04:08] sanjitchak opened #352 "Add option for directly viewing pdf files"
Right now, Amahi Android app can open pdf files using external apps.

But since, pdf viewer can be integrated in-app,
we can add a feature of directly opening **pdf** files in the app only.

Implementation:-
Using [AndroidPdfViewer](https://github.com/barteksc/AndroidPdfViewer)

[2018-03-24 13:41] ArihantJain456 commented on #165
@cpg I would like to work on this issue.
Also since my last PR #331, I'm very much familiar with the `audioService` and `MediaPlayer` implementation code and will be able to finish it very soon. And also I have done a simple implementation of ExoPlayer before.

[2018-03-24 17:18] ArihantJain456 opened #353 "Feature for showing recent files separately"
## Description
There should be an option in the app to view recent files. These files will include music, images, and videos.
Creating a small DB would be sufficient enough for implementation.
Also instead of creating a new DB, this feature can be implemented using the DB created in the PR #313.

### Would you like to work on this feature?
Yes

[2018-03-24 18:58] mohitsvnit commented on #348
@octacode please give your review.

[2018-03-24 20:01] ArihantJain456 opened #355 "No direct Download option"
## Description
For videos, audios, and images there is no direct option for downloading.
If a user wants to download a file then only way around is to click on share option.

### Solution
 Download option can be added to the action bar along with other options.

[2018-03-24 23:52] csoni111 commented on #286
Added screenshots with cast icon.
Check here: https://drive.google.com/open?id=1fzidFAU8mWnCHwHTUEkYemtJh34ZSsB4

[2018-03-25 12:49] ArihantJain456 commented on #286
According to issue #347 divider is missing in ServerFilesFragment.
#349 fixes the issue. So you may require changing a couple of screenshots including inside_share_framed.png and others that include ServerFilesFragment.

[2018-03-27 17:52] adi23arora commented on #300
@sanjitchak You should have waited for a feedback from @octacode. I didn't comment for long because I was unsure about this change.

Adapting to Material Design Guidelines is fine but changes should not defeat the purpose of a particular UI component. The Amahi Dice logo should not be placed in that circular drawable. If you take a look at Gmail app, you might understand the purpose of that compon

[2018-03-27 18:23] sanjitchak commented on #300
@adi23arora  Well, I can still make changes to the code according to your feedback.  Raised a PR so that we all can collaborate properly and see the changes I am making to the code.

And if @octacode  merged the code then you can also contribute too, with your own ideas.

[2018-03-27 19:06] sanjitchak commented on #300
![screenshot_2018-03-28-00-41-25-491_org amahi anywhere](https://user-images.githubusercontent.com/20724062/37988979-d99ca986-321f-11e8-80d8-7cefd1544b6d.png)
Changed Navigation Drawer Arrow. @adi23arora

[2018-03-29 10:27] ArihantJain456 commented on #343
@mohitsvnit since this is not an issue related to the app, I think its time to close this issue.
Things like this can be done in IRC channel.

[2018-03-29 10:33] mohitsvnit commented on #343
@cpg many times asked to open issue for such doubts. Now as proposal time is over maybe we can close this issue.

[2018-03-29 10:33] #343 closed

[2018-04-02 03:48] adi23arora opened #357 "Foreground audio service not functioning properly"
### Issue Description
Due to some recent commits, for adding the swipe feature in PR #331, ``AudioService.java`` and other related files were modified which broke the foreground audio service feature.

While playing an audio file when the app is switched to background, the audio controls in media notification, for switching to previous and next song doesn't seem to work. Moreover, the song isn't s

[2018-04-02 04:01] cpg commented on #286
Thanks, however, I don't imagine lack of dividers would cause ejection from the Chromecast listings. I added the screenshots a few days ago and asked the Chromecast team for clarification. They have not answered yet. We will handle the dividers issue separately in that issue/pr.

[2018-04-02 04:56] ArihantJain456 commented on #357
Thanks @adi23arora for pointing it out, I will look into it.

[2018-04-02 05:09] ArihantJain456 commented on #357
I know why they are not working, because I removed those methods next, previous and on completion in 'audioService.java'.

[2018-04-02 05:11] adi23arora commented on #357
@ArihantJain456 I checked the code in `AudioService.java` and found some of the methods we were using for handling those events were removed.
And you were posting new events like `AudioControlNextEvent()` and `AudioControlPreviousEvent()`, without specifying any action on detecting those event.

[2018-04-02 05:25] adi23arora commented on #357
Can I try fixing this, I will seek your help if required.

[2018-04-02 05:31] ArihantJain456 commented on #357
I have already fixed it. I have classes from 11:00 am to 6:pm, so I will send a PR after it. But if you want to try I will  not send my PR.

[2018-04-02 12:42] ArihantJain456 commented on #357
Hey @adi23arora, you haven't answer that question ^. If you are willing to work on this then I will help you in this.

[2018-04-04 00:38] cpg commented on #165
Just to be clear --

1) This will be for audio-only, no video at all
2) Will not break Chromecast casting -- what is tunneled video?
3) Will provide extra advantages vs what we have -- what are those?

[2018-04-04 14:03] csoni111 commented on #348
This line [here](https://github.com/amahi/android/blob/c0f14ec6f3de36475ce7954756629ec63b7305b5/src/main/java/org/amahi/anywhere/util/MediaNotificationManager.java#L252)
[code]
 was added for having the same functionality as mentioned in this issue. But unfortunately it doesn't work because the `startForeground()` call on the audio service overrides the `setOngoing(false)` on notification when pau

[2018-04-04 14:18] mohitsvnit commented on #348
sure @csoni111.

[2018-04-04 18:02] ArihantJain456 commented on #351
Maybe just because of Wrong Server time. Closing it.

[2018-04-04 18:02] #351 closed

[2018-04-05 19:42] ArihantJain456 opened #359 "Singleton ServerClient issue"
### Description
At a time only one server client can work:
- On changing Server from `UploadSettingsFragment` will change the current server of the server client. So the server in Navigation activity will also get changed.
- On changing server from `NavigationFragment` will change the server busy for uploading photos.

[2018-04-06 01:28] sanjitchak commented on #359
@ArihantJain456  We can warn the user if photo upload is in process.

[2018-04-06 13:14] ArihantJain456 commented on #359
That will be a partial fix. We should go for a permanent fix something like:
Setting two servers in Server Client, one for uploading photos and other for remaining functionalities.

[2018-04-12 00:04] #321 closed

[2018-04-12 04:43] mohitsvnit commented on #348
@csoni111 I even removed `setOngoing(mPlaybackState.getState() == PlaybackStateCompat.STATE_PLAYING)` still foreground service is not removing on swiping.
Do you have any idea where might be the problem is?

[2018-04-12 05:54] csoni111 commented on #348
@mohitsvnit As I previously said `startForeground()` overrides the `setOngoing()` call. So you need to call `stopForeground(false)` when the audio is paused and again `startForeground()` on the service when audio is played.

[code]
Something like this ^ in [this place](https://github.com/amahi/android/blob/2398a193a49be71383961c4fe1cd18200015e9fc/src/main/java/org/amahi/anywhere/util/MediaNotifica

[2018-04-12 22:59] adi23arora commented on #348
@mohitsvnit You can also add a `Cancel` button to dismiss the notification (for pre-lollipop devices), using
[code]
For reference, check [docs](https://developer.android.com/reference/android/support/v4/media/app/NotificationCompat.MediaStyle.html#setShowCancelButton(boolean)).

[2018-04-13 13:56] mohitsvnit opened #361 "Gradle sync error"
I am getting this error `Gradle sync failed: java.lang.AssertionError: Invalid libraryOrderEntry, library: Library: name:com.squareup:javapoet:1.7.0@jar; jars:JAR dirs: []; roots:[VFPContainer: [], VFPContainer: [], VFPContainer: [], VFPContainer: [], VFPContainer: []] of type class com.intellij.openapi.roots.impl.libraries.LibraryImpl, disposed: true, kind: null` in syncing gradle.

[2018-04-13 19:07] mohitsvnit commented on #361
Solved by invalidating cache and restarting android studio

[2018-04-13 19:07] #361 closed

[2018-04-14 04:38] mohitsvnit opened #362 "Deprecated methods in gradle"
this `variant.javaCompile.source` code is deprecated. Instead we have to use `variant.javaCompiler.source`.

[2018-04-14 18:57] mohitsvnit commented on #348
Thank you @csoni111. It worked.

[2018-04-15 10:37] #165 closed

[2018-04-15 10:50] #362 closed

[2018-04-15 11:37] #347 closed

[2018-04-15 11:43] cpg commented on #341
I don't think this works at the moment (perhaps after the merges we did a few minutes ago).

Could you review?

[2018-04-15 21:02] adi23arora commented on #341
I re-tested with the current beta branch and issue still persists.

Steps to reproduce:
1. Click on any file. (File opens/plays)
2. Return back to the folder, file is still highlighted.

Issue: File should not be highlighted or activated in the first place.

[2018-04-16 04:34] cpg opened #365 "navigation drawer improvements"
The following are some changes I would suggest we do for the nav drawer:

* the small Amahi dice logos next to "Shares" and "Apps" are superfluous and overloading. Maybe a folder for `Shares` and some other one for `Apps`
* the name of the server disappears sometimes, just shows the literal string `Server Name` which is confusing. I did not change the server! -- I think this should be reproducible

[2018-04-16 04:45] #326 closed

[2018-04-17 18:24] adi23arora commented on #357
@cpg This issue is resolved with PR #360, can be closed now.

[2018-04-23 15:03] adi23arora opened #366 "Multiple progress animations shown when Shares load"
### Description
As seen in the image below, both progress bar and swipe refresh layout are shown when `Shares` are loaded.

![shares-progressbar](https://user-images.githubusercontent.com/17095968/39134267-e09a8c34-4733-11e8-8e2a-a23789d9c169.png)

### Fix
Following the general flow, we can show only the Progress Bar as the contents are loaded on resume.

[2018-04-24 00:17] #366 closed

[2018-04-24 00:26] #341 closed

[2018-05-03 04:27] ArihantJain456 commented on #355
We can save downloaded files in external storage in Public files so even after uninstalling the app, they will be there to be used by other apps.

[2018-05-03 04:31] cpg commented on #355
Well, we can. I was asking more along the lines of "what is typically done in Android for something like this? .. is there a file system view to the user?"

In this case, are users aware of a "public" area commonly in Android?

[2018-05-03 04:41] ArihantJain456 commented on #355
In most Android apps, like in Google drive and one Drive, the downloaded file gets saved in the Download folder. In some apps, the file gets saved in a folder according to its type: music file in the music folder, picture in the pictures folder. I was thinking of saving the file in the download folder.

[2018-05-03 04:46] cpg commented on #355
How about we get going on the feature, assuming the destination is the download folder, and later change the location according of the advice from @octacode, @megabitdragon and any others that are regular users?

[2018-05-03 06:11] sanjitchak commented on #355
I think we may later change the destination to 'Amahi' folder, with separate folders for separate file types (images , videos, documents, etc).

'Whatsapp' store all our downloaded media in its own folder name.
![screenshot_2018-05-03-11-40-10-607_com estrongs android pop](https://user-images.githubusercontent.com/20724062/39561956-9b45cf1e-4ec6-11e8-974a-01fadfbd9d23.png)

[2018-05-03 12:27] cpg commented on #355
I just had this idea: what if the folders in the file system where these files are stored (even if we did not download anything) were to be browsable as _a share_?

So, basically we could play the files again with the app itself! Or share them, etc.

We could make up a "virtual share" called `Android Phone Storage` or something like that, and we'd see it all the time after the first time a file ha

[2018-05-03 12:42] megabitdragon commented on #355
We can do something like netflix where we have a download option for audio/video files and have a "share" like @cpg suggested. On top of that we can make something more transparent to the user. For example we could only show files that have been downloaded in their original share. A real life example will be: I need to get on plane and I download some songs for the takeoff. Once I switch to airpla

[2018-05-03 13:52] ArihantJain456 commented on #355
@megabitdragon idea looks good.
With the idea of @cpg of making a toggle instead of a button for download makes it more precise.
So there will be a separate share as @cpg suggested say `Offline Data`, and on opening the app when the internet connection isn't available, the user will only see the `Offline Data` share containing original share with downloaded files.

[2018-05-04 06:33] ArihantJain456 commented on #355
<img src="https://user-images.githubusercontent.com/23583851/39615190-80279380-4f92-11e8-9254-2e35ae154ab9.jpg" width="30%">

In youtube app,
<img src="https://user-images.githubusercontent.com/23583851/39615191-8053de36-4f92-11e8-9a15-bce9a1fa9cce.jpg" width="30%">
This seems good to me. We can shift all the options of the action bar in the dialog.

[2018-05-04 09:14] ArihantJain456 commented on #355
- There will be a `more option` <img src="https://user-images.githubusercontent.com/23583851/39620478-f702aa06-4fa8-11e8-8343-3ab81a788925.png" width="15"> for each item in the list as shown
<img src="https://user-images.githubusercontent.com/23583851/39619953-2e214f08-4fa7-11e8-9cbc-68329c5a0b5f.png" width="30%">

- On Clicking <img src="https://user-images.githubusercontent.com/23583851/39620478

[2018-05-04 11:07] cpg commented on #355
Got it. Thanks for expanding the details. So let's split this into several (maybe two, maybe three?) steps and focus one at a time.

[2018-05-04 11:49] ArihantJain456 commented on #355
This can be broken down into these steps:
1. adding option dialog and option button<img src="https://user-images.githubusercontent.com/23583851/39620478-f702aa06-4fa8-11e8-8343-3ab81a788925.png" width="15"> and also adding the download option and download completion snackbar.
2. Implementing a DB for storing list of downloaded files. This will be used to check whether a file is already downloaded,

[2018-05-04 20:36] megabitdragon commented on #355
That's a good point @csoni111. I wonder if there is any way to prevent that. Also, what if someone removes the file from the HDA, what are we going to do? Delete the file from local storage? Restore it? Ask?

[2018-05-04 20:49] octacode commented on #355
For this what Google drive does is that it keeps the downloaded file in the local storage even if the file is deleted from the cloud storage.

[2018-05-04 21:16] cpg commented on #355
Good points. Lots of cases. In my view, we have to define:

* a precise set of valid states (icons reflect the state to the user)
* allowable transitions (what the user is allowed to do)

This is akin to a cache coherency protocol - defining how things can diverge and how to manage the evolution of those states.