[2018-05-05 08:28] ArihantJain456 commented on #355
Valid states can be:
- Not Downloaded
- Downloading
- Downloaded
- Changed from the HDA (an update option can be provided in place of download option)
- Changed from the local storage (an option to upload the file can be shown)
- Downloaded but deleted from the local storage (For this, simply deleting the entry from the local database and changing state to Not Downloaded looks fine)
- Downloaded b

[2018-05-08 04:38] cpg commented on #355
I think your suggestion, option 2, is a good idea and more extensible.

As for the states, would you consider trying to formally draw a state machine with valid transitions within states? It may be a little bit of work up front, but I think it will help in the long term.

Would be great if we can make it editable to we evolve, for example using dot. Below is a start to that (assuming a file called

[2018-05-08 09:33] adrian-vg commented on #243
Ran into this problem with Open Camera app on Lineage OS 14.1/Android 7.1.2.
My Oneplus One uses Camera2 api legacy FWIW.

Any chance we might see a fix in the near future? Pretty please? :-)

[2018-05-08 13:48] ArihantJain456 commented on #243
@adrian-vg can you elaborate more on the issue that you are facing?

[2018-05-09 01:17] cpg commented on #355
Latest state diagram for discussion
![download_states_diagram](https://user-images.githubusercontent.com/9907/39790612-ed8a109a-52eb-11e8-9d21-a37174caead0.png)

[2018-05-09 05:43] adrian-vg commented on #243
@ArihantJain456:

Taking a picture with Open Camera on my android mobile.
The android Owncloud mobile app is set to auto-upload pics to my OC-server. This doesn't however happen. The pic just sits there, and doesn't trigger the upload feature.

For some reason it _mostly_ does work with the default Google Camera.

Reading on author's Open Camera site, I saw mentioned that the problem was mentioned

[2018-05-09 06:10] cpg commented on #243
@adrian-vg This does not have anything to do with this app or Amahi.

[2018-05-09 06:28] adrian-vg commented on #243
I got pointed to here.
My mistake then. Sorry.

[2018-05-21 21:45] ArihantJain456 commented on #350
The main issue was related to the file's path, if the path contains space `  `  or any other special character, then download Uri given by Download Manager will contain `%20` instead of space `  ` . Hence the path can't be equal to the download Uri as implemented [here](https://github.com/amahi/android/blob/beta/src/main/java/org/amahi/anywhere/util/Downloader.java#L121).
For example path for file

[2018-05-24 22:47] ArihantJain456 commented on #348
@cpg Since the problem has been solved, I think we can close this issue.

[2018-05-26 03:56] ArihantJain456 opened #372 "Support for remembering user preferences"
This will include following preferences:
1. Selected server
2. Sorting option for folders  #25
3. Audio/ videos play position

[2018-05-26 10:37] #350 closed

[2018-06-02 04:01] ArihantJain456 commented on #25
In most file browsers, there is a default sort option, if the user changes the sort options for a particular directory, then it changes to all the directories.
@cpg implementation for this would be simple enough.

[2018-06-02 20:03] #355 closed

[2018-06-09 05:22] codedentwickler opened #375 "App crash when I tried to open offline file after fresh installation"
I set up and ran the current beta branch on my Android device, app crash when I tried to open offline files when I just installed it. Maybe because I have not downloaded any file for offline yet.

How to reproduce
- Uninstall Amahi android
- Do a fresh reinstallation from the beta branch
- Try to open offline files on reinstallation

It seems to happen repeatedly

[2018-06-09 10:15] ArihantJain456 commented on #375
same as #297

[2018-06-10 17:38] ArihantJain456 opened #376 "Material Design Implementations"
The following features can be implemented in the app:
- Improvement in the Navigation Drawer as suggested [here](https://github.com/amahi/android/issues/365)  plus navigation drawer height can be change to full-screen height for better user attention (also, in this way we do not need to hide amahi logo present in the action bar)
- Theme feature: This will allow the user to change app theme. UI flo

[2018-06-10 21:03] codedentwickler commented on #375
resolved in #297

[2018-06-10 21:03] #375 closed

[2018-06-10 21:14] codedentwickler opened #377 "Offline folder is not accessible in offline mode"
When the app is launched with no internet connectivity or in airplane mode, the offline folder is not accessible, only an error message "Connection Error" shown in the Navigation Drawer. This defeats the purpose of making the files available offline in the first instance.

We can replace this error message with a text indicator maybe `Currently Offline` and show the offline folder in the Navigatio

[2018-06-11 05:33] sanjitchak commented on #376
The idea of full-screen height Navigation Drawer is great and I tried to pull it off too.
Much code had to be changed so, I dropped it, maybe for later.
Trying checking the code for navigation drawer @ArihantJain456  and see whether you may pull that off. It would be great.
Let's see what our mentors say.

[2018-06-12 10:47] ArihantJain456 opened #378 "Servers not loading after sign in"
After sign in, servers are not loading.
![ezgif com-resize](https://user-images.githubusercontent.com/23583851/41286024-b550b72a-6e5b-11e8-954b-2f4037f98c85.gif)
The only way around to load servers is to close the app and open again.

[2018-06-12 18:10] ArihantJain456 commented on #365
ways in which above changes can be implemented:
- Icons for shares and apps
![shares_apps](https://user-images.githubusercontent.com/23583851/41305409-72720a14-6e90-11e8-8d48-cbf21c5f901d.png)
- server name disappearing on rotation can be fix using save state. Also for the first time when no server is selected, list of servers will be shown and flip arrow would be invisible.
- Instead of `Server`,

[2018-06-13 12:12] cpg commented on #365
I am not sure about the `Selected Server:` ... because I *think* `Selected` is implicit and the colon may be superfluous.

The icons look great.

I kind of like the color selections in the circles (the color chosen were kind of a nice selection, which was, let's just say unusual for the typical developer), but perhaps a single color is more mainstream. If you choose a blue, please use a blue that

[2018-06-13 16:46] ArihantJain456 commented on #365
From above, I came to the following conclusion:
1. `Selected` will be use in place of `Server` text (or neither of them is necessary. Only server name would be enough to understand that this is server)
2. This color for servers will be fine. This is the app primary color (used for toolbar/ action bar)
![servers](https://user-images.githubusercontent.com/23583851/41364981-cce8cbb6-6f55-11e8-8880-ac

[2018-06-13 17:04] octacode commented on #365
I would like to keep the present implementation of keeping the first server as default. Usually people have a single server and the first server is default.

The color (primarycolor) and the icon looks great to me. However, the letters `W` and `T` aren't actually in the center of the circle, If my eyes are right. Try to make them center align.

However the **BIG** Amahi dice backdrop looks pretty

[2018-06-13 17:35] ArihantJain456 commented on #365
@octacode I will improve the drawer as suggested above.

- what if we make `Welcome to Amahi` server as the default.
- change drawer height to full screen, this way we do not need to remove the amahi logo from the action bar.

[2018-06-13 17:44] octacode commented on #365
- No, if there's any other server besides the Welcome to Amahi server available then that should be the default.
- Alright, we can make the drawer height full screen. I guess that's also what the material design guidelines say.

[2018-06-13 21:12] cpg commented on #365
clarification. i think`Selected` is implicit, which means it's not necessary. hence `Server` should be enough

[2018-06-15 15:18] #378 closed

[2018-06-16 08:55] ArihantJain456 commented on #377
We can solve it this way:
1. If no server is selected, this means the user is opening the app for the first time. If there is no internet connection, we can show the same network error.
2. If a server is selected before. We can show the selected server and offline files option, and a text saying offline.

[2018-06-18 19:56] #372 closed

[2018-06-23 15:38] #365 closed

[2018-06-26 00:43] ArihantJain456 opened #382 "Limited upload options"
At present, uploading through the app is limited to photos and videos only.
<img src="https://user-images.githubusercontent.com/23583851/41882679-ed9f8136-7907-11e8-9e63-17131cdf0f37.png" width="30%">

We can give more options:
1. document
2. audio

[2018-06-26 00:53] #353 closed

[2018-06-28 15:06] #382 closed

[2018-07-26 17:49] csoni111 commented on #348
Closing as resolved.

[2018-07-26 17:49] #348 closed

[2018-07-28 01:32] ArihantJain456 commented on #224
@cpg We can use this UI for enabling/ disabling subtitles

<img src="https://user-images.githubusercontent.com/23583851/43351717-d1ca00fe-9233-11e8-99e0-39dec2f02ee3.jpg" width="50%">
<img src="https://user-images.githubusercontent.com/23583851/43351712-b33ee2da-9233-11e8-99d0-186220f95699.jpg" width="50%">

[2018-07-28 07:00] cpg commented on #224
looks good!

[2018-08-23 15:41] harshendrashah commented on #376
The theme of this app isn't user-friendly.
Can I work towards changing the entire-theme?? @ArihantJain456

[2018-08-23 19:28] ArihantJain456 commented on #376
@harshendrashah can you give specifics about changes you want to implement?

[2018-08-23 20:12] harshendrashah commented on #376
Most of the users use our app only if it looks good. As a first time user, anybody sees the UI first and features next. As this app uses a dark theme, the colour combinations seem a bit dull, to be honest. Therefore, I am proposing a complete change in the colour scheme and theme of the app. And make it more attractive for the user. @ArihantJain456

[2018-08-23 21:57] ArihantJain456 commented on #376
Well, the dark theme was chosen as this is a multimedia app and there are many multimedia apps which use dark themes.
Can you provide some screenshots for the new theme and elaborate how it will be better than the @current theme?

[2018-08-24 00:03] cpg commented on #376
@harshendrashah We're always looking to improve our apps. We'll be happy if you can improve the looks of the app. We can provide a few screenshots for you to improve on, or you can take screenshots yourself while you use the app and then modify them (or use them as inspiration) to make your suggestions to improve the app.

Looking forward to your suggestions!

[2018-08-24 10:11] harshendrashah commented on #376
@cpg  Sir, I would like to have your advice. If you can provide some screenshots for improvements, it will be a great help.
I am also working on some designs and will let you know about them in a day or two.

Thanks!

[2018-08-24 10:26] cpg commented on #376
No. You have communicated by email that you have compiled and installed the app. Therefore you have all the screenshots you want at your fingertips.

[2018-08-24 10:40] harshendrashah commented on #376
Ohh, Sorry I thought you have some ideas need to be implemented in the design. Therefore I asked for the screenshots.
I will post the screenshots of my new designs by tomorrow.

[2018-08-24 19:52] harshendrashah commented on #376
@cpg and @ArihantJain456 Here are the screenshots of my design:

![screenshot_2018-08-25-01-11-28-598_org amahi anywhere](https://user-images.githubusercontent.com/21140122/44604861-e92a5000-a804-11e8-9b6e-7e8c5944dfab.png)
![screenshot_2018-08-25-00-58-17-058_org amahi anywhere](https://user-images.githubusercontent.com/21140122/44604919-1840c180-a805-11e8-94b9-468f22e25b88.png)
![screenshot_2018

[2018-08-24 19:53] harshendrashah commented on #376
I am working on a dark theme too. Will update you soon.

[2018-08-24 19:56] harshendrashah commented on #376
If you like this design, please let me know I'll send a PR.

[2018-08-26 05:54] cpg commented on #376
Personally, I am not a fan of the login page. It *burns* my retina.

The rest being so bright is not my cup of tea, though not bad.

As for the login page and header's explosive color, though, I fail to see how these are any better.

[2018-09-09 18:07] 207ashu commented on #352
I'm new to Open Source, Can I contribute to this project? I have worked on AndroidPdfViewer earlier also.

[2018-09-10 07:31] cpg commented on #352
Definitely, anyone can, it's Open Source!

The only concern is how much does something like this add to the binary. Any guesses?

If it's a substantial amount, it would be hard to justify, since I would imagine most people have PDF readers already in their phones.

[2018-09-13 06:17] 207ashu commented on #352
This increases the size of the apk by approximately 12 Mbs

[2018-09-13 06:42] cpg commented on #352
Thanks for the estimate. That's about 15% increase in size, which is kind of noticeable. It makes is large that some Google apps.

I wonder about the features. I don't know enough about people using Android apps for PDF.

Any other opinions on this?

[2018-09-13 07:14] sanjitchak commented on #352
I raised this issue so that very *sensitive* pdf can be opened in the app only as old android phones are prone to hacks.
So, if most of our users, use the android app for fun and videos then I think that increase in size may not be justified. Most android phones come with pdf viewer preinstalled.

[2018-09-13 08:06] codedentwickler commented on #352
I think it's a good thing to have a way to open pdf in the app like @sanjitchak said for sensitive files. I don't see a need to add a library with a 12 MBs overhead to achieve this. What if a Web view is used to preview the document in the app, fancy features won't be available though. We can then allow the user to open with their favorite app from the Webview (maybe through the menu option). This

[2018-09-13 10:40] cpg commented on #352
Good idea. The webview solution may work as a good compromise. I think any recent version of the webview probably can handle PDFs, it's built in, and if we can make it that the user can also open it with other apps, that would work well.

[2018-09-13 11:51] sanjitchak commented on #352
Yes, for opening with other apps, user may have the option of downloading the pdf. Maybe, a warning message if the user clicks on download.

[2018-11-12 03:10] debpedrano opened #392 "Logo Proposal for Project Enhancement"
Good day PO,

This repo is getting bigger and I am offering you logo design for the repo, everything is for free. I just want to contribute and gain more knowledge about graphics.

Is there any chance I can open up this issue and have your permission to create a logo?

[2018-11-13 17:02] octacode commented on #392
@cpg it won't do us any harm to have a fancy logo for our repo. Your views please

[2018-11-13 23:16] debpedrano commented on #392
I'll create a simple but attractive logo for you

[2018-11-13 23:39] cpg commented on #392
We will need to know what are the conditions/license of use. We get it that you are doing it to promote and/or enhance your skills, however, we need to know the details. Thanks!

[2018-11-14 05:05] debpedrano commented on #392
Any license is good and you don't need to pay me. All you need to do is to give me the details/information or your perspective design.

[2018-11-20 10:34] cpg commented on #392
What do you need from us?

We have have always wanted a "flat" version of [our logo](https://www.amahi.org/press-kit). We had some prototypes of it, but never really deployed.

[2018-11-26 12:51] debpedrano commented on #392
the project already had a beautiful logo, and I think that's the best one. Thanks!

[2018-11-26 12:51] #392 closed

[2018-12-30 00:40] mohan2106 commented on #142
I do want to work on it.

[2018-12-30 01:08] cpg commented on #142
Welcome to Amahi! Propose some changes please and let's review what you think and take it from there!

[2018-12-30 02:33] mohan2106 commented on #142
Hello sir,
I am Mohan from CSE department IIT guwahati.
I am working with Android studio from last few month. I am so excited that
I am going to work with you.
From which platform, I can do conversation with you regarding new changes
in project and can discuss about problem.

On Sun, Dec 30, 2018, 6:38 AM Carlos Puchol <notifications@github.com>
wrote:

[2018-12-31 09:01] iamrmrishan opened #394 "(Building Error)Android Gradle plugin supports only Crashlytics Gradle plugin version 1.25.4 and higher."
I got an issue when building, I got this error

and I changed the build.gradle file    `classpath 'io.fabric.tools:gradle:1.22.1'` to `classpath 'io.fabric.tools:gradle:1.25.4'.` and the app was built with no error.

should I create a pull request?

[2018-12-31 20:57] cpg commented on #394
Yes please, that is the way to contribute. Thank you.

[2019-01-01 08:00] iamrmrishan commented on #394
okay

[2019-01-01 16:38] ArihantJain456 commented on #394
@iamrmrishan
You must have updated the grading plugin version, otherwise, you will not get this problem.

[2019-01-15 13:15] RajaVamsi11 commented on #142
@cpg  Instead of toasts, snack bars can be used. A snack bar will look better than toasts. But changing all toasts into snack bars will look a little bit odd. So changing toasts into snack bars wherever necessary looks good.
My point about Login page is there is no direct create account option in login page. It would be better if there is an option like "Sign Up" in login page.

[2019-01-15 13:23] RajaVamsi11 commented on #270
@cpg Is this issue is still available for work?

[2019-01-15 13:48] RajaVamsi11 opened #397 "Place `google()` repository as the first priority repository"
In build. gradle file jcenter() repository have first priority than google() repository. My idea is to Place `google()` repository as the first priority repository to avoid such errors like
                **Failed to resolve: multidex-instrumentation**
  Here is link to check to solve this error [https://stackoverflow.com/questions/45608362/android-studio-3-0-beta-1-failed-to-resolve-com-android-

[2019-01-19 10:45] RajaVamsi11 commented on #397
@ArihantJain456 Here jcenter() is at first priority. We have to change this also.

[2019-01-19 10:57] ArihantJain456 commented on #397
@RajaVamsi11  ok, go ahead.

[2019-01-20 07:02] gopikaharikumar opened #400 "Translations for the app in Hindi and Malayalam"
**Summary**

This application does not have translations for Hindi and Malayalam

**Steps to reproduce the issue**

1. Go to settings of your phone
1. Change the language to Hindi or Malayalam

**Observed Behaviour**

The language does not change to Hindi or Malayalam.

**Expected Behaviour**

The language should change to Hindi or Malayalam.

**Phone and Android version**

Vivo V11
Android 8.1.0

[2019-01-20 07:03] gopikaharikumar commented on #400
May I please work on this issue?

[2019-01-20 07:09] gopikaharikumar opened #401 "Missing Issue Template"
This repository is missing an issue template. Issue template allows the contributor to express their  issues in a much better way.

[2019-01-20 07:09] gopikaharikumar commented on #401
May I work on this issue?

[2019-01-20 07:33] cpg commented on #394
Looks like potential user error.

[2019-01-20 07:33] #394 closed

[2019-01-20 08:02] #397 closed

[2019-01-20 08:16] RajaVamsi11 opened #402 "Update the compile and target SDK versions"
**Summary:**
The compileSdkVersion and targetSdkVersion which are now set to versions 26 and 25 respectively, must be changed to 28( Android Pie) as the latest Android APIs must be used to make use of the latest features.
Increasing the SDK versions of the app will not break any compatibility with older devices as we are not making any change in minSdkVesrion.

[2019-01-20 08:16] RajaVamsi11 commented on #402
@ArihantJain456 @cpg  Can I start working on this issue?

[2019-01-24 10:02] RajaVamsi11 commented on #401
@gopikaharikumar It has been four days. I don't think adding issue template will take that long.
@cpg Can I work on this issue if it is not a problem to @gopikaharikumar

[2019-01-24 10:21] RajaVamsi11 opened #406 "Missing Pull request template"
This repository does not contain Pull request template. If we add PR template it would be better for developers while pushing the changes and making a Pull request.

[2019-01-24 10:22] RajaVamsi11 commented on #406
@cpg Working on this issue. Can you please assign me this issue.

[2019-01-24 20:57] cpg commented on #406
GH has a template for all this, it turns out.

[2019-01-24 20:57] #406 closed

[2019-01-25 20:21] RajaVamsi11 commented on #401
@gopikaharikumar You can close this issue as @cpg added templates of both issues and pull requests.

[2019-01-27 12:51] shivammaindola opened #408 "'android.enableAapt2' is deprecated and should not be used anymore."

[2019-01-27 12:54] shivammaindola commented on #408
This is my first issue, @cpg can I start working on this issue

[2019-01-29 11:47] chirag-jn commented on #300
Is this issue still active?

[2019-02-02 16:01] iadeelzafar opened #411 "It should Show an empty view when there's nothing to show on the Home Page"
I made an account on Amahi's website and then when I logged in using the mobile app it shows nothing when there are no HDA files on the Home Page.

<img src = "https://user-images.githubusercontent.com/36811908/52166320-8a5ef000-272d-11e9-817e-6fd63ca7b09c.jpg" height="550" width="329">

It will be much better if it shows an empty view. An empty view to mention something like "You haven't added an

[2019-02-03 00:01] iadeelzafar commented on #411
I'd love to work on this. Just let me know if I can start working on this.

[2019-02-07 15:10] jddeep commented on #376
@cpg Hello! Can I work on this issue and improve the theme and UI?

[2019-02-07 17:30] cpg commented on #376
Sure. I would suggest you propose something first and share it with the team for feedback before putting a lot of work into it.

[2019-02-08 04:46] jddeep commented on #376
@cpg cool. So where should I propose about my idea? here only??

[2019-02-08 04:49] octacode commented on #376
Yes, you can share your screenshots here

[2019-02-08 04:55] jddeep commented on #376
Ok thanks then.

[2019-02-08 06:24] jddeep commented on #376
![screenshot_20190208-114538](https://user-images.githubusercontent.com/43133646/52462136-d24f9e00-2b97-11e9-9acd-7f1f37ef2d2a.png)

@cpg please take a look at this.
And I could not look into other screens as I don't have an account and cannot sign in. I understand that Amahi is a home server and without the server, the app won't be usable. But me being a developer how can I work on the different

[2019-02-08 06:32] octacode commented on #376
Hi @jddeep, setting up the the Amahi server is an important part of the development. You will be able to make much more significant contributions once you have done that.
I'd recommend that you set up the server on a VM like me and many of the developers.

https://viky.co.in/2017/05/20/install-amahi-server-for-development/

This blog might help you do so.

Also, I would recommend that you ask doub

[2019-02-12 11:59] gopikaharikumar commented on #82
May I work on this issue?

[2019-02-16 13:35] shivammaindola opened #412 "TextView overlapping ImageView in RelativeLayout"
When text is long, it overlaps the more_options ImageView on its right, covering it as shown in figure below.

![screenshot_2019-02-16-17-30-33-155_org amahi anywhere](https://user-images.githubusercontent.com/39567362/52900512-bb0a5380-321c-11e9-8423-e7e3ed5bd86b.png)

After solving, it will look like this-

![screenshot_2019-02-16-18-17-28-397_org amahi anywhere](https://user-images.githubuserco

[2019-02-16 13:39] shivammaindola commented on #412
@cpg can I send pull request?

[2019-02-20 22:21] #412 closed

[2019-02-27 02:47] Sreyas-108 commented on #411
Its been more than 24 days since this issue has been raised. Can I work on this issue as my first contribution?

[2019-02-27 02:48] Sreyas-108 commented on #411
Its been more than 24 days since this issue has been raised. Can I work on this issue as my first contribution? @cpg

[2019-02-27 10:25] cpg commented on #411
@iadeelzafar for something relatively simple like this there is no need to ask for permission and just wait. Best is to do it and submit a PR for review/merging. We were busy.

@Sreyas-108 ... in deference to @iadeelzafar, we should let him have a chance to work on it if he is still interested. If he does not reply in a few hours/days, we can go ahead.

[2019-02-27 12:56] iadeelzafar commented on #411
@Sreyas-108 Go ahead. Good Luck!

[2019-02-28 17:39] chirag-jn commented on #352
Are we still planning to open the PDFs in an external viewer or can I start working on opening the PDF in a webview?

[2019-02-28 19:21] chirag-jn opened #422 "Stuck on Intro activity in Android TV"
**Describe the issue**
When I tried running the app in Android TV via emulator, I was not able to go past the intro activity on clicking Get Started.

**To Reproduce or Feature details**
Steps to reproduce the behavior:
1. Run the app on an Android TV / Android TV Emulator
2. Continue with the intro activity.
3. Click on Get Started and you will return to the same intro activity.

**Expected behav

[2019-03-01 12:07] zedlabs opened #423 "blank screen when back button presses on navigation activity"
when back button is pressed twice (1st to remove nav. drawer,2nd to exit app) after running the app from android studio, a blank screen appears.It only appears if the app is launched from android studio

Steps to reproduce the behavior:
1. Run the app from android studio,select device
2. on the default activity(navigation activity) press back twice

**Expected behavior**
App should close

![ggu](h

[2019-03-01 15:04] cpg commented on #423
I vaguely recall that the part about the app not exiting [was on purpose](https://github.com/amahi/android/issues/249) because it was too easy to exit and other apps would not exit so easily.

Do you think things have changed since then and we should exit?

[2019-03-01 16:40] zedlabs commented on #423
in the android UI guidelines it specifies that if any data(form,login info etc.) is not lost, then back button should exit the app otherwise if some data is present common practice is to display a toast message with "press back again to exit" to confirm from the user

[2019-03-03 05:49] #82 closed

[2019-03-03 05:54] octacode commented on #423
I remember discussing this "Press back again to exit" toast message for exiting the app before. We decided not to go with it back then.

Also, I too think that pressing back button should close the app when the navigation drawer is being displayed since, our home screen is empty.

Or, we can show the list of shares on the home screen when the app is launched then we don't have to change anything o

[2019-03-03 05:56] octacode commented on #422
@chirag-jn, Please go ahead and fix this issue.

[2019-03-03 05:58] #401 closed

[2019-03-03 06:00] octacode commented on #400
I was able to review the Hindi strings :+1:

[2019-03-03 06:00] #400 closed

[2019-03-03 07:03] gopikaharikumar opened #427 "Removal of hard coded strings"
**Summary**
The hard coded strings should be removed.

**Device and android version**
Device: Vivo V11 pro
Android version: 8.1.0

[2019-03-03 07:04] #427 closed, assigned to cpg

[2019-03-03 08:01] chirag-jn commented on #422
Sure @octacode. Trying to solve this issue right now.

[2019-03-06 13:00] shivammaindola opened #428 "Implementing Animation in RecyclerView"
![video2gif_20190306_181602](https://user-images.githubusercontent.com/39567362/53882656-f38f9700-403c-11e9-9c99-773bd4d4974e.gif)

@cpg @octacode Can I add animation in above list while scrolling? I think, it will look preety cool.

[2019-03-07 11:43] gopikaharikumar opened #429 "Removal of hard coded strings"
**Describe the issue**
A clear and concise description of what the bug/feature is.

**To Reproduce or Feature details**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error or expected behavior

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain you

[2019-03-07 11:43] #429 closed, assigned to cpg

[2019-03-07 11:45] gopikaharikumar opened #430 "Removal of hard coded strings"
**Summary**
The hard coded strings should be removed.

**Device and android version**
Device: Vivo V11 pro
Android version: 8.1.0

[2019-03-09 06:38] shivammaindola opened #431 "Error coming while scrolling Recent files"
_**Summary**_
I opened more than 20 files(including music, photos, videos, etc), clicked on Recent files and scrolled down. Suddenly App crashed and went back to the home screen.
Below is the gif of error.

![video2gif_20190307_184949](https://user-images.githubusercontent.com/39567362/54067235-c2dd7680-4263-11e9-9fa8-751eab76e2c8.gif)

**Device and android version**
Device: Redmi 6 pro
Android ve

[2019-03-10 08:40] stupidly-logical commented on #430
I would like to work on this issue.

[2019-03-10 09:12] stupidly-logical commented on #423
@octacode I second you suggestion to show the list of share on the home screen as it is blank as of now. Would like to work on it if it is okay. @cpg

[2019-03-10 10:31] stupidly-logical commented on #431
I've investigated this issue a bit and so far I didn't get any relation between the crash and the scrolling or number of recent files. However a particular file is making it crash.

[2019-03-10 11:51] stupidly-logical opened #433 "getLastPathSegment() doesn't work with '?'"
**Describe the issue**
Using getLastPathSegment() does not get the complete file name from the URI. This occurs on this line: https://github.com/amahi/android/blob/dda04f1e6e5e5a4723e02e5134e457ecb5cdb653/src/main/java/org/amahi/anywhere/adapter/RecentFilesAdapter.java#L61
and also in RecentFile.java

It creates problem when getting the mime type because for file //special-chars/test ?.png it only

[2019-03-10 12:05] stupidly-logical commented on #431
It was due to getLastPathSegment() behaviour. Details: #433

[2019-03-10 18:43] shivammaindola commented on #431
Nice, it solved.

[2019-03-10 19:25] #431 closed, assigned to cpg

[2019-03-10 19:26] #433 closed, assigned to cpg, octacode

[2019-03-11 15:24] cpg commented on #423
@stupidly-logical Let's give the option to work on a fix to this first to @zedlabs. He was the one suggesting the issue, etc.

As to what needs to be done, I think we should do what most apps do and if they do what the guidelines suggest, all the better.

[2019-03-11 15:24] cpg commented on #428
Please go ahead. There is really no need to ask for permission, especially for smaller things (which I believe this may be).

[2019-03-11 15:28] stupidly-logical commented on #423
Cool. :peace_symbol:

[2019-03-11 15:47] zedlabs commented on #423
I would suggest creating  a new home activity as default which includes lists from shares and recent files, this is a common way with many recent apps.

[2019-03-12 06:50] balaji-ramavathu opened #435 "Sign Out in Settings doesn't ask for confirmation"
**Describe the issue**
When Sign Out is clicked in Settings, it is directly signing out without asking for confirmation. This will be a problem if Sign Out is clicked accidentally.

**To Reproduce or Feature details**
Steps to reproduce the behavior:
1. Go to Settings
2. Click on Sign Out
3. See that confirmation dialog is not displayed before signing out.

**Expected behavior**
A confirmation dia

[2019-03-12 06:51] balaji-ramavathu commented on #435
I am going to solve this.

[2019-03-12 15:16] #435 closed, assigned to cpg

[2019-03-12 17:03] balaji-ramavathu opened #437 "App crash after Sign out and Sign in again"
**Describe the issue**
After sign out, if we sign in again, app crashes

**To Reproduce or Feature details**
Steps to reproduce the behavior:
1. Go to Settings
2. Click on Sign out
3. Try to Sign in again
4. Boom

**Logs**
E/AndroidRuntime: FATAL EXCEPTION: main
    Process: org.amahi.anywhere, PID: 30957
    java.lang.IllegalArgumentException: context is null
        at android.accounts.AccountMa

[2019-03-18 13:12] balaji-ramavathu opened #441 "Sort files by descending order of size"
**Describe the issue**
Some times user wants to know which files have more size and viceversa. So letting the user sort according to descending order of file size will be really helpful.

I am going to work on this.

[2019-03-19 15:19] shivammaindola opened #443 "Fatal exception. Bad notification for startForeground."
This exception occurs in SDK 27 (Android 8.1) but not in lower SDK versions.
[code]
Here is the Gif of the error.

![video2gif_20190319_202410](https://user-images.githubusercontent.com/39567362/54617310-05cef380-4a87-11e9-9a52-40112f1e6684.gif)

[2019-03-19 20:58] adi23arora commented on #422
Can I work on this? it's open for a while now.

[2019-03-19 21:45] csoni111 commented on #443
Resolved in #444

[2019-03-19 21:45] #443 closed, assigned to cpg

[2019-03-20 11:54] #441 closed, assigned to cpg

[2019-03-20 17:24] shivammaindola commented on #423
@zedlabs Are you working on this issue?

[2019-03-20 18:12] balaji-ramavathu opened #447 "Inform user if there's no internet connection while trying to access media files"
**Description**
If there is no internet connection while trying to see image files or play any video / audio files, the progressbar is shown continuously instead of displaying an error toast and going back.

**Expected behavior**
A toast should be displayed that there's no internet connection and need to go back to previous page.

[2019-03-20 18:13] balaji-ramavathu commented on #447
I am going to solve this.

[2019-03-21 07:13] zedlabs commented on #423
@shivammaindola you can work on it if you want

[2019-03-21 08:58] shivammaindola commented on #423
@zedlabs  Ok Thanks.

[2019-03-21 16:17] adi23arora opened #450 "App crashing on using Download and Upload Services"
**Describe the issue**
Fatal Exception encountered when displaying a notification for starting foreground services like Download and Upload Services. This exception occurs due to the absence of any notification channel for displaying that notification, which is required for Android SDK versions Oreo 8.0 (SDK 26) and up.

**Screenshots (Video)**

![notif_channel_issue](https://user-images.githubuse

[2019-03-21 16:18] adi23arora commented on #450
I am working on this, will send a PR soon.

[2019-03-22 17:44] shivammaindola opened #453 "Add an option to ask for password or pattern everytime application start"
To make our application more secure, we can add the privacy feature in settings where a user can set his own password or a pattern to unlock the app during startup. User can disable or enable this feature from the settings at any time.

It will look like this.

![lock](https://user-images.githubusercontent.com/39567362/54842316-a4fa2200-4cf7-11e9-8f85-4c45d27279a7.gif)

[2019-03-22 17:48] shivammaindola commented on #453
@cpg @octacode @csoni111 can I start working on this?

[2019-03-25 08:51] shivammaindola commented on #453
@codedentwickler any thought?

[2019-03-25 09:52] #450 closed, assigned to cpg

[2019-03-25 14:01] cpg commented on #270
@RajaVamsi11 yes

[2019-03-27 16:50] shivammaindola opened #454 "Duplicated menu items in the action bar"
This issue is occurring after uploading any file as shown in gif.

![video2gif_20190327_220518](https://user-images.githubusercontent.com/39567362/55095565-5b864a00-50de-11e9-9689-def328378c92.gif)

Steps to reproduce the behavior:
1. Goto any folder
2. Upload any file
3. Press back button

[2019-03-27 18:27] shivammaindola opened #456 "Audio controller fragment is displaying for a fraction of seconds"
ServerFilesActivity is showing an audio controller fragment at the bottom of the screen for a fraction of second.

**Expected behavior-** When no song is playing, it should not show the audio controller fragment at the bottom of the screen.

This gif is playing at 0.5x to show the actual error.

**Gif of the error-**
![video2gif_20190327_232900](https://user-images.githubusercontent.com/39567362/5

[2019-03-28 08:51] adi23arora commented on #456
@shivammaindola I also encountered the same issue, it shows that audio controller on start of every fragment. It has a bigger consequence, if you are playing any music in background, it abruptly stops that on the start of every fragment .
Are you working on fixing this?

[2019-03-28 10:14] shivammaindola commented on #456
Yes, @adi23arora I'm trying.

[2019-03-28 13:06] shivammaindola opened #457 "audio_controller_fragment is overlapping over castMiniController"
After playing a song on a cast device when a user goes back to share activity and again start the next activity then audio_controller_fragment is overlapping over castMiniController as shown in gif.

![video2gif_20190328_182123](https://user-images.githubusercontent.com/39567362/55159351-cd19d300-5186-11e9-9bae-0c2e771644e9.gif)

**Steps to reproduce the behavior:**
1. Setup cast device
2. Play a

[2019-03-30 13:22] balaji-ramavathu opened #459 "Categorise files based on the file type"
**Describe the issue**
Currently, files inside the shares are displayed only Folders wise. It would be easier for the user to access the files if we can list them by categories like Audio, Videos, Images, Documents & others.
The idea is to show these categories when user opens a share and below these categories section, we can put a 'View Folders' option which takes the user to the current Folders

[2019-03-31 16:30] cpg commented on #459
I think I could not reply to this before. I think this is a nice-to-have feature, but not really greatly important, because the user places the files themselves, so they know where they are.

I mentioned an alternative a "recent files" but that needs to have some monitor of when files show up or get updated.

Have you implemented this? Where is that screenshot from?

[2019-03-31 18:15] balaji-ramavathu commented on #459
I haven't implemented yet. The screenshot is from the inbuilt Files app in my phone. I thought of getting feedback about this idea before working on it. About 'recent files', we can include 'Recents' category along with others to show the recently opened files in the share.

[2019-03-31 18:35] balaji-ramavathu commented on #459
I think we can do this: We can let the user choose if he want to view categories or not. We can do this by providing a toggle like option, that toggles between 'View categories' and 'View folders' which on choosing, changes the content on the screen  to categories or folders accordingly. By default, folders will be shown, and user can change it anytime. How does that sound?

[2019-03-31 18:38] cpg commented on #459
I am not convinced. It adds complexity with little value-add (in my view).

Edit: BTW, in the case of the Files app, that makes sense, because it's a collection of heterogeneous files dumped there from various other apps, in many cases it may be done automatically or semi-automatically. In our app, it does not make as much sense.

Now let's think how would that work --- will the app have to scan e

[2019-03-31 19:00] balaji-ramavathu commented on #459
Yeah, it needs to scan every folder to get all files that come under the selected category.
We can implement the current way of sorting the list of files. So the default list order will be in descending order of their modified time, and can be sorted based on file size, name etc.. just like the existing way of sorting.
I need to figure out if the metadata will be preserved or not.
And yeah I agree

[2019-04-03 11:15] chirag-jn commented on #453
@shivammaindola are you working on this?
@cpg in my opinion, having a security feature is a nice add-on if the user wants it as it will give one layer of protection while someone tries to access the files stored on the server.

[2019-04-03 12:09] shivammaindola commented on #453
@chirag-jn  Yes, I'm trying to implement a fingerprint authentication security feature, will send a PR soon.

[2019-04-04 19:59] #459 closed, assigned to cpg

[2019-04-09 15:38] chirag-jn opened #461 "Incorrect placement of icon"
**Describe the issue**
The cross icon which appears while searching for a file in the files navigator doesn't appear to be correct in the landscape mode.

**To Reproduce or Feature details**
Steps to reproduce the behaviour:
1. Go to Shares
2. Rotate device to landscape mode.
3. Click on the search icon.
4. See the placement of cross icon.

**Expected behavior**
The cross icon should appear close

[2019-04-09 17:50] balaji-ramavathu commented on #461
can I fix this?

[2019-04-09 18:22] chirag-jn commented on #461
@balaji-ramavathu
I have started working on this.

[2019-04-09 18:24] balaji-ramavathu commented on #461
okay

[2019-04-09 19:36] balaji-ramavathu opened #462 "Query in the Search bar is not preserved on screen rotation"
**Describe the issue**
In ServerFilesActivity, on screen rotation to landscape or from landscape to portrait mode, the activity is recreated, hence any query in the search bar gets lost.

**To Reproduce or Feature details**
Steps to reproduce the behavior:
1. enter any search query
2. Rotate to landscape

**Expected behavior**
Search query should not be lost.

**Screenshots**
![orientation-gone](h

[2019-04-10 08:37] balaji-ramavathu opened #464 "After selecting the server from the drawer, servers list is not closed"
**Describe the issue**
After selecting the server from the server list in the navigation drawer, server list is still displayed instead of navigation items.

**To Reproduce or Feature details**
Steps to reproduce the behavior:
1. Select any server from the servers list.
2. open the drawer again
3. servers list is still displayed

**Expected behavior**
Servers list should be closed and the navigati

[2019-04-10 08:50] chirag-jn commented on #464
What if we want to change the server after selecting one?

[2019-04-10 08:55] balaji-ramavathu commented on #464
You can click on the server name again to select. Generally users don't shift from one server to other so quickly to make the list open for them. Instead, we need to show the shares, apps and other items so that user can access them quickly. You can see this practice in Google play store navigation drawer also. There, if you have two or more accounts and select one of them, the accounts list gets

[2019-04-10 11:57] balaji-ramavathu opened #466 "Dialogs in Settings screen disappear on screen rotation"
**Describe the issue**
Sign out dialog, connection dialog and 'Auto upload photos' preference that are used in Settings screen disappear when the screen orientation changes.

**To Reproduce or Feature details**
Steps to reproduce the behavior:
1. Go to Settings
2. Click on sign out or connection to see the dialogs
3. rotate screen to landscape or from landscape to portrait
4. See the dialogs disap

[2019-04-13 11:37] balaji-ramavathu opened #468 "Alert dialogs doesn't persist on screen rotation"
**Describe the issue**
Alert dialogs like Delete file confirmation dialog, Duplicate file upload dialog disappear on screen rotation.

**To Reproduce or Feature details**
Steps to reproduce the behavior:
1. Choose Delete option of any server file or any recent file / try to upload any file which already exist.
2. Rotate device when the dialog pops up
3. See that dialog disappear

**Expected behavi

[2019-04-15 11:57] balaji-ramavathu opened #470 "UI of the first slide of Intro page is not proper in landscape"
**Describe the issue**
The text in the first slide of Intro Screen is fuly not visible and is overlapping with 'Skip'.

**Screenshots**
![preview-land](https://user-images.githubusercontent.com/26673203/56130234-f79ac700-5fa1-11e9-8c3c-93de521ae156.jpg)

**Smartphone:**
 - Device: Huawei Honor 7X
 - OS: Android 8.0.0

I am going to fix this.

[2019-04-19 09:48] #470 closed, assigned to cpg

[2019-04-20 12:02] #468 closed, assigned to cpg

[2019-04-30 17:04] shivammaindola commented on #461
@chirag-jn are you working on this?

[2019-06-05 21:22] balaji-ramavathu opened #474 "Light Theme Implementation"
**Describe the issue**
Implementing light theme throughout the app

[2019-06-08 15:00] #474 closed, assigned to cpg

[2019-06-10 11:07] balaji-ramavathu opened #476 "Migrating the project to AndroidX"
**Describe the issue**

Advantages of Migrating the project to AndriodX:
1. The project follows consistent namespaces all starting with 'androidx'. So no more confusion with those support libraries v4, v7, v13, v?.
2. Unlocks the usage of the new Jetpack components.

This step is recommended by Google, as they replaced the old support libraries with androidX and are no longer maintained. So I cons

[2019-06-10 15:32] #476 closed, assigned to cpg

[2019-06-19 18:30] balaji-ramavathu opened #478 "Material design and UI improvements"
**Describe the issue**
UI/UX improvements to follow Material design guidelines.

[2019-06-28 16:01] #478 closed, assigned to cpg

[2019-07-02 06:43] balaji-ramavathu opened #481 "Unable to make HTTP requests in Android Pie"
**Describe the issue**
In Android Pie, HTTPS is made default, which is not letting the app to make HTTP requests. Read more about it [here](https://android-developers.googleblog.com/2018/08/introducing-android-9-pie.html)

**To Reproduce or Feature details**
Try to get Shares list in app with Android Pie smartphone.

**Logs**
D/OkHttp: --> GET https://pfeng.amahi.org/shares http/1.1
    Session: 8

[2019-07-09 20:11] balaji-ramavathu opened #483 "Friending feature"
**Describe the issue**
This feature allow users to gives the HDA's access to other users, helpful in sharing content with each other.

[2019-07-10 08:35] cpg opened #485 "move chromecast app id to secrets file"
**Describe the issue**
We need to not make the app id public.

[2019-07-21 19:49] balaji-ramavathu opened #486 "Improving files sorting"
**Describe the issue**
1. Sorting files by type of the file can be a useful feature.
2. Sorting order should be on both ways: ascending and descending.
3. Current method of toggling sort options can be replaced by selecting an option from a dialog.

[2019-07-25 21:25] balaji-ramavathu opened #488 "Display of last opened of each file"
**About the issue**
option to store the time and date everytime a file is opened and can be displayed as a part of file info.

[2019-07-26 07:29] csoni111 opened #490 "Use of thumbnails instead of full image in files list/grid view"
Our backend server now supports generating 100 x 100 px (approx) thumbnails for all image files. We can use those thumbnails instead of the loading the full image in the list/grid view showing all files in a directory.
Docs for this are available [here](https://github.com/amahi/amahi-anywhere-specs#reading-files) under cache element. More on this is present [here](https://github.com/amahi/amahi-an

[2019-07-30 21:01] #481 closed, assigned to cpg

[2019-08-16 07:03] balaji-ramavathu opened #493 "Music player Shuffle and Repeat features"
shuffle and repeat options in the music player can provide better audio streaming experience to the user. So the music player should have:
1. Shuffle toggle button that can be turned on/off anytime and when it is turned on, audio files will be  shuffled to some random order.
2. Repeat option should toggle between repeat all and repeat only one. For repeat all option, the audio list will be repeate

[2019-09-09 19:00] mr-volatile opened #496 "Showing connection error instead of wrong credentials on sign in page."
![Screenshot_20190910-002617](https://user-images.githubusercontent.com/26926669/64558714-29059c00-d362-11e9-802b-d4b7ed30b262.png)

[2019-09-09 19:01] mr-volatile commented on #496
And provide correct login credentials.

[2019-09-09 19:01] mr-volatile commented on #496
Why there is no Signup/Register option??

[2019-09-10 09:38] cpg commented on #496
Good point -- it should be pointed out in the app that the Amahi app needs a home server to be used. We put that in the description (IIRC; well, also in iOS, since I remember putting it), but it probably would be better in the app.

Also, the error should be corrected.

[2019-09-10 10:00] vaandhare commented on #496
Thank you @cpg.
Can you please provide me correct credentials to access the app?

[2019-09-10 10:28] cpg commented on #496
This is not the place to request them. Follow the details in the README please

[2019-09-17 16:41] njnaman commented on #377
if this issue is open can i work in this?

[2019-10-09 14:07] mr-volatile commented on #496
Hello @cpg
This was my first PR, please can you merge this PR?

[2019-10-09 16:50] balaji-ramavathu commented on #496
Hey @vaandhare you need to set API properties before building the app. You need to follow steps in README to do that. Seems like you haven't done that. This is the reason you are getting inappropriate error message.

The app contacts with API via the internet to check the credentials. So it first checks if there is internet connection and only if the connection is available, it checks if the crede

[2019-12-13 15:33] Bluesachinkr commented on #437
@balaji-ramavathu Can i work in that issue as well ? if allow

[2020-01-01 09:53] amitYadavDev commented on #490
can i work on this issue? @csoni111

[2020-01-03 07:47] csoni111 commented on #490
@amit6663  I guess its already done in this [pr](https://github.com/amahi/android/pull/495).

[2020-01-17 05:12] AnDx25 opened #505 "How to install this application and make it work in Android Device"
**Describe the issue**
A clear and concise description of what the bug/feature is.

**To Reproduce or Feature details**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error or expected behavior

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain you

[2020-01-18 00:31] maharishi-01 commented on #32
Sir, is this issue is open till now????

[2020-01-20 16:55] ankushmundhra commented on #461
@chirag-jn can i work on this issue?

[2020-01-20 20:21] vibhusharma101 commented on #462
can I work on this issue @cpg

[2020-01-26 13:13] preadatorshek opened #506 "Useless DropDown"
**Describe the issue**

**Describe the issue**
  In the Navigation Section there is a Dropdown Menu on the top Named as Welcome to Amahi!
   That is completely useless not only it looks ugly but this is no code to be procced while tapping on
    Welcome to Amahi.

**Expected behavior**

There is no need of the Dropdown

**Screenshots**

![Amahi Issue](https://user-images.githubusercontent.com/4847

[2020-01-26 13:20] octacode commented on #506
Hi @preadatorshek
This dropdown is used for switching between HDAs. Its an important feature of the app

[2020-01-26 13:20] #506 closed, assigned to cpg

[2020-02-16 16:09] shrootis commented on #496
Same problem is with me..though net is on there is connection problem...So I am mailing to support team for url and details..

[2020-02-17 16:42] shrootis commented on #496
This is something to keep private and you obtain it by sending a message to support at Amahi dot org.
I mailed but didnt get reply....is it support@amahi.org only na

[2020-02-17 19:28] shrootis opened #507 "App crashed with landscape as well as Query issue(Myntra)"
App crashed on reopening as there was a problem in setDelay method as far as i can judge plus there is some problem with sql querry.
error in generating contents from myntra.com

[2020-02-17 19:29] shrootis commented on #507
This is my first attempt of learning how to find bugs and other issues.Please help me in doing so....

[2020-02-25 12:04] dipu989 opened #509 "Create responsive landscape activity for intro"
**Describe the issue**
Intro activity is not responsive in landscape mode.

**To Reproduce or Feature details**
Steps to reproduce the behavior:
1. Switch the app in landscape mode.
2. Start the intro and check the first screen.

**Expected behavior**
The screen should be scrollable so that the user can view the instructions properly.

**Screenshots**
![Screenshot_2020-02-25-17-17-45-27_8f7f52555d

[2020-02-25 12:05] dipu989 commented on #509
I will fix this issue!

[2020-02-26 19:14] samarth30 commented on #509
hey @dipu989  I have also installed the application and ran it on horizontal view but the intro view pager is running just fine without any error. I think you have installed the application from the playstore rather than installing beta version of the amahi application from this repository.

I hope this would help you

[2020-02-27 06:51] dipu989 commented on #509
@samarth30 I have installed the app from the GitHub repository.

[2020-02-27 09:03] AkshobhyaP commented on #509
Hey @dipu989 how did you get the api.properties value required to build the application. I am unable to login without them. It would mean a lot if you helped out. Thank you.

[2020-02-28 11:02] developershutt opened #511 "No checks on username TextField if it contains spaces."
In Authentication class there's no condition that checks if username contains spaces before authentication.

[2020-02-28 11:09] developershutt commented on #511
![Screenshot_20200228-163334](https://user-images.githubusercontent.com/20475549/75543901-d7081e00-5a48-11ea-8d22-86c3566ae37b.png)

[2020-02-28 12:08] developershutt commented on #511
I've created PR #510 that fixes this issue

[2020-02-29 11:02] somenath1435 commented on #496
@octacode @cpg @shrootis @balaji-ramavathu How to get secret key? Please elaborate

[2020-02-29 13:46] spielers commented on #509
@dipu989 I checked the app it's working perfectly fine in horizontal view the page is also scrollable

[2020-02-29 13:49] spielers commented on #509
Hey @AkshobhyaP send a message to support@amahi.org and they will provide you
amahi = URL
url.proxy = URL
client.id = ID
client.secret = SECRET
chromecast.app.id = APP_ID

hope this will help you.

[2020-02-29 13:53] spielers commented on #507
@shrootis check the logs

[2020-03-01 07:19] spielers commented on #496
@somenath1435 message to support@amahi.org about credentials
they will give
url.amahi = URL
url.proxy = URL
client.id = ID
client.secret = SECRET
chromecast.app.id = APP_ID
 hoe this will help you

[2020-03-01 09:44] somenath1435 commented on #496
@spielers I've already sent an email to support@amahi.org but haven't got any reply

[2020-03-01 13:38] spielers commented on #496
@somenath1435 ask in IRC Channel

[2020-03-01 16:04] somenath1435 commented on #496
@cpg @octacode @balaji-ramavathu please suggest what to do

[2020-03-05 11:57] samarth30 opened #513 "Unable to access some items in Navigation Drawer"
**Description of the issue**
In the landscape mode in the Navigation Activity in navigation drawer I am unable to scroll down to access item as of now there are not items but in future when friending feature will be introduced then it will not be accessable in landscape mode

**Screenshots**
<a href="https://imgflip.com/gif/3rhaw3"><img height="300" src="https://i.imgflip.com/3rhaw3.gif" title="ma

[2020-03-07 12:20] AkshobhyaP commented on #513
Hey @samarth30 , from where can i get the credentials required to build the application.

[2020-03-08 08:01] developershutt opened #517 "No checks on internet connection"

[2020-03-08 08:06] #517 closed, assigned to cpg

[2020-03-08 08:28] developershutt opened #519 "No checks whether the device is connected to internet or not on Login screen"
Fixed in PR #511

[2020-03-08 12:37] Ahmed-Abd-Elsamie opened #520 "UI no Changes for selecting menu item"
Select item from side menu problem

Selection color doesn't changes when select item Apps or Shares

Problem
![Screenshot_2020-03-08-13-59-09-448_org amahi anywhere](https://user-images.githubusercontent.com/41450463/76162769-49fc4d80-6149-11ea-897f-088486a6f01f.jpg)

While it should be like this when selecting apps
![Screenshot_2020-03-08-14-31-00-485_org amahi anywhere](https://user-images.githu

[2020-03-17 05:12] nileshteji commented on #423
When can use a ALert Dialog if this is caused due to closing of the application

[2020-03-17 05:21] nileshteji opened #524 "Should be Using Handler for the Splash Screen which is more Efficient then the current process which is being used"
**Describe the issue**
A clear and concise description of what the bug/feature is.

**To Reproduce or Feature details**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error or expected behavior

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain you

[2020-03-17 05:23] nileshteji commented on #524
No need of Splash Activity Because we are not using the Application

[2020-03-17 05:50] nileshteji commented on #524
Also I am not getting the flow of the project splash screen should be shown with some design on it or animation and we should have method to check a user is already logged in or not.For this i need to have chat with you sir

The flow Should be as Follows:

if user is not logged in;
Splash->Authentication->Navigation

if user is logged in
Splash->Navigation

For This we need to have a method which

[2020-03-17 08:10] #423 closed

[2020-03-18 08:10] zedlabs commented on #520
I think this has been fixed in the beta branch, the screenshot is from the production version.

[2020-03-19 23:00] chirag-jn commented on #485
Sir, isn't this issue resolved? The CHROMECAST_APP_ID is accessed using BuildConfig as of now, so it's not private.

[2020-03-19 23:14] chirag-jn commented on #509
I think that @samarth30 is right. I am not facing any issue either in landscape mode. Can you please mention your screen's resolution and ppi too @dipu989 ?

![amahi_landscape](https://user-images.githubusercontent.com/31701616/77123182-665f8a80-6a65-11ea-9deb-e4066a339006.jpg)

[2020-03-19 23:15] chirag-jn commented on #519
@manish29071998 Please preserve one PR for one bug/issue/feature only.

[2020-03-19 23:16] chirag-jn commented on #437
I don't seem to face this issue. It worked fine for me.

[2020-03-19 23:39] chirag-jn opened #525 "User behavior issue with spaces in Login"
**Describe the issue**
When we try to login in the app, if we have whitespace on the right of the username (which weren't supposed to be there), login still works.

**To Reproduce or Feature details**
Steps to reproduce the behavior:
1. Enter your username and password which should work fine.
2. Before pressing the sign in button, enter any amount of whitespace on the right.
3. Try signing in.
4.

[2020-03-19 23:44] chirag-jn commented on #525
@cpg @megabitdragon @octacode
Can you please tell what would be the best fix for this issue?
We can just ignore the whitespace in the end and strip it before sending the login request further. If that fix works, then please let me know. I would love to go forward and implement the same.

[2020-03-19 23:47] chirag-jn commented on #525
#511 talks about handling spaces in the username. That would certainly fix this issue too. But that won't explain why this issue exists in the first place.

[2020-03-30 20:35] Ahmed-Abd-Elsamie opened #528 "Refresh indicator problem"
Refresh indicator sometimes is being stuck while loading

![Screenshot_2020-03-30-22-30-23-923_org amahi anywhere](https://user-images.githubusercontent.com/41450463/77959369-c1e80e80-72d6-11ea-8716-34dae4e176bb.jpg)

[2020-03-30 20:39] Ahmed-Abd-Elsamie opened #529 "App Crash in settings"
The app crashes when changing between light and dark theme

![Screenshot_2020-03-30-20-54-05-484_com miui home](https://user-images.githubusercontent.com/41450463/77959652-3c189300-72d7-11ea-99cf-ae5df640362c.jpg)

[2020-03-31 11:21] Soroyesodiq commented on #525
@chirag-jn the source code uses trim() method which removes the spaces and returns the omitted string when users click the sign in button. This is the ethical way of authenticating logins.

[2020-03-31 12:05] chirag-jn commented on #525
You are right @Soroyesodiq It's ethical and valid of authenticating usernames. However, it was only working for trailing whitespaces and not leading whitespaces. I'll surely look into this further. Thanks for pointing out!

[2020-03-31 15:23] chirag-jn commented on #529
Is this an issue in every phone or is it specific to the manufacturer of your device?

[2020-03-31 15:59] chirag-jn opened #530 "Navigation Drawer Not Available inside Folders"
**Describe the issue**
Navigation Drawer isn't available on right swipe inside folders. The burger menu icon at the top gets replaced with a back icon.

**Expected behavior**
For easy navigation, Navigation Drawer should be available on every screen. On swiping right from the edge of the screen, we should be greeted with a navigation drawer.

**Screenshots**
If applicable, add screenshots to help

[2020-03-31 16:00] chirag-jn commented on #530
If it's a good enough suggestion, can you please let me know if I can start working on this?

[2020-04-07 16:05] Ahmed-Abd-Elsamie commented on #529
Yes, i tried running the app on multiple devices and it's still crashing

[2020-04-23 09:23] liziwl opened #532 "Do you have a demo server"
I could not find a demo server and an account for it to try.
Can you provide one?

[2020-04-23 09:48] codedentwickler commented on #532
Hi @liziwl, please sIgnup here https://www.amahi.org/signup.

You should be able to login with the credentials you use to signup.

[2020-06-07 16:49] #462 closed, assigned to cpg

[2020-06-07 16:50] #464 closed, assigned to cpg

[2020-06-07 16:52] #466 closed, assigned to cpg

[2020-06-09 23:32] #422 closed

[2020-06-12 16:45] chirag-jn commented on #529
@Ahmed199810 Seems weird. Can you please give the specifications of those devices?

[2020-06-12 17:13] Ahmed-Abd-Elsamie commented on #529
The first is real device (Xiaomi Redmi note 7 Android 9)
The second is emulator Nox with Android 5
@chirag-jn

[2020-06-12 23:32] chirag-jn commented on #529
@Ahmed199810 could you figure out what went wrong?

[2020-06-17 04:25] Prince-kushwaha commented on #530
I want to work on this problems

[2020-06-17 08:24] chirag-jn commented on #530
@Prince-kushwaha, sure, give it a try once?

[2020-06-17 12:49] Prince-kushwaha commented on #530
actually i am beginner it is my first open source project  i fork the project in my pc when i open it in my android studio it,s activity layout not show. project Gradle and sdk not download automatically
please help

[2020-06-17 13:03] chirag-jn commented on #530
@Prince-kushwaha it would be great if you can post the error you are facing

[2020-06-18 22:30] chirag-jn opened #537 "Localization Support"
**Feature Request**
Add support for changing app language in the Settings page.

Related issue: #32

[2020-06-19 03:09] Prince-kushwaha commented on #530
i try but i not solve able to solve this issue

[2020-06-19 03:13] Prince-kushwaha commented on #530
i try but i not able to solve this issue

[2020-06-19 03:18] Prince-kushwaha commented on #530
tell me i am beginner which issue i chose
in open issue how know on which issue anyone not  working

[2020-06-19 14:36] chirag-jn commented on #483
Related PR: #523 #484

[2020-06-19 14:42] chirag-jn commented on #524
Please follow discussion in PR #526

[2020-06-21 07:25] chirag-jn opened #540 "Firebase Analytics and Crashlytics"
**Feature Request**
We can connect Firebase Analytics and Crashlytics to monitor real time activity and crashes. That way we can fix them in future releases easily.
Analytics and Crashlytics are offered as free services in Firebase.

Reference:
1. https://firebase.google.com/docs/crashlytics/
2. https://firebase.google.com/pricing

[2020-06-22 11:19] #456 closed, assigned to cpg

[2020-06-22 11:20] cpg commented on #457
Not really closed by #458

[2020-06-22 11:22] #430 closed, assigned to cpg

[2020-06-22 11:24] #428 closed, assigned to cpg

[2020-06-22 11:25] #461 closed, assigned to cpg

[2020-06-29 11:11] #454 closed, assigned to cpg

[2020-06-29 11:13] cpg commented on #453
Not too practical

[2020-06-29 11:13] #453 closed, assigned to cpg

[2020-06-29 11:22] #496 closed, assigned to cpg

[2020-06-29 11:46] chirag-jn opened #546 "Add Spanish Translation to the App"

[2020-06-29 17:48] Akash-Ramjyothi opened #547 "VPN Proxy Tunnel Support"
**Feature Request:**

- Add support for VPN proxy so that user can access the HDA from the phone over a VPN proxy tunnel

- This would establish a tunnel to VPN Server to replace regular ISP routing and to encrypt and secure all network traffic.

- To enable multi-hops on connections through the server.

- To prevent privacy leaks while accessing server files.

- To prevent Geo-Blocks.

- To reduc

[2020-06-29 22:26] chirag-jn opened #548 "Localization Support"
We need support for adding localization in the app in multiple languages as well as vet the translations for their correctness.

Google Sheet with the current translations:
https://docs.google.com/spreadsheets/d/1NAl8xWGDRj6MmLHKyESONAAyudOHdFnSbaqF1Pr28sE/edit?usp=sharing

This sheet doesn't update itself and has to be maintained.

[2020-06-29 22:26] chirag-jn commented on #548
Current translations needed: French and Spanish

[2020-06-29 22:27] #546 closed, assigned to cpg

[2020-06-29 22:28] chirag-jn commented on #548
Related issues: #32 #546 #537
Related PR: #545

[2020-06-29 22:53] chirag-jn commented on #548
Please refer file `LANGUAGES.md` to understand how to add a new language to the app.

[2020-06-30 15:04] chirag-jn commented on #548
@cpg I have added Spanish Translations in the sheet. Please check and review the same.

[2020-06-30 20:16] Akash-Ramjyothi opened #549 "Improve UI/UX"
### **Feature Request:**

- To Improve Interactivity of the App.
- To Maintain Uniformity.
- To Develop Platform Specific Design.
- To Implement in Activity Transitions/Animations.

[2020-07-01 23:21] Akash-Ramjyothi opened #551 "Store and display the last opened of each file"
### **Feature Request:**

Currently, the Amahi android app has a feature to show the day and date of each opened file. If there was a feature to display the date in the traditional "dd-MMM-yyyy" format along with time in "h:mm" format as a part of the File Info of each file, it would be easier to maintain records.

[2020-07-02 19:04] Akash-Ramjyothi opened #552 "Add Espresso Based UI Testing Protocol"
### **Feature Request:**

- To Test User Interactions
- To verify the functionality of the UI components to provide the expected results
- To provide synchronization of test actions with the UI component of the android app
- To Implement Espresso framework to detects when the main thread is idle
- To check that the target app returns the correct UI output in response to user interactions in the ap

[2020-07-06 07:07] chirag-jn commented on #411
In accordance with #449, we are now showing shares on the home page. So we don't have to show an empty state screen anymore.

[2020-07-06 11:09] #437 closed, assigned to cpg

[2020-07-06 11:10] cpg commented on #411
We don't need this any more because we show shares.

[2020-07-06 11:10] #411 closed

[2020-07-06 11:23] chirag-jn opened #554 "Spanish Translations Required"
For reference, see Issue #548

[2020-07-06 11:25] #537 closed, assigned to cpg

[2020-07-06 11:37] #447 closed, assigned to cpg

[2020-07-06 15:31] chirag-jn commented on #505
Please check the section on "Building the App" in the README

[2020-07-06 15:32] chirag-jn commented on #507
Can you elaborate further on this issue @shrootis

[2020-07-06 16:26] chirag-jn commented on #520
This issue doesn't exist in the beta version and will be fixed in next production release.

[2020-07-06 16:41] chirag-jn commented on #402
This issue can be closed as this is already solved and merged.

[2020-07-06 16:44] chirag-jn commented on #376
Since in the current version of the app in the beta branch, we already have a light and dark theme, I guess we can close this issue.

[2020-07-07 10:29] #509 closed, assigned to cpg

[2020-07-07 10:38] cpg commented on #32
Closing favor #548

[2020-07-07 10:38] #32 closed

[2020-07-07 10:39] cpg commented on #142
We have reached a fair level of material-designedness.

[2020-07-07 10:39] #142 closed

[2020-07-07 10:41] cpg commented on #376
Closing because we have light/dark theme support by now.

[2020-07-07 10:41] #376 closed

[2020-07-07 10:42] cpg commented on #402
Closed

[2020-07-07 10:42] #402 closed

[2020-07-07 10:42] #505 closed, assigned to cpg

[2020-07-07 10:44] cpg commented on #507
Please post an exact url that shows this issue and reopen if you still experience it.

[2020-07-07 10:44] #507 closed, assigned to cpg

[2020-07-07 10:46] cpg commented on #524
This first comment in the issue posts the template as is without specifying details. Reopen if it's still an issue please.

[2020-07-07 10:46] #524 closed, assigned to cpg

[2020-07-07 10:47] cpg commented on #520
It's fixed in the `beta` branch. Set for release. Closing. Thanks for reporting it.

[2020-07-07 10:47] #520 closed, assigned to cpg

[2020-07-07 10:47] #532 closed, assigned to cpg

[2020-07-07 10:48] #485 closed, assigned to cpg

[2020-07-07 10:49] cpg commented on #490
Merged already, thanks!

[2020-07-07 10:49] #490 closed, assigned to balaji-ramavathu

[2020-07-08 19:59] RGlass89 opened #556 "Amahi front-end not working from the App Menu"
I am getting the following error message unknown app when I am opening the Amahi Front-end from the Apps menu this is called Dashboard but this is the Amahi server front end I have included the screenshots the first one is the app menu, I have try some of the apps like plex, Emby, and the others work fine

[Screenshot_20200705-111156_Amahi](https://user-images.githubusercontent.com/28194743/869632

[2020-07-09 15:51] sanjitchak opened #557 "'Amahi Anywhere' not reachable error."
**Describe the issue**
Whenever I try to see "shares" in the android app, that error pops up.

**To Reproduce or Feature details**
Steps to reproduce the behavior:
1. Install amahi anywhere
2. Click on 'shares'
3. Wait
4. Error

**Expected behavior**
I expect to see my shares of my hda.

**Screenshots**
![Screenshot_20200709-210258](https://user-images.githubusercontent.com/20724062/87061899-f8182

[2020-07-09 15:54] sanjitchak opened #558 "Android app force close"
**Describe the issue**
Android force closing every few seconds, after running in the background for an hour.

**To Reproduce or Feature details**
Steps to reproduce the behavior:
1. Open the app
2. Keep it on the background
3. Keep doing other stuffs on your phone like browsing web.
4. See error

**Expected behavior**
No force close

**Screenshots**

![unnamed (2)](https://user-images.githubuserco

[2020-07-10 19:27] RGlass89 opened #559 "Unable to connect to Amahi home server when not on my home network"
I am unable to connect to my share and file in my server when not on my home network,  I remember this work a few years ago , I have test this on the version of the app on google store and the gsoc2020 version too, I am running Amahi 11 on fedora 25 on my live server not  a vm machine,

**Expected behavior**
No connection

**Screenshots**
![Screenshot_20200710-181642_Amahi.jpg](https://user-images

[2020-07-11 10:43] chirag-jn commented on #557
We need to revamp the documentation so that it's more user friendly and beginner-friendly.

[2020-07-11 11:01] chirag-jn commented on #559
If we change our connection mode to `Remote`, we still can't access the server either, even if we are on our home network. Do you have any thought about this? @Akash-Ramjyothi

[2020-07-12 09:21] Ahmed-Abd-Elsamie commented on #529
@chirag-jn I have figured out the problem and fixed it.
the problem was in the NavigationActivity.class , after changing between light and dark theme we finish the activity then start it again from itself. and this will cause the app to crash because we are trying to start it from null context.

Solution :
i removed startActivityForResult function and replaced it with the following:
1 - once openi

[2020-07-12 19:41] sanchi0204 commented on #557
What exactly needed to be done in this issue?

[2020-07-12 20:04] chirag-jn commented on #557
This issue is not something related to the android app but it's related to the Amahi server. Reinstalling Amahi Anywhere app on the Amahi 11 Server solves this bug but I'm not completely sure where the issue is.

[2020-07-12 21:01] sanjitchak commented on #557
Yes, more like an issue with "Amahi Anywhere" app in the server. Maybe the amahi anywhere service fails to start if no android is detected.

[2020-07-12 22:25] chirag-jn commented on #557
That seems to be a bug. Probably the process running the Amahi anywhere app enters the waiting state but isn't getting an appropriate handler to wake up again. Any thoughts on this @cpg ?

[2020-07-13 11:08] chirag-jn commented on #559
The issue persists with Amahi's proxy server and how it handles requests.

[2020-07-13 11:15] #556 closed, assigned to cpg

[2020-07-18 21:28] RGlass89 opened #566 "Send/share file to folder on amahi server"
**Describe the issue**
In setting have a share option that allows the user to select a share to store any file that is send or share

Many times I have a files on my phone that I would like to share/send to my amahi server share

**Expected behavior**
Select any file on the phone and click on the file and select share and pick the icon for Amahi icon , this would send copy if file to the folder on

[2020-07-19 14:04] RGlass89 opened #567 "Unable to change the selected server on the app"
I have notice that I am unable to change the server if there any connection error

If I have selected one if my test server and it not working , it keep trying to connect then display error message connection failed, but will not give the user time to change the server to other servers

**Additional context**
Need more than one amahi server to be able to see this bug

[2020-07-19 21:18] chirag-jn commented on #525
This issue doesn't exist anymore, hence can be closed.

[2020-07-19 21:18] #525 closed, assigned to cpg

[2020-07-19 21:23] chirag-jn commented on #519
This is automatically checked once the user tries to log in even if they are disconnected from the internet.

[2020-07-22 04:51] Akash-Ramjyothi opened #569 "Add Material Icons for Settings Activity"
### Feature Request:

- The "Settings" screen on the android app has a lot of space on the left-hand side corner as shown below.
- These spaces can be filled with Google's Material Icons to provide more comfortable navigation to users.

![screenshot_2020-07-20-16-35-40-17_8f7f52555d974a92fa29728873f61978 (1)](https://user-images.githubusercontent.com/54114888/88135470-bf525180-cc04-11ea-908a-521ac

[2020-07-23 20:53] chirag-jn commented on #558
The issue which causes app close is as follows:

`1 {"LOGCAT":"07-24 02:10:26.753 E\/AndroidRuntime( 3297): FATAL EXCEPTION: main\n07-24 02:10:26.753 E\/AndroidRuntime( 3297): Process: org.amahi.anywhere, PID: 3297\n07-24 02:10:26.753 E\/AndroidRuntime( 3297): java.lang.RuntimeException: java.lang.IllegalStateException: Not allowed to start service Intent { cmp=org.amahi.anywhere\/.service.UploadS

[2020-07-23 21:02] chirag-jn commented on #558
Stacktrace file

https://drive.google.com/file/d/1nToecy7L3JVP7pjjQqD-bGw-i5zEULtn/view?usp=drivesdk

[2020-07-23 21:04] chirag-jn commented on #558
The issue seems to exist with the UploadService which keeps on forcing the app to restart even after it crashes. @Akash-Ramjyothi

[2020-07-26 16:00] chirag-jn commented on #558
@cpg Suggestion Needed.
Starting Android Oreo (v8) Android implemented a lot of restrictions on Background services, hence, any service remaining in the background gets suspended automatically, hence the app crashes as the service converts to a Null reference.
https://medium.com/exploring-android/exploring-background-execution-limits-on-android-oreo-ab384762a66c

Can we instead move the task of up

[2020-07-26 22:28] chirag-jn commented on #557
Since the related issue in `hda-ctl` is solved, we can close this issue.

[2020-07-26 22:30] chirag-jn commented on #511
In this case, the app says "The Username or Password are incorrect". I hope that is sufficient.

[2020-07-26 22:33] chirag-jn commented on #408
`android.enableAapt2` doesn't exist in the `gradle.properties` file anymore!

[2020-07-26 22:38] chirag-jn commented on #300
Since the spinner is already replaced, this issue isn't relevant anymore! Solved in PR #380

[2020-07-27 04:38] #557 closed, assigned to cpg

[2020-07-27 21:54] chirag-jn opened #577 "Travis takes a lot of time"
The current `travis.yml` configuration installs multiple versions of the Android SDK while in practice, it should install only one version which is getting used.

[2020-07-28 08:47] Akash-Ramjyothi opened #579 "Outdated Libraries"
Few libraries such as :

- JUnit Framework
- Timber Library

Are outdated, and have new updates from their respective sources.

[2020-07-28 19:20] chirag-jn commented on #579
Related Issue #214 regarding libvlc library

[2020-07-28 19:35] chirag-jn opened #582 "[BUG] App not connecting on Android 4.x devices"
**Describe the issue**
The app isn't signing in when tested on Android 4.x devices. The app supports minimum SDK version Android 4.2 and it failed to work for a 4.x device.

**Screenshots**
![image](https://user-images.githubusercontent.com/31701616/88712365-3cb32000-d137-11ea-980f-41e11e22fa1c.png)

**Smartphone (please complete as much of the following information as possible):**
 - Device: Nexu

[2020-07-28 19:37] chirag-jn commented on #582
Turns out this issue is a common issue visible on Android 4.x devices and the server is responsible for the same. If TLSv1 is disabled on the server, the app will raise `SSLException`
https://stackoverflow.com/questions/37006416/sslexception-connection-closed-by-peer-on-android-4-x-versions

[2020-07-28 19:41] chirag-jn commented on #582
The credentials work completely fine on Android 8 though.
Related stacktrace
[code]

[2020-07-29 09:11] chirag-jn commented on #582
Since SSL Handshake isn't reading anything, I guess TLS1 isn't enabled on `api.amahi.org`

![image](https://user-images.githubusercontent.com/31701616/88781080-89374380-d1a9-11ea-8119-c5935d1080c6.png)

[2020-07-29 09:12] chirag-jn commented on #582
Since SSL Handshake isn't reading anything, I guess TLS1 isn't enabled on `api.amahi.org`
[code]

[2020-07-29 09:22] cpg commented on #582
Probably -- we use some strengthening tools to tune our TLS settings. However, we have not changed that in a while. We would miss out on about 5% of devices, from a cursory look. Other things like design and such may also be broken in these devices, so perhaps it's not worth the effort to support them in this case?

[2020-07-29 10:21] chirag-jn commented on #582
I wanted to ensure that very fact of broken design in old devices but couldn't go past the login screen. However Android 4.4 counts for 1.8% of the world android usage. We can expect an even lesser number for versions below that. So I guess we can eliminate those versions in favour of security.

Ref: https://gs.statcounter.com/android-version-market-share/mobile-tablet/worldwide

[2020-07-29 10:29] chirag-jn commented on #582
App works fine on Android 5.0 though

[2020-07-29 10:38] #551 closed, assigned to Akash-Ramjyothi

[2020-07-29 10:39] #214 closed

[2020-07-29 10:39] #579 closed, assigned to Akash-Ramjyothi

[2020-07-29 10:55] #323 closed

[2020-07-29 10:55] #493 closed, assigned to cpg

[2020-07-29 11:10] #577 closed, assigned to cpg

[2020-07-29 11:37] #582 closed, assigned to cpg

[2020-07-29 11:41] cpg commented on #558
Your proposal sounds like a good approach.

[2020-07-29 12:58] RGlass89 opened #584 "Backup photo to the server from the phone"
I am testing the backup function on the app, this is working great but unable to clear the notifications message

**To Reproduce or Feature details**
Create a share on your Amahi server and the point to the share in the backup in setting of the app, then take a photo this should be backup to the server

**Expected behavior**
Should be able just acknowledge the backup of the photo

![Screenshot_202

[2020-07-29 17:06] cpg commented on #567
Maybe you can use the Welcome Server as a second server.

[2020-07-29 17:35] Akash-Ramjyothi opened #586 "Add Scrollbar to Screens/Activities with Server Files"
### Feature Request:

- In some cases, there are many items in a single folder.
- This becomes a challenge for users to get a glance on the amount of server files.
- If there was a scrollbar indicator, users can estimate their total files in a particular folder.
- This is also useful when Files Sorting is implemented, users can easily navigate to their desired file.

[2020-07-29 20:03] chirag-jn commented on #324
Do we have the functionality for the same on the server? Integrating it with the app wouldn't be much of a hassle then!

[2020-07-30 10:49] RGlass89 opened #588 "Recent file list not opening file"
**Describe the issue**
Us to be able to click on recent file to be able to open the file , but this has stopped

**Screenshots**
![Screenshot_20200730-114658_Amahi.jpg](https://user-images.githubusercontent.com/28194743/88914347-67e26000-d25a-11ea-80e0-5796da914546.jpg)

**Smartphone (please complete as much of the following information as possible):**
 - Device: samsung

**Additional context**
Ne

[2020-07-30 10:51] RGlass89 commented on #584
Just taken so more screenshot this show the problem in more detail ![Screenshot_20200730-115005_GitHub.jpg](https://user-images.githubusercontent.com/28194743/88914726-f22ac400-d25a-11ea-97bd-4f7dba47aeed.jpg)

I hope this help understand what is happening

[2020-07-31 05:50] #569 closed, assigned to Akash-Ramjyothi

[2020-07-31 05:51] #547 closed, assigned to Akash-Ramjyothi

[2020-07-31 15:55] Akash-Ramjyothi opened #589 "Add Rate this App Dialog Prompt"
### Feature Request:
Currently, the Amahi Android App has a feature to give ratings and feedback through the Playstore from the app. But for this, users have to navigate to Settings. After navigating, he/she has to scroll down to the bottom where a button named Rate is present to navigate to the Playstore to give ratings or feedback.
Unless the users absolutely love or absolutely hate the app, the

[2020-07-31 16:00] #549 closed, assigned to Akash-Ramjyothi

[2020-07-31 16:02] #488 closed, assigned to balaji-ramavathu

[2020-08-04 11:03] RGlass89 opened #596 "VPN Issue with the app"
**Describe the issue**
When I am not at home  I can use open vpn to connect to my server this as been working great for the last few years and it still work, so from outside my network I can see all my shares and the Amahi front end or dashboard, I can run apps on my server this is great but I am unable to use the android app, I know amahi anywhere is have problems,  but if I have connected with a

[2020-08-04 11:06] chirag-jn commented on #596
Related Issue: #559

[2020-08-04 12:32] #25 closed

[2020-08-04 12:32] #486 closed, assigned to cpg

[2020-08-04 12:35] #589 closed, assigned to Akash-Ramjyothi

[2020-08-04 12:47] #513 closed, assigned to cpg

[2020-08-04 12:47] #528 closed, assigned to cpg

[2020-08-04 13:21] cpg opened #597 "Moving from dagger-1 to dagger-2"
**Describe the issue**
Dagger-2 has been released and we should move to it

[2020-08-08 21:02] chirag-jn opened #599 "File Options Not Opening in Offline Files"
**Describe the issue**
Whenever I try to access the file options in offline files, the app crashes.

**To Reproduce or Feature details**
Steps to reproduce the behavior:
1. Go to offline files
2. Click the three dots in front of the file name
3. App crashes

**Screenshots**
![error_1](https://user-images.githubusercontent.com/31701616/89719677-7b26c580-d9e8-11ea-96ec-a44d42d11b42.gif)

[2020-08-08 21:06] chirag-jn opened #600 "Offline Files and Recent Files not Syncing with Server"
**Describe the issue**
If I delete a file from the server, it's not removed from the Recent Files and Offline Files screen.

**To Reproduce or Feature details**
Steps to reproduce the behavior:
1. Upload a file to the server and try to access it from the list of shares.
2. The file will be visible in Recent files activity which is expected behaviour.
3. Delete that particular file from the server.

[2020-08-08 21:08] chirag-jn commented on #597
Once this issue is resolved, we can easily start solving #540

[2020-08-08 22:23] chirag-jn commented on #600
If I delete a file from the server, it is still accessible from the Offline Files activity and Recent files activity.

[2020-08-08 22:59] chirag-jn commented on #558
Relevant discussion: https://stackoverflow.com/questions/46445265/android-8-0-java-lang-illegalstateexception-not-allowed-to-start-service-inten

[2020-08-09 21:43] chirag-jn commented on #558
Changing `startService()` to this

[code]

It does solve the issue but it lands us in another issue:
```android.app.RemoteServiceException: Context.startForegroundService() did not then call Service.startForeground()```
This is something specific which was introduced after Android 8 and it is a pretty common issue:

https://medium.com/pongploydev/why-start-the-service-on-android-o-and-encounter-a-

[2020-08-10 03:58] Akash-Ramjyothi opened #605 "New Type of Loading Effect"
### Feature Request:
The current Amahi Android App has a Traditional Circular Progress Bar to indicate the loading of contents which is a pretty old method. If there was a better way to indicate the loading, it would greatly increase the interface and the user experience.
![Screenshot_2020-08-10-02-47-21-17_8f7f52555d974a92fa29728873f61978](https://user-images.githubusercontent.com/54114888/897508

[2020-08-10 05:58] Akash-Ramjyothi opened #607 "Add Materialized Icons for Auto Upload Photos Screen"
### Feature Request:
The "Auto Upload Photos" Activity/Screen seems to have a lot of blank space between the Title of the Button and the Edge of the Screen. If they were to be placed with Materialized Icons compatible with both Light and Dark theme, it would be better.

![Screenshot_2020-08-09-07-12-49-14_8f7f52555d974a92fa29728873f61978](https://user-images.githubusercontent.com/54114888/89754721

[2020-08-10 10:39] #599 closed, assigned to chirag-jn

[2020-08-10 10:59] #588 closed, assigned to Akash-Ramjyothi

[2020-08-10 11:03] chirag-jn commented on #558
This issue doesn't exist in Android 7 and below.

[2020-08-10 11:22] cpg opened #611 "NAU testing for release candidate release"
**Describe the issue**
We want to test NAU so that the app works on Amahi 12 as well as older Amahi 11 and Amahi 10 server

We can probably test an AAFS v10 on an Amahi 11 VM.

[2020-08-10 11:28] #511 closed, assigned to cpg

[2020-08-10 11:28] chirag-jn commented on #511
Related PR #592

[2020-08-10 11:30] chirag-jn commented on #377
This issue doesn't exist anymore.

[2020-08-10 11:31] cpg opened #612 "Previewing while scrobbling video"
**Describe the issue**
Youtube style preview images when using the scrobble bar.

[2020-08-10 11:39] sanjitchak opened #613 "Android Beta Issue List - August 2020"
List issues to solve before making a Beta release.

[2020-08-11 11:51] #607 closed, assigned to Akash-Ramjyothi

[2020-08-11 15:51] RGlass89 opened #614 "Unable to create a folder inside a share"
**Describe the issue**
Never notice before but unable to create a folder from inside a share ,I am testing the app and want to create a folder to put all the test files ,the only option is use camera or upload file

**To Reproduce or Feature details**
Steps to reproduce the behavior:
1. Go to a share
2. click the plus
3. Use camera
4. Upload file
But I wanted to create a folder

**Expected behavio

[2020-08-11 20:50] chirag-jn commented on #613
~App crashes as soon as opened in Android TV. #625~

[2020-08-11 20:52] chirag-jn commented on #614
@cpg @sanjitchak do we have the functionality of creating a folder in amahi anywhere api?

[2020-08-11 20:53] chirag-jn commented on #548
@cpg Can we get demographic information from the Play Store console to understand our target audience?

[2020-08-11 20:54] chirag-jn commented on #540
#597 has to be solved first to solve this.

[2020-08-11 20:54] chirag-jn commented on #584
@richard-h-glass does this issue still exist?

[2020-08-11 20:58] chirag-jn commented on #613
Major issues to resolve: #611, ~#600~, #596, #584, #567, #559, ~#554~, ~#529~, ~#519~, ~#377~, ~#625~, ~#647~, #665

[2020-08-11 21:12] chirag-jn commented on #529
PR #440 already handles this issue by changing the method of accessing the context in NavigationFragment. That's another possible fix.

[2020-08-11 21:14] chirag-jn commented on #612
Related issue #270

[2020-08-11 21:29] Akash-Ramjyothi opened #616 "Increase font size of titles on Settings Screen/Activity"
### Feature Request:
Currently, in the settings screen, the titles of the respective containers appear to be smaller than the actual content inside them. If there was a feature to relatively increase the size of the title, it would be better.

![Screenshot_2020-08-12-02-20-52-78_8f7f52555d974a92fa29728873f61978 (1)](https://user-images.githubusercontent.com/54114888/89949719-fc2ec880-dc45-11ea-804

[2020-08-11 21:35] chirag-jn commented on #616
I guess that's what material design follows.

![Screenshot_20200812_030439](https://user-images.githubusercontent.com/31701616/89951261-ba535180-dc48-11ea-82f9-e448b30d954c.jpg)

[2020-08-11 22:00] #586 closed, assigned to Akash-Ramjyothi

[2020-08-11 22:22] #616 closed, assigned to Akash-Ramjyothi

[2020-08-11 22:46] chirag-jn commented on #613
https://github.com/amahi/android/wiki/Checklist-for-releases

[2020-08-13 18:29] RGlass89 opened #619 "No Thumbnail on shares folders"
**Describe the issue**
If I select welcome to Amahi on the app I get the thumbnail but if I go to a share on my server I don't get any thumbnail,  I remember that this used to work on the app , I know it used to take time to create them but that was no problem

**To Reproduce or Feature details**
Steps to reproduce the behavior
1, open a the app
2. Select a share on you server that has images on i

[2020-08-17 04:14] Akash-Ramjyothi opened #620 "Add Icons for Alert Dialogs"
### Feature Request:
Currently, the Amahi Android App has a few Alert Dialogs which confirms the user's certain operations. If there were icons in them with respect to the operation they perform, it would be better.

[2020-08-17 06:36] Akash-Ramjyothi opened #623 "Add themed swipe refresh"
### Feature Request:
Currently, the Amahi Android App has a feature to manually refresh and load the server files by swiping down on the screen. But this refresh indicator is set to default customizations. Especially in light mode, the refresh indicator is not much visible. If there was a feature where the refresh indicator is adaptable to the Amahi Android App's theme in both dark and light modes

[2020-08-17 07:18] chirag-jn opened #625 "Android TV Not Opening"
**Describe the issue**
App crashes as soon as opened in Android TV.

**Smartphone (please complete as much of the following information as possible):**
 - Device: Android TV Emulator
 - OS: Android 9

[2020-08-17 09:19] Akash-Ramjyothi opened #627 "Add In-App Update Prompt"
### Feature Request:
If there is an update for Amahi Android App, the only way how users could know about it is the notification from the Play Store. Sometimes, users enable the Auto-Update, but mostly only when connected to Wi-Fi. If there was a way to notify users about the Update inside the app regardless of Wi-Fi or mobile data, whenever a newer version is released, it would be better.

[2020-08-17 11:14] #558 closed, assigned to cpg, chirag-jn

[2020-08-17 11:37] cpg commented on #600
The app does not do syncing, so files downloaded should still be accessible on the device. This is a valid use case.

[2020-08-17 11:37] #600 closed, assigned to cpg

[2020-08-17 11:37] #519 closed, assigned to cpg, chirag-jn

[2020-08-17 11:38] #377 closed

[2020-08-17 11:38] #529 closed, assigned to chirag-jn

[2020-08-17 11:46] cpg commented on #613
#611 is by far the most important and we should test it against Amahi 11 and Amahi 12.

[2020-08-23 19:23] chirag-jn commented on #613
Cannot access the server when not on home network #559
Probably pfeng isn't still working.

[2020-08-24 08:06] Akash-Ramjyothi opened #639 "Add Improved Logout Toast"
### Feature Request:
Currently, the Amahi Android App has a way to notify users if they have logged out successfully through traditional Toast. If this toast was more styled towards the Amahi Android App's theme, it would be better.

![Screenshot_2020-08-23-21-31-20-38_8f7f52555d974a92fa29728873f61978](https://user-images.githubusercontent.com/54114888/91018739-93fcc100-e60d-11ea-8815-44be17f822bf

[2020-08-24 09:59] Akash-Ramjyothi opened #646 "Found memory leaks"
### Description:
Found the following Memory Leaks while Profiling the APK which can be dumped.

![Screenshot (769)](https://user-images.githubusercontent.com/54114888/91031634-81d74e80-e61e-11ea-964e-8e67f4b7e076.png)

![Screenshot (768)](https://user-images.githubusercontent.com/54114888/91031649-8439a880-e61e-11ea-8a83-8aa26f8f9a6b.png)

![Screenshot (767)](https://user-images.githubusercontent.

[2020-08-24 10:03] Akash-Ramjyothi opened #647 "Files sort option not fully visible"
### Description:
The files sorting options are not fully visible when used in landscape mode. This can be fixed by specifically setting and increasing the popup pixels for landscape mode.

### Demo of the Error:
![ezgif com-video-to-gif (41)](https://user-images.githubusercontent.com/54114888/91032021-032ee100-e61f-11ea-8d66-15010927d021.gif)

[2020-08-24 10:37] #620 closed, assigned to Akash-Ramjyothi

[2020-08-24 10:43] #623 closed, assigned to Akash-Ramjyothi

[2020-08-24 10:52] #625 closed, assigned to chirag-jn

[2020-08-29 06:46] RGlass89 commented on #243
I am sure this can be closed

[2020-08-29 06:47] RGlass89 commented on #258
Can this one be closed

[2020-08-29 10:42] RGlass89 commented on #584
This has been fixed on the last test of the app

[2020-08-31 05:06] #639 closed, assigned to Akash-Ramjyothi

[2020-08-31 08:24] chirag-jn commented on #613
Another important issue to solve: #646 (Memory Leaks)

[2020-08-31 09:09] chirag-jn opened #660 "Casting"
Does casting on Amahi support Miracast? I could see support for Chromecast but I couldn't get Miracast to work.

[2020-08-31 09:10] chirag-jn commented on #660
If I'm not wrong, FireTV stick uses Miracast. Youtube app supports miracast too..

[2020-08-31 10:37] #627 closed, assigned to Akash-Ramjyothi

[2020-08-31 10:38] #605 closed, assigned to Akash-Ramjyothi

[2020-08-31 15:28] cpg commented on #548
Spanish is complete

[2020-08-31 19:14] #554 closed, assigned to chirag-jn

[2020-09-03 18:24] RGlass89 opened #665 "Photo Display upload successful but it failed"
**Describe the issue**
I was taken photos at work today and the app was trying to backup the photo to my server I was on the internet but it could not connect to my server, but it was saying backup failed and then saying it was upload successful see screen shot from my phone

**Expected behavior**
Should say backup failed

**Screenshots**
![Screenshot_20200903-071113_One UI Home.jpg](https://user-

[2020-09-05 08:07] RGlass89 opened #666 "dancing dots add for file opening"
**Describe the issue**
dancing dots the new type of loading effect be add to a file that is be open from the server on the app

**Expected behavior**
This would make the app look consistent  on the app

**Smartphone (please complete as much of the following information as possible):**
 - Device: [Samsung]

**Additional context**
Would make it look great

[2020-09-06 20:16] #646 closed, assigned to Akash-Ramjyothi

[2020-09-06 23:35] Akash-Ramjyothi opened #669 "Add uniformed sorting indicator to Files Sort"
### Feature Request:
Currently, the Navigation Bar and the Files Sort follow different types of indicators. If they were following the same, it would be better.

[2020-09-07 10:46] #647 closed, assigned to chirag-jn, Akash-Ramjyothi

[2020-09-07 10:46] #666 closed, assigned to cpg, Akash-Ramjyothi

[2020-09-08 09:18] #669 closed, assigned to Akash-Ramjyothi

[2020-09-08 23:39] chirag-jn commented on #597
After moving to Dagger 2, change the `play-services-cast-framework` library version used too. For discussions, refer #671

[2020-09-11 00:39] cpg opened #672 "Beta crashes with fastscroll"
**Describe the issue**
When browsing a specific share called Movies that has 126 files in it, the app (built from `beta` as of this writing) crashes. It does not crash with other shares, which
[code]

**To Reproduce or Feature details**
Steps to reproduce the behavior:
0. Log in
1. Go to a share that has a number of files in it
2. It ought to crash

**Expected behavior**
Not crash

**Smartphone (p

[2020-09-12 13:11] dpriskorn opened #673 "Do you support F-Droid inclusion?"

[2020-09-21 19:35] Ayan-10 commented on #548
I want to fix this problem. Can i do that?

[2020-09-22 03:29] Ayan-10 commented on #548
In which string.xml folder i should make changes?
@chirag-jn

[2020-09-22 03:32] chirag-jn commented on #548
We have support for three langauges at the moment, English, French and Spanish. If you want, you can try adding another language by creating an appropriate folder. You can use the Translation Editor in Studio for this.

[2020-09-22 03:36] Ayan-10 commented on #548
which laguage should I add?
@chirag-jn
On Tue, Sep 22, 2020 at 9:02 AM Chirag Jain <notifications@github.com>
wrote:

[2020-09-22 03:37] Ayan-10 commented on #548
https://github.com/amahi/android/issues/548
Is this issue open now?
@chirag-jn
On Tue, Sep 22, 2020 at 9:05 AM Ayan Sarkar <ayansarkar1810@gmail.com>
wrote:

[2020-09-22 03:40] chirag-jn commented on #548
For any language you add, you must be able to verify if the translations are correct or not.

[2020-09-22 03:56] Ayan-10 commented on #548
Ok thank you @chirag-jn
In which String.xml folder I should add a language?

[2020-09-22 04:33] chirag-jn commented on #548
For every language, a new values folder is created and we add the corresponding strings.xml there.

[2020-09-25 10:40] cpg commented on #673
Yes

[2020-09-25 10:40] #673 closed, assigned to cpg

[2020-10-01 18:31] devptyagi commented on #672
Can I work on this issue?

[2020-10-16 02:44] asaikarthikeya commented on #548
@chirag-jn
I want to work on this. Can i add Telugu language?

[2020-10-18 10:55] rahullli commented on #665
May I work on this issue ?

[2020-10-18 10:57] rahullli commented on #619
I would like to work on this issue .

[2020-10-18 10:57] rahullli commented on #665
I would like to work on this issue .

[2020-10-20 04:09] RGlass89 commented on #665
Go for it

[2020-10-20 04:09] RGlass89 commented on #619
Go for it

[2020-10-20 21:08] shivamsawlani02 commented on #548
@chirag-jn  @cpg  Can I work on adding translations for Punjabi language?

[2020-10-23 04:24] asaikarthikeya commented on #548
@chirag-jn  Kindly review the #681

[2020-10-23 04:25] asaikarthikeya commented on #548
@chirag-jn Kindly review #681

[2020-10-23 11:33] rahullli commented on #665
I am facing API  services issue while cloning the Amahi app , can you please help me in that ?

[2020-10-25 07:42] vanieka-sharma commented on #548
@chirag-jn Can I work on this issue? I can add translations for Hindi language and other languages suggested.

[2020-10-25 17:48] RGlass89 commented on #665
Would you be able to give more details, do you have a server on vm can you see it on the network ?

[2020-10-26 07:39] sanjitchak commented on #665
Can you post a screenshot? And maybe error log also.

[2020-10-26 12:03] cpg commented on #665
@rahullli .. did you read the README file regarding how to obtain proper API credentials?

[2020-10-26 16:41] rahullli commented on #665
Can you please tell me what is vim , which I have seen in the README file .

[2020-10-27 07:24] shivamparashar165 commented on #352
Love to work on this, I can do it.

Give me a chance

[2020-11-01 09:03] chirag-jn commented on #548
@shivamsawlani02 sure.

[2020-11-03 14:32] chirag-jn opened #683 "Non-Constant Fields in Case Labels"
**Describe the issue**
With the introduction of Gradle 5.0, resource IDs won't be final anymore. Hence, a switch-case statement won't work in onClick function for view elements. We have to switch to if-else conditions of a view binding strategy for mapping resource IDs to their variables.

More information: http://tools.android.com/tips/non-constant-fields

For the first case, we have to switch fr

[2020-11-03 19:33] Prakhar-Agarwal-byte commented on #548
@chirag-jn @cpg Hey can I work on adding translations for Hindi language? I am looking forward for making my first contribution in open source.

[2020-11-03 19:38] chirag-jn commented on #548
@Prakhar-Agarwal-byte hi someone else has already completed the translation for Hindi. You can instead look at other issues with the label "good first issue"

[2020-11-03 19:47] Prakhar-Agarwal-byte commented on #683
@chirag-jn @cpg Hey can I work on this issue instead of Localisation Support? (#548 ).Please guide me where to start first as I new to code base of Amahi android.

[2020-11-03 19:59] chirag-jn commented on #683
Sure you can work on this.

[2020-11-03 20:00] chirag-jn commented on #683
The Android documentation link would be a good place to let you know about the issue.

[2020-11-03 20:45] Prakhar-Agarwal-byte commented on #530
Hey can I work on this issue?

[2020-11-04 06:13] Prakhar-Agarwal-byte commented on #683
@chirag-jn @cpg I have found 2 solutions for this issue. Please tell which is better so I can start implementing it.

1. A quick fix for this issue that we can disable NonConstantResourceId in module level build.gradle file. Code is given below -

`android {
    ...
    lintOptions {
        disable 'NonConstantResourceId'
    }
}`

2. Other fix is to replace all switch statements that use Non-Con

[2020-11-04 06:15] chirag-jn commented on #683
In the first case, you are only disabling linting for NonConstantResourceId. That still leaves it as a pain point in future versions of Gradle. However, the second option seems great!

[2020-11-04 06:17] Prakhar-Agarwal-byte commented on #683
@chirag-jn Okay I am implementing second option. Thanks for your suggestion!

[2020-11-04 07:31] Prakhar-Agarwal-byte commented on #683
@chirag-jn @cpg I have sent a PR ( #685 ) for this issue please review it. I closed this PR due to some error.

[2020-11-04 09:56] Prakhar-Agarwal-byte opened #686 "No patience"
@chirag-jn @cpg @Akash-Ramjyothi
I want to build Amahi app for that I require an api.properties file. In the[ README.md](https://github.com/amahi/android/blob/beta/README.md) file, it is mentioned that I can get one by emailing but I didn't get any response from there. This issue is prohibiting new developers from contributing to Amahi android. Please look into this issue and provide a solution.
T

[2020-11-04 12:46] vanieka-sharma commented on #548
@chirag-jn Hello I want to contribute for this project, can I work on adding  translation for German language?

[2020-11-04 13:00] chirag-jn commented on #548
@vanieka-sharma sure please go ahead.

[2020-11-04 19:48] Prakhar-Agarwal-byte opened #687 "Grammatical errors in strings.xml"
**Description**
There are some grammatical mistakes in the [strings.xml](https://github.com/amahi/android/blob/beta/src/main/res/values/strings.xml) file like missing punctuation marks or inconsistent capitalization. The correction of these mistakes will lead to the enhancement of UX. Also, it will keep in check any other mistakes of such kind that can occur in further translations (for localizati

[2020-11-04 20:47] Prakhar-Agarwal-byte commented on #683
@chirag-jn @cpg This is the new PR( #689 ) for this issue please review it.

[2020-11-04 20:55] Prakhar-Agarwal-byte commented on #687
@cpg I have sent a PR ( #690 ) for this issue please review it.

[2020-11-05 06:08] Prakhar-Agarwal-byte commented on #686
@cpg Thanks a lot, Carlos. I am closing this issue.

[2020-11-05 06:08] #686 closed, assigned to nobody

[2020-11-05 10:13] vanieka-sharma commented on #548
@chirag-jn Please review #691

[2020-11-05 11:13] Prakhar-Agarwal-byte opened #692 "Inconsistent Color in Up Arrow in Settings Activity"
**Describe the issue**
The up arrow ( Back button ) in Settings Activity has a different color than the rest of the app creating bad User Experience. The color must be white in dark mode and black in dark mode for consistency.

**To Reproduce or Feature details**
Steps to reproduce the behavior:
1. Click on the settings icon on the action bar.
2. See up arrow being of yellow color.

**Screenshot o

[2020-11-05 12:24] cpg commented on #686
Hi Prakhar,

It appears that you are not sensitive you privacy implications that are paramount to the Amahi community.

If you do this type of public posting of the emails of the team/support, in addition of incessant and unnecessarily alarming (urgent? cannot contribute?) when it appears that you _did not even install Amahi in a PC or a VM_ you will be banned from the Amahi community.

Best regar

[2020-11-05 12:29] cpg commented on #686
Hi Prakhar,

It appears that you are not sensitive to privacy implications that are paramount to the Amahi community.

If you do this type of public posting of the emails of the team/support, in addition of incessant and unnecessarily alarming (urgent? cannot contribute?) when it appears that you did not even install Amahi in a PC or a VM you will be banned from the Amahi community.

While we appr

[2020-11-05 15:31] Prakhar-Agarwal-byte commented on #686
@cpg Sorry, I am new to open source and I did not intend to violate anyone's privacy. I will take care of this incident next time. Once again my best intention was to contribute to the Amahi community, become a part of it and grow with it so I became a bit impatient. I will work with full dedication and contribute to Amahi android.

[2020-11-05 17:29] chirag-jn commented on #686
Please note that things might be a little slow, but they will happen eventually. Your contributions are continuously monitored and discussed on other platforms which aren't public, so it takes time to review things.

Our goal is to make a great application and to ensure that we need multiple reviews before adding any single line of code.

[2020-11-05 17:46] Prakhar-Agarwal-byte commented on #686
Okay, I understand.
Thanks.

On Thu, Nov 5, 2020 at 10:59 PM Chirag Jain <notifications@github.com>
wrote:

[2020-11-06 07:16] Prakhar-Agarwal-byte opened #694 "Adaptive icons for Android 8.0 and above"
**Describe the feature**
Adaptive icons were introduced in Android API level 26. Currently, the Amahi app does not have them and the adaptive icon will be nice to have feature for the latest android versions.

**Feature details**
Feature details:
1. Works for Android 8.0 and above.
2. Improves user experience.

[2020-11-11 09:53] FareesHussain commented on #597
Switching to Hilt would be better than dagger 2 right?!

[2020-11-12 00:19] FareesHussain commented on #548
so can I work on French?
what further changes are needed for french

[2020-11-12 23:05] FareesHussain commented on #548
@cpg please review this #696

[2020-11-17 11:57] vanieka-sharma commented on #548
@chirag-jn please review #691 and please tell if some more changes are required

[2020-11-22 07:01] YugN17 commented on #694
is anyone working on this??

[2020-11-22 07:04] YugN17 commented on #694
@cpg @Prakhar-Agarwal-byte ?

[2020-11-22 07:04] Prakhar-Agarwal-byte commented on #694
A Pull Request (#695 ) is already in review for this issue . So wait till it resolves.

[2020-12-02 11:16] DeepaliVerma011 opened #697 "SIGN UP??"
**Describe the issue**
Need to have a sign up activity in the application to make it easy for users.

**To Reproduce or Feature details**
Steps to reproduce the behavior:
1. Make a sign up activity before sign in.
2.signup should contain a button to sign in page.
3. A skip option should also be there.

[2020-12-02 11:40] DeepaliVerma011 commented on #697
i want to do this work
aims :
to make a ui for sign up

[2020-12-02 12:18] prabs3257 commented on #697
is this issue open can i work on it ?? @DeepaliVerma011

[2020-12-02 12:56] DeepaliVerma011 commented on #697
i am working on this issue actually

[2020-12-02 17:41] DeepaliVerma011 commented on #697
i solved the issue. please check my PR

[2020-12-03 10:02] chirag-jn commented on #697
Signing up users on the Amahi platform isn't as simple as signing up on the app. They have to first create an account at https://www.amahi.org/ and set up an HDA server. The credentials used to create the account are used to login in the app.

[2020-12-03 10:04] chirag-jn commented on #697
Please refer #452 and #500

[2020-12-04 20:17] cpg commented on #697
It's not constructive to have users of the app that may be noobs register and never install an HDA.

Installing an HDA is not light work and we do not want users that never install a system. It does not help anyone.

Sorry about the closing. It's a shame we could not use the great work you guys did.

[2020-12-04 20:17] #697 closed, assigned to cpg

[2020-12-04 21:07] #683 closed, assigned to cpg

[2020-12-04 21:10] #687 closed, assigned to cpg

[2020-12-06 22:50] #694 closed, assigned to cpg

[2020-12-07 08:14] Prakhar-Agarwal-byte opened #700 "Missing RTL Support"
**Describe the issue**
At many places, RTL support is not functioning properly or is completely missing. There should be consistent RTL support all across the app. (Screenshots attached below)

**Steps to reproduce behavior**
Turn on RTL mode on an android device by enabling Force RTL layout direction in developer options. After that, please look at the screenshots that I am attaching of the curre

[2020-12-07 11:54] Prakhar-Agarwal-byte opened #702 "Remove unnecessary files and code for Android version lower than 21"
**Describe the issue**

Since we have updated `minSdkVersion` to 21 I think it would be good if we remove code and files that are meant for `minSdkVersion` less than 21. This would also decrease the app size and clean the code.

**To Reproduce or Feature details**
1. Look for the `minSdkVersion` property in the 'build.gradle' file it is set to **21**.
2. Then lookout for files and code that are me

[2020-12-07 11:55] Prakhar-Agarwal-byte commented on #702
I am starting to work on this issue.

[2020-12-07 17:10] Prakhar-Agarwal-byte opened #703 "Correction in Hindi Translation"
**Describe the issue**
There are some errors in the Hindi translation of strings. They should be corrected.

**To Reproduce or Feature details**
Look at some specific strings in Hindi that are incorrect.

**Expected behavior**
Correct strings must be displayed.

**Smartphone (please complete as much of the following information as possible):**
All devices with Hindi set as the primary language.

[2020-12-08 04:13] imSanko commented on #703
I wanna work on to this project can you assign it to me.

[2020-12-08 04:25] Prakhar-Agarwal-byte commented on #703
@imSanko Hi! There is already a PR opened for this issue. You can instead look for other issues.

[2020-12-09 12:25] Prakhar-Agarwal-byte opened #705 "Update the compile and target SDK versions"
**Summary**
The compileSdkVersion and targetSdkVersion which are now set to versions 29, must be changed to 30 (Android 11) as the latest Android APIs must be used to make use of the latest features.
Increasing the SDK versions of the app will not break any compatibility with older devices as we are not making any change in minSdkVesrion.

[2020-12-13 08:00] Prakhar-Agarwal-byte opened #708 "New feature Filter Files by Type"
**Describe the issue**

A new feature that is filtering files by type can be added so that the user can easily find the files that he is looking for. It will be a very useful feature and it is present in many apps similar to the Amahi android app.
The idea is to add a filter menu option through which we will get a dialog to select a filtering type and all the files present in that directory will g

[2020-12-16 05:45] Prakhar-Agarwal-byte opened #710 "Improve File Sort Bottom Sheet"
**Describe the issue**

Currently, the File sort bottom sheet has sorting options written in bold, this should be corrected and made normal to have a consistent UI. Only the heading of the File sort bottom sheet must be in bold and options must be in normal font style.

**To Reproduce or Feature details**

Steps to reproduce the behavior:
1. Go to Shares
2. Click on the file sort menu option
4. Se

[2020-12-16 06:55] Prakhar-Agarwal-byte opened #712 "New Shimmer Loading Effect"
**Describe the feature**

A new type of loading popularly known as the "Shimmer Loading Effect" to replace Dancing Dots animation can be added. This type of loading is a new trend and has been proven to increase the user experience as it feels like the content is just a few microseconds away.
This similar inspiration is being followed by Facebook, Instagram, Youtube, and Payoneer too.

**Expected

[2020-12-16 06:56] Prakhar-Agarwal-byte commented on #712
I am starting to work on this.

[2020-12-20 17:57] Prakhar-Agarwal-byte opened #713 "Highlighting Name of File with Accent Color while Searching"
**Describe the issue**

Currently, when we search for a file then the file name gets highlighted with #be5e00 color which is not only NOT same as accent color but also it does not change when switching between light and dark mode. It is not consistent with the app color theme as it should match the accent color of the app both in light and dark mode.

**To Reproduce or Feature details**

Steps to

[2020-12-26 04:41] deepak-prajapatii commented on #665
@cpg Can i work on this issue?

[2020-12-26 07:56] Prakhar-Agarwal-byte opened #715 "Language Not Changing for Android API 25 and above"
**Describe the issue**

On Android devices with API version 25 and above, when we go to settings and change language, then the language does not change but in lower API versions, language changes as expected.

**To Reproduce**

Steps to reproduce the behavior in Android API 25 and above:
1. Click on the Settings menu option in the app.
2. Click on Language preference.
3. Choose any language other

[2020-12-27 15:09] deepak-prajapatii commented on #712
@cpg @Prakhar-Agarwal-byte Can I work on this issue?

[2020-12-28 15:50] Prakhar-Agarwal-byte commented on #712
@deepak-prajapatii
Hey! I have almost completed the issue. I am working on polishing the effect and refactoring the code. I will send a PR in 2-3 days. You can instead look for other issues. Thanks

[2020-12-28 17:04] deepak-prajapatii commented on #712
@cpg okay

[2020-12-28 20:11] chirag-jn opened #717 "Introduction to github actions"
**Describe the issue**
Github actions is a new way of managing of performing CI/CD and is way faster than Travis since it doesn't have to necessarily download the whole SDK on every build, hence the verification time is much lesser.

Currently travis runs in two stages
1. assembleDebug
2. assembleDebugAndroidTest

We can move both of these tests to Github actions which can provide much faster feed

[2021-01-02 12:42] shubhamgarg21156 commented on #665
@cpg i want to work on this issue

[2021-01-03 08:17] chirag-jn commented on #665
You don't need permission to work on an issue. You can start working on any issue and submit a pull request!

[2021-01-03 10:18] shubhamgarg21156 commented on #665
@chirag-jn I have cloned the project but I am not able to authenticate.
In the readme, it is mentioned that I need to set the API information to run the app and for that I need to mail to get the credentials. I have already mailed but didn't get any response. Can you help?

![image](https://user-images.githubusercontent.com/66112766/103476313-8553c100-4dda-11eb-8d61-292693a0278d.png)

[2021-01-05 08:45] Prakhar-Agarwal-byte opened #720 "Alphabetical ordering to languages in settings"
**Describe the issue**
Since we are adding more and more languages to the Amahi Android app, it will be beneficial to add a feature to sort the list of languages in settings alphabetically. In this way, it will be much easier to locate a language for the user as the number of languages supported by the Amahi Android app increases.

**To Reproduce or Feature details**
Steps to reproduce the behavio

[2021-01-05 11:32] elishahyousaf opened #722 "Text Capitalization problem"
**Describe the issue**
A clear and concise description of what the bug/feature is.

**To Reproduce or Feature details**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error or expected behavior

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain you

[2021-01-05 11:33] elishahyousaf commented on #722
I want to work on them.

[2021-01-05 12:39] Varinder-KM commented on #548
Can i add translations for Chinese language?

[2021-01-05 12:41] Prakhar-Agarwal-byte commented on #722
@elishahyousaf Can you please describe the issue?

[2021-01-05 13:38] elishahyousaf commented on #722
Thanks for asking.

Text is in small letters in many sentences. I think when some words are capital then look good and awesome.

[2021-01-05 13:49] Prakhar-Agarwal-byte commented on #722
@elishahyousaf I think grammatical correctness is necessary and we should not capitalize words just because they look good.

[2021-01-05 14:07] elishahyousaf commented on #722
Okay,
Sorry, if I wasted your time. I think it looks good.

[2021-01-05 14:26] msubham193 commented on #548
can i add  Odia language ?

[2021-01-07 17:45] Prakhar-Agarwal-byte opened #724 "Improve Instructions in Languages.md for adding new Languages"
**Describe the issue**
In the [Languages.md](https://github.com/amahi/android/blob/beta/LANGUAGES.md) file 2 points can be improved:

1. In point 1 the value of string should not be "hi-rIN",
[code]
but it should be "hi", only then it would work.
[code]
2. In point 2 we can be more specific, to avoid any confusion, and change the point from
[code]
to
[code]

**Additional context**
Many people were

[2021-01-11 05:07] Prakhar-Agarwal-byte opened #726 "Inform User to Select a Server Before Selecting a Share in Settings"
**Describe the issue**

Currently, in auto-upload photos settings when a user selects a share before selecting a server, nothing happens and the user can't figure out what the problem is as there is no info message present. To solve this issue we can present the user with a Snackbar whenever this situation arises so that the user can know to select a server first.

**To Reproduce or Feature detail

[2021-01-16 16:36] Prakhar-Agarwal-byte opened #728 "Adding More Information in the File Info Dialog"
**Describe the issue**
Currently, only the Last Opened information of the file is displayed when we open File Info. In File Info Dialog, we should mention all the relevant information about the file such as File Name, File Size, File Type, Last Opened, and Last Modified also. This presents the user with all the necessary information about the file and completes the functionality of the File Info D

[2021-01-21 18:36] Prakhar-Agarwal-byte opened #730 "Adding Press Back Button Again To Exit App Functionality"
**Describe the issue**
Currently, the user exits the app as soon as he presses the back button while on Navigation Activity. Since the app requires the user to press the back button to navigate up, the user can often, by mistake, exit the app. To prevent this from happening we should add a toast message that asks the user to press the back button again to confirm that the user surely wants to exit

[2021-01-27 14:34] masterishaan19 commented on #548
@chirag-jn Can you tell if the issue has been resolved or somethings are yet to be done?

[2021-01-27 15:07] Varinder-KM commented on #548
@chirag-jn please check  Added Translations for Chinese Language #723 pullrequest  and please tell if some more changes are required

[2021-01-27 17:23] Prakhar-Agarwal-byte opened #733 "Adding Default System Language Option in Settings"
**Describe the issue**
In the Amahi Android app, we can add a new feature that allows users to select the default system language as the in-app language as well. It will make a great feature, as mostly users prefer to use the language in their apps same as the system language. If the app does not support the language which the user has set as system language then the app will use English Language

[2021-02-01 07:48] Prakhar-Agarwal-byte opened #735 "Scrollbar in Settings Activity Not Themed"
**Describe the issue**
Currently, the scrollbar in the Settings Activity is not themed. It should get themed according to light and dark mode.

**To Reproduce or Feature details**
Steps to reproduce the behavior:
1. Go to Settings
2. Scroll the list
4. See that the scrollbar is in the default android theme and not according to the app theme.

**Current behavior**

See the grey colored scrollbar (d

[2021-02-10 08:32] Prakhar-Agarwal-byte opened #737 "System Following Dark and Light Mode"
**Describe the issue**

We can add a new feature to the app such that the app follows the system dark and light mode automatically i.e. if the user's device is in dark mode then the app will also be in dark mode and the same for light mode also. We can let the user select the System Default option in the settings. This type of app theming is followed in many updated and popular apps such as WhatsA

[2021-02-12 11:41] Prakhar-Agarwal-byte opened #739 "Prevent Memory Leaks"
**Describe the issue**

Currently, in the codebase, there are some inner classes that are not static. Inner classes have an implicit reference to their parent activity which can, in some cases, cause memory leaks. To avoid memory leaks we should make inner classes static.
This issue is related to #646

For example, we can change this

 to this

[2021-02-18 06:34] Prakhar-Agarwal-byte opened #741 "File Info Not Opening for Recent Files"
**Describe the issue**

Currently, there is a bug in the app i.e. when we click on file info in more options of a file in RecentFilesActivity, nothing happens. Actually, it should display a dialog box displaying the file info of the selected file as it happens normally in the app. I inspected the code and found that no functionality is linked to the clicking of the file info option. This must be c

[2021-02-18 07:34] iamsachin45 opened #743 "app is not open from navigation bar(Foreground service)"
**Describe the issue**
A clear and concise description of what the bug/feature is.

**To Reproduce or Feature details**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error or expected behavior

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain you

[2021-02-18 07:36] iamsachin45 commented on #743
Can i work on this issue

[2021-02-23 15:59] Prakhar-Agarwal-byte opened #744 "Refresh Icon in Recent Files Activity Not Themed"
**Describe the issue**
Currently, when we do a pull-down gesture in recent files activity, the refresh icon appears. This refresh icon is not themed properly. Also, it does not change in light and dark mode. But, it is working fine in other parts of the app.

**To Reproduce or Feature details**
Steps to reproduce the behavior:
1. Go to 'RecentFilesActivity
2. Do a pull-down gesture to make the ref

[2021-02-25 12:16] Prakhar-Agarwal-byte opened #746 "App Crashes When Video Player is Closed"
**Describe the issue**
When we open any video in the app and close it after it starts, then the app crashes. Crash report:-
[code]

**To Reproduce or Feature details**
Steps to reproduce the behavior:
1. Go to Videos
2. Click on any video
3. Let it play and then press the back button
4. See that the app crashes.

**Current behavior**

https://user-images.githubusercontent.com/17739006/109152226-35

[2021-02-27 17:22] #692 closed, assigned to cpg

[2021-02-27 18:00] #703 closed, assigned to cpg

[2021-02-27 18:00] #705 closed, assigned to cpg

[2021-02-27 18:05] #702 closed, assigned to cpg

[2021-02-27 18:07] #710 closed, assigned to cpg

[2021-02-27 18:09] #713 closed, assigned to cpg

[2021-02-27 18:10] #715 closed, assigned to cpg

[2021-02-27 18:18] #717 closed, assigned to chirag-jn

[2021-02-27 19:07] #724 closed, assigned to cpg

[2021-02-27 19:12] #720 closed, assigned to cpg

[2021-02-27 19:16] #730 closed, assigned to cpg

[2021-02-27 20:58] #739 closed, assigned to cpg

[2021-02-27 23:03] #733 closed, assigned to cpg

[2021-02-27 23:22] #726 closed, assigned to cpg

[2021-02-27 23:25] #741 closed, assigned to cpg

[2021-02-28 14:12] Prakhar-Agarwal-byte opened #749 "Adding Retry Action to Snackbar when File Upload Fails"
**Describe the issue**

When a file upload is not successful a snackbar shows up but it does not have a retry action in it. But when a camera upload fails the snackbar has a retry action. I think we should add retry action to the snackbar when file upload fails, so that users can try again to upload files, without much hassle.

**To Reproduce or Feature details**
Steps to reproduce the behavior:
1

[2021-03-03 17:05] mrudultora commented on #548
@chirag-jn Everyone here is trying to add translations, but can we ask users if they want to contribute too. We can use any third party service and directly connect them with this github repo. For ex, crowdin. So, at the end this can be automated also. Your views ?

[2021-03-04 00:49] #700 closed, assigned to cpg

[2021-03-04 00:50] #708 closed, assigned to cpg

[2021-03-04 00:51] #735 closed, assigned to cpg

[2021-03-04 00:52] #737 closed, assigned to cpg

[2021-03-04 00:54] #728 closed, assigned to cpg

[2021-03-04 00:55] #744 closed, assigned to cpg

[2021-03-04 00:58] #749 closed, assigned to cpg

[2021-03-04 08:42] kartikeysaran commented on #746
Can i work on this issue ?

[2021-03-04 09:12] kartikeysaran commented on #746
@Prakhar-Agarwal-byte why does the app shows "Connection error ! Check your settings and try again " even after successful registration

[2021-03-04 09:34] Prakhar-Agarwal-byte commented on #746
@kartikeysaran You have to first get API keys. You can find the instructions on how to get it in Readme file.

[2021-03-04 10:39] Prakhar-Agarwal-byte opened #751 "Thumbnails Not Showing In Shares"
**Describe the issue**
Thumbnails are not loading in the shares of servers other than Welcome to Amahi. When I select any other server then no thumbnails are displayed.

**To Reproduce or Feature details**
Steps to reproduce the behavior:
1. Select a server other than Welcome to Amahi
2. Goto your share and notice that no thumbnails are being displayed.

**Expected behavior**
See that thumbnails a

[2021-03-04 11:25] kartikeysaran commented on #746
Thanks !

[2021-03-04 14:48] #712 closed, assigned to cpg

[2021-03-04 14:49] #619 closed, assigned to cpg

[2021-03-04 14:49] #751 closed, assigned to cpg

[2021-03-05 08:59] kartikeysaran commented on #746
Hey prakhar i have mailed regarding the Access to API keys ! till when will i get a reply . Thankyou !!

[2021-03-05 09:36] Prakhar-Agarwal-byte commented on #746
You will get them soon.

[2021-03-05 09:53] chirag-jn commented on #597
Hilt seems to be built above Dagger 2 only. If you can go ahead and work on it, it would be nice!

[2021-03-05 09:53] chirag-jn commented on #530
Sure.

[2021-03-05 09:55] chirag-jn commented on #548
@cpg your views on this?

[2021-03-05 10:46] Prakhar-Agarwal-byte commented on #597
Hilt is still in alpha and we should take caution in using it in production (my opinion). What I think is first we should move to Dagger 2 then later we can add Hilt as it is based on Dagger only.

[2021-03-11 07:29] Prakhar-Agarwal-byte opened #753 "German Language Not Working Bug"
**Describe the issue**
When we change the language to German in settings, the language does not change to German instead it defaults to the English language.

**To Reproduce or Feature details**
Steps to reproduce the behavior:
1. Go to Settings
2. Click on Language
3. Choose the German language
4. See that language does not change to german.

**Expected behavior**
Language should change to German

[2021-03-14 07:44] msubham193 commented on #548
@chirag-jn Hello Iam new in this project can i add German language in it...

[2021-03-14 17:15] #753 closed, assigned to cpg

[2021-03-15 02:28] msubham193 commented on #548
@chirag-jn  Can I add German Language To it.

[2021-03-17 08:46] msubham193 commented on #548
Hi @chirag-jn Iam Newbie in Opensource  Can i Add Odia (indian) language To it....

[2021-07-05 17:27] cpg opened #757 "Build fails due to bintray"
**Describe the issue**
Bintray shut down. We should support the new way of getting Gradle plugins: via the Gradle plugin publish plugin

See https://plugins.gradle.org/docs/bintray

Looks like registration is required or something. How will this be automated?

**To Reproduce or Feature details**
Errors happen when trying to build.

[2021-08-28 18:31] duttabhishek0 commented on #757
Hey, the error is due to the fact that `jcenter()` is present as a dependency in the `gradle.build` file. Removing it will resolve the problem. Can I work on this issue?

[2022-06-26 20:04] adicoder95 opened #758 "How about migrating the project from java to kotlin."
Kotlin based apps can perform better, thus making the app smoother.
I am a Kotlin developer and I would love to contribute in this project.